@using Csn.Retail.Editorial.Web.Features.Shared.HtmlHelpers
@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@using Csn.Retail.Editorial.Web.Infrastructure.Extensions

@{
    Layout = "~/Features/Shared/Views/_LayoutBasic.cshtml";
    var tenantName = Html.CurrentTenant().TenantName;
    var title = string.Format("{0} - www.{0}.com.au", Html.CurrentTenant().TenantName);
}

@section Head {
    <title>@title</title>
}

@section Styles {
    @Html.AssetCss("error-page--" + tenantName)
}

@section TopScripts {
    @Html.AssetJs("error-page--" + tenantName, LoadType.Defer)
}

<div class="error-container">
    <div class="error-content">
        <h1 class="error-content__header">Ooops.....</h1>
        @RenderBody()
    </div>
</div>

@section BottomScripts
{
    @{ Html.RenderPartial("Partials/Hotjar/_hotjarTracking"); }
}