@{
    Layout = "ErrorTemplate.cshtml";
}

<p class="error-content__message">Sorry, but something has gone wrong and we can't load the page you are looking for.</p>
<p class="error-content__message">You can find more articles <a href="/editorial/">here</a>.</p>