@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@using Csn.Retail.Editorial.Web.Infrastructure.Extensions
@model Csn.Retail.Editorial.Web.Features.Shared.Models.ErrorViewModel

@{
    var tenantName = Html.CurrentTenant().Name.ToLower();
    var title = string.Format("{0} - www.{0}.com.au", Html.CurrentTenant().Name);
}

@section Head {
    <title>@title</title>
    @*@{ Html.RenderPartial("Partials/Tracking/_WebTrendsData", Model); }*@
}

@section Styles {
    @Html.AssetCss("error-page--" + tenantName)
}


@section TopScripts {
    @*@Html.AssetJs("details-page--" + tenantName, LoadType.Defer)*@
}

<div class="container error">
    @if (Model.HttpStatusCode == HttpStatusCode.NotFound)
    {
        Html.RenderPartial("~/Features/Errors/Views/Error404.cshtml");
    }
    else
    {
        Html.RenderPartial("~/Features/Errors/Views/ErrorGeneric.cshtml");
    }
</div>

@section BottomScripts
{
    @{ Html.RenderAction("WebMetricsScripts", "Tracking"); }
    @*@{ Html.RenderPartial("Partials/Tracking/_GoogleAnalyticsDetails", Model.GoogleAnalyticsDetailsData); }*@
    @*@{ Html.RenderPartial("Partials/MediaMotive/_Krux", Model.MediaMotiveData); }*@
    @*@{ Html.RenderAction("HtmlTrackingDetails", "Tracking", new { Article = Model, PageType = "details" }); }*@
    @{ Html.RenderPartial("Partials/Hotjar/_hotjarTracking"); }
}