// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #4da32f;


// Logo
$logo-header: 'images/farmmachinerysales/logo-farmmachinerysales.svg';
$logo-header-width: 160px; // max width - leaderboard
$logo-header-height: 70px;