// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #4da32f;


// Logo
$logo-header: 'https://resource.csnstatic.com/retail/globals/logo/v3/farmmachinerysales.svg';
$logo-header-width: 260px;
$logo-header-height: 90px; // hieght limits width b/c aspect ratio

$logo-header--transparent: 'https://resource.csnstatic.com/retail/globals/logo/v3/farmmachinerysales-white.svg';
$logo-header-width--transparent: 103px;
$logo-header-height--transparent: 40px; 