// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #4da32f;


// Logo
$logo-header: 'images/farmmachinerysales/logo-farmmachinerysales.svg';
$logo-header-width: 292px;
$logo-header-height: 90px; // hieght limits width b/c aspect ratio