// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #EC1F27;


// Logo
$logo-header : 'Images/Bikesales/logo-bikesales.svg';
$logo-header-width: 184px;
$logo-header-height: 90px; // hieght limits width b/c aspect ratio

$logo-header--transparent: 'Images/Bikesales/logo-bikesales--white.svg';
$logo-header-width--transparent: 103px;
$logo-header-height--transparent: 40px; 