// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #EC1F27;


// Logo
$logo-header : 'images/bikesales/logo-bikesales.svg';
$logo-header-width: 184px;
$logo-header-height: 90px; // hieght limits width b/c aspect ratio