@using React.Web.Mvc
@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
Test React Compoents
<div id="content"></div>

@Html.React("global.Components.testComponent", new
{
    initalData = 2000
})
    
    @* test if global is shared - modify global in first and check in second *@
@Html.React("global.Components.testComponent", new
{
    initalData = 3000
})
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
@*<script src="~/dist--server/react-server-components.js"></script>*@
@Html.ReactInitJavaScript()

</body>
</html>


