@using React.Web.Mvc
@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
Test React Compoents
<div id="content"></div>

@Html.React("ReactServerComponents.Components.SearchBarTest", new
{
})
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
@*<script src="~/dist--server/react-server-components.js"></script>*@
@Html.ReactInitJavaScript()

</body>
</html>


