{
    "presets": [
        [
            "@babel/preset-env", 
            {
                "targets": {
                    "browsers": ["> 1%", "last 1 versions"]
                },
                "modules": false, // for tree shaking
                "useBuiltIns": "entry"
                //"debug": true,
                //"include": []
            }
        ],

        "@babel/react"
        //Transpile React components to JavaScript
    ],
    "plugins": [
        "@babel/syntax-dynamic-import",
        "@babel/plugin-proposal-object-rest-spread",
        //"transform-optional-chaining",
        ["@babel/plugin-proposal-class-properties", { "spec": true }]

    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
                // Enables React code to work with HMR.
            ]
        }
    }
}