{
    "presets": [
		["env", {
			"targets": {
				"browsers": ["> 1%", "last 1 versions"]
				},
			"modules": false, // for tree shaking
			"useBuiltIns": true,
			//"debug": true,
			//"include": []
		}],

        "react"
        //Transpile React components to JavaScript
    ],
    "plugins": [
        "transform-decorators-legacy",
        "syntax-dynamic-import",
        "transform-object-rest-spread", 
		["transform-class-properties", { "spec": true }],
 
	],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
                // Enables React code to work with HMR.
            ]
        }
    }
}