{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%", "last 1 versions"]
      },
      "modules": false, // for tree shaking
      "useBuiltIns": true
    }],

    "react"
    //Transpile React components to JavaScript
  ],
  "plugins": [
    "dynamic-import-webpack",
    "syntax-dynamic-import",
	 ["transform-class-properties", { "spec": true }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
		    // Enables React code to work with HMR.
      ]
    }
  }

}