<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      throwExceptions="true" autoReload="true"
      xdt:Transform="Replace">

  <variable name="ApplicationName" value="web-retail-staticpages-prd" />
  <!-- Application ID: This will be used for the application's portal ID, and should be numeric -->
  <variable name="ApplicationId" value="8061" />
  <!-- Log directory: This will be base for storing all text logs -->
  <variable name="BaseLogDirectory" value="E:\ApplicationLogs" />
  <extensions>
    <add assembly="NLog.Extended" />
    <add assembly="SumoLogic.Logging.NLog" />
  </extensions>

  <!-- See http://nlog-project.org/wiki/Configuration_file for information on customizing logging rules and outputs. -->
  <targets async="true">
    <target type="File" name="SpecialOffersNewsletterSubscriptions" fileName="${BaseLogDirectory}\${ApplicationName}\special-offers-newsletter-subscriptions.log" layout="${longdate} ${message}" />
    <target name="FileLog_1MB" type="File" fileName="${BaseLogDirectory}\${ApplicationName}\log.txt" archiveFileName="${BaseLogDirectory}\${ApplicationName}\archive\log.{#####}.txt" layout="${date} ${level:uppercase=true} ${logger} ${message} ${onexception:inner=${newline}${exception:format=tostring}}" createDirs="true" archiveAboveSize="1024000" archiveNumbering="Sequence" maxArchiveFiles="25" />
    <target name="HystrixFile"
            type="File"
          fileName="E:\ApplicationLogs\${ApplicationName}\hystrix.txt">
        <layout type="JsonLayout">
          <field Name="Where" layout="${machinename}" />
          <!--<field Name="When" layout="${longdate}" />-->
          <field Name="Duration" layout="${event-context:item=api-duration}" />
          <!--<field Name="Execution" layout="${event-context:item=api-execution}" />
          <field Name="CacheHit" layout="${event-context:item=api-cachehit}" />-->
          <field Name="Status" layout="${event-context:item=api-status}" />
          <field Name="Name" layout="${replace:searchFor=HystrixRestClient\:Get\:http\://:replaceWith=:regex=false:ignoreCase=true:wholeWords=false:inner=${event-context:item=api-name}}" />
        </layout>
    </target>

    <target name="ErrorSumolog" type="BufferedSumoLogicTarget">
      <layout type="JsonLayout">
        <field Name="When" layout="${longdate}" />
        <field Name="Environment" layout="Production" />
        <field Name="ExceptionMsg" layout="${message}" />
        <field name="StackTrace" layout="${onexception:${exception:format=tostring}}" />
        <field Name="ServerName" layout="${machinename}" />
        <field Name="Browser" layout="${aspnet-request:serverVariable=HTTP_USER_AGENT}" />
        <field name="RequestUrl" layout="${aspnet-request:serverVariable=URL}?${aspnet-request:serverVariable=QUERY_STRING}" />
        <field name="RawUrl" layout="${aspnet-request:serverVariable=URL}?${aspnet-request:serverVariable=QUERY_STRING}" />
        <field name="Referrer" layout="${aspnet-request:serverVariable=HTTP_REFERER}" />
        <field name="IPLocation" layout="T:${aspnet-request:serverVariable=HTTP_TRUE_CLIENT_IP} X:${aspnet-request:serverVariable=HTTP_X_FORWARDED_FOR} R:${aspnet-request:serverVariable=REMOTE_ADDR}" />
        <field name="IPAddress" layout="T:${aspnet-request:serverVariable=HTTP_TRUE_CLIENT_IP} X:${aspnet-request:serverVariable=HTTP_X_FORWARDED_FOR} R:${aspnet-request:serverVariable=REMOTE_ADDR}" />
      </layout>
      <Url>https://collectors.au.sumologic.com/receiver/v1/http/ZaVnC4dhaV0ps0Xz5Brhq09cewppAcTedmMwTWJeJuwc62gl1RzCNEtO32m3PV-eR2LrDn5yrTIcupYMfuDINbYlhRF2_Mw0J1EUcdOLVC5KAU3PoeaY_A==</Url>
      <SourceName>retaileditorialweb</SourceName>
      <ConnectionTimeout>30000</ConnectionTimeout>
      <RetryInterval>5000</RetryInterval>
      <MessagesPerRequest>10</MessagesPerRequest>
      <MaxFlushInterval>10000</MaxFlushInterval>
      <FlushingAccuracy>250</FlushingAccuracy>
      <MaxQueueSizeBytes>500000</MaxQueueSizeBytes>
      <UseConsoleLog>true</UseConsoleLog>
    </target>

    <target name="HystrixErrorSumolog" type="BufferedSumoLogicTarget">
      <layout type="JsonLayout">
        <field Name="Message" layout="${message}" />
        <field Name="ServerName" layout="${machinename}" />
        <field name="RequestUrl" layout="${aspnet-request:serverVariable=URL}?${aspnet-request:serverVariable=QUERY_STRING}" />
      </layout>
      <Url>https://collectors.au.sumologic.com/receiver/v1/http/ZaVnC4dhaV0CssG6d6fsopFGBeOqRdOOjCHTfju19A5kkNuJu7XGf2hVw_Htue677Xp4v-Hvq94K3YQsehkmVJoVyGi2t1fJUY09oCiZCgv2o_BXud6k5g==</Url>
      <SourceName>retaileditorialweb-hystrixError</SourceName>
      <ConnectionTimeout>30000</ConnectionTimeout>
      <RetryInterval>5000</RetryInterval>
      <MessagesPerRequest>10</MessagesPerRequest>
      <MaxFlushInterval>10000</MaxFlushInterval>
      <FlushingAccuracy>250</FlushingAccuracy>
      <MaxQueueSizeBytes>500000</MaxQueueSizeBytes>
      <UseConsoleLog>true</UseConsoleLog>
    </target>

    <target name="HystrixDashboard_Compact" type="BufferedSumoLogicTarget"
      layout="${event-context:item=api-duration}_${event-context:item=api-status}_${replace:searchFor=HystrixRestClient\:Get\:http\://:replaceWith=:regex=false:ignoreCase=true:wholeWords=false:inner=${event-context:item=api-name}}">
      <Url>https://collectors.au.sumologic.com/receiver/v1/http/ZaVnC4dhaV2-qXv7KhoEIRvpO36f5T1D9Owx3rKFfji6q3KynmuTmR7MwRb27jHgLnaSazoG8ZIMe47hv_sP8cM4ew_zMkakxTIuwKEPqOEPKgc7d-3zRA==</Url>
      <SourceName>retaileditorialweb</SourceName>
      <ConnectionTimeout>30000</ConnectionTimeout>
      <RetryInterval>5000</RetryInterval>
      <MessagesPerRequest>10</MessagesPerRequest>
      <MaxFlushInterval>10000</MaxFlushInterval>
      <FlushingAccuracy>250</FlushingAccuracy>
      <MaxQueueSizeBytes>500000</MaxQueueSizeBytes>
      <UseConsoleLog>true</UseConsoleLog>
    </target>

    <target name="HystrixDashboard" type="BufferedSumoLogicTarget">
      <layout type="JsonLayout">
        <field Name="Where" layout="${machinename}" />
        <field Name="Duration" layout="${event-context:item=api-duration}" />
        <field Name="Status" layout="${event-context:item=api-status}" />
        <field Name="Name" layout="${replace:searchFor=HystrixRestClient\:Get\:http\://:replaceWith=:regex=false:ignoreCase=true:wholeWords=false:inner=${event-context:item=api-name}}" />
      </layout>
      <Url>https://collectors.au.sumologic.com/receiver/v1/http/ZaVnC4dhaV2hVFkaxhx9RTonHymXWPa5Mq8-lX1_qQmcYn_pYnNF1eGgq7hNAyGNgPVMGZ5xYmQgAkisP6XBxHNguALUoJLTMTDxyb6XmHzwWLV7Fg1-vA==</Url>
      <SourceName>retaileditorialweb-dashboard</SourceName>
      <ConnectionTimeout>30000</ConnectionTimeout>
      <RetryInterval>5000</RetryInterval>
      <MessagesPerRequest>10</MessagesPerRequest>
      <MaxFlushInterval>10000</MaxFlushInterval>
      <FlushingAccuracy>250</FlushingAccuracy>
      <MaxQueueSizeBytes>500000</MaxQueueSizeBytes>
      <UseConsoleLog>true</UseConsoleLog>
    </target>

  </targets>

  <rules>
    <logger name="Csn.Retail.Editorial.Web.Infrastructure.HystrixRestClientUtils.ApiMonitorReporter" minLevel="Info" writeTo="HystrixDashboard_Compact" final="true"/>
    <logger name="Csn.Retail.Editorial.Web.Infrastructure.HystrixRestClientUtils.HystrixRestReporter" minLevel="Warn" writeTo="HystrixErrorSumolog" final="true" />
    <logger name="Csn.Repository.NewsletterSubscription.CreateSendNewsletterSubscriptionAPIClient" minlevel="Info" maxlevel="Info" writeTo="SpecialOffersNewsletterSubscriptions" />
    <logger name="*" minLevel="Warn" writeTo="FileLog_1MB" />
    <logger name="*" minLevel="Error" writeTo="ErrorSumolog" />
  </rules>
</nlog>
