<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" autoReload="true">

  <!-- See http://nlog-project.org/wiki/Configuration_file for information on customizing logging rules and outputs. -->
  <targets async="true">

    <target type="File" name="CodeProfileLogs" fileName="${basedir}/logs/profile-${shortdate}.log"
            layout="${longdate} ${message}" />

    <target type="File" name="RestRequestLogs" fileName="${basedir}/logs/httprequests-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${onexception:${exception:format=tostring}}" />

    <target type="File" name="FileLog" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${onexception:${exception:format=tostring}}" />
    
    <target type="File" name="CodeProfileLog" fileName="${basedir}/logs/code-profile-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <target type="File" name="FileLogCategorised" fileName="${basedir}/logs/${shortdate}-${level}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${onexception:${exception:format=tostring}}" />

    <target type="File" name="SpecialOffersNewsletterSubscriptions" fileName="${basedir}/logs/special-offers-newsletter-subscriptions.log"
            layout="${longdate} ${message}" />

    <target type="File" name="SmsLog" fileName="${basedir}/logs/sms-auth-${shortdate}.log"
        layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${onexception:${exception:format=tostring}}" />


    <target name="HystrixFile"
            type="File"
           fileName="c:\temp\hystrix.txt">
      <layout type="JsonLayout">
        <field Name="Where" layout="${machinename}" />
        <!--<field Name="When" layout="${longdate}" />-->
        <field Name="Duration" layout="${event-context:item=api-duration}" />
        <!--<field Name="Execution" layout="${event-context:item=api-execution}" />
          <field Name="CacheHit" layout="${event-context:item=api-cachehit}" />-->
        <field Name="Status" layout="${event-context:item=api-status}" />
        <field Name="Name" layout="${replace:searchFor=HystrixRestClient\:Get\:http\://:replaceWith=:regex=false:ignoreCase=true:wholeWords=false:inner=${event-context:item=api-name}}" />
      </layout>
    </target>



  </targets>

  <rules>
    <logger name="Csn.Cars.Infrastructure.Profilers.CodeProfiler" minlevel="Info" writeTo="CodeProfileLog" final="true" />
    <logger name="Csn.Repository.NewsletterSubscription.CreateSendNewsletterSubscriptionAPIClient" minlevel="Info" maxlevel="Info" writeTo="SpecialOffersNewsletterSubscriptions" />
    <logger name="Csn.Cars.ApplicationServices.Services.SmsAuthorization.Impl.SmsAuthorizationService" minlevel="Trace" maxlevel="Trace" writeTo="SmsLog" />
    <logger name="Csn.Carsales.Web.Helpers.SmsAuthManager" minlevel="Trace" maxlevel="Trace" writeTo="SmsLog" />
    <logger name="Csn.Cars.Core.SmsVerification.DeviceIdProvider" minlevel="Trace" maxlevel="Trace" writeTo="SmsLog" />
    <logger name ="Csn.Cars.Infrastructure.Profilers.CodeProfiler" level="Trace" writeTo="CodeProfileLogs" final="true"/>
    <logger name="Csn.Retail.Editorial.Web.Infrastructure.HystrixRestClientUtils.HystrixRestReporter" level="Trace" writeTo="RestRequestLogs" />
    <logger name="*" minlevel="Trace" writeTo="FileLog" />
    <logger name="*" minlevel="Warn" writeTo="FileLogCategorised" />
    
    <logger name="*" minLevel="Debug" writeTo="HystrixFile"/>  
  </rules>
</nlog>