<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" autoReload="true" internalLogFile="D:\temp\NLogError.txt" internalLogLevel="Debug">

  <!-- See http://nlog-project.org/wiki/Configuration_file for information on customizing logging rules and outputs. -->
  <targets async="true">

    <target type="File" name="CodeProfileLogs" fileName="${basedir}/logs/profile-${shortdate}.log"
            layout="${longdate} ${message}" />

    <target type="File" name="RestRequestLogs" fileName="${basedir}/logs/httprequests-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${onexception:${exception:format=tostring}}" />

    <target type="File" name="FileLog" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${onexception:${exception:format=tostring}}" />

    <target type="File" name="FileLogCategorised" fileName="${basedir}/logs/${shortdate}-${level}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${onexception:${exception:format=tostring}}" />

    <target name="HystrixFile"
            type="File"
           fileName="${basedir}/logs/hystrix-${shortdate}.log">
      <layout type="JsonLayout">
        <field Name="Where" layout="${machinename}" />
        <!--<field Name="When" layout="${longdate}" />-->
        <field Name="Duration" layout="${event-context:item=api-duration}" />
        <!--<field Name="Execution" layout="${event-context:item=api-execution}" />
          <field Name="CacheHit" layout="${event-context:item=api-cachehit}" />-->
        <field Name="Status" layout="${event-context:item=api-status}" />
        <field Name="Name" layout="${replace:searchFor=HystrixRestClient\:Get\:http\://:replaceWith=:regex=false:ignoreCase=true:wholeWords=false:inner=${event-context:item=api-name}}" />
      </layout>
    </target>

    <target type="File" name="UrlNotFoundLog" fileName="${basedir}/logs/url-not-found.log"
            layout="${longdate} ${message}" />

    <target type="File" name="DetailsRedirectLog" fileName="${basedir}/logs/details-redirect.log"
            layout="${longdate} ${message}" />

    <target type="File" name="LegacyListingUrlRedirectLog" fileName="${basedir}/logs/legacy-listing-redirect.log"
            layout="${longdate} ${message}" />

    <target type="File" name="SeoListingUrlRedirectLog" fileName="${basedir}/logs/seo-listing-redirect.log"
            layout="${longdate} ${message}" />

    <target type="File" name="UnknownTenantLog" fileName="${basedir}/logs/unknown-tenant.log"
            layout="${longdate} ${message}" />
  </targets>

  <rules>
    <logger name="Csn.Retail.Editorial.Web.Features.Errors.UrlNotFoundLogger" level="Trace" writeTo="UrlNotFoundLog" final="true" />
    <logger name="Csn.Retail.Editorial.Web.Features.Details.DetailsRedirectLogger" level="Trace" writeTo="DetailsRedirectLog" final="true" />
    <logger name="Csn.Retail.Editorial.Web.Features.Listings.Loggers.LegacyListingUrlRedirectLogger" level="Trace" writeTo="LegacyListingUrlRedirectLog" final="true" />
    <logger name="Csn.Retail.Editorial.Web.Features.Listings.Loggers.SeoListingUrlRedirectLogger" level="Trace" writeTo="SeoListingUrlRedirectLog" final="true" />
    <logger name="Csn.Retail.Editorial.Web.Infrastructure.Filters.UnknownTenantLogger" level="Trace" writeTo="UnknownTenantLog" final="true" />
    <logger name="Ingress.HttpClient.Hystrix.RedisReporter.RedisBasedHystrixReporter" level="Trace" writeTo="File" final="true" />
    <!--<logger name="Csn.Retail.Editorial.Web.Infrastructure.HystrixRestClientUtils.HystrixRestReporter" level="Trace" writeTo="RestRequestLogs" >
    </logger>
    
    <logger name="*" minlevel="Trace" writeTo="FileLog" />
    --><!--<logger name="*" minlevel="Warn" writeTo="FileLogCategorised" />--><!--
    
    <logger name="*" minLevel="Debug" writeTo="HystrixFile"/>-->
  </rules>
</nlog>