<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <Csn.WebMetrics xdt:Transform="Replace">
    <SiteSettings>
      <add Site="*.carsales.aws.csstg.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-stg" NielsenCid="" NielsenContent="carsales-stg" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".carsales.stg.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True"  CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.trucksales.aws.csstg.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".trucksales.csstg.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True"  CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.caravancampingsales.aws.csstg.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".caravancampingsales.csstg.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True"  CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1"  SiteWideRemarketingConversionId="-1"/>
      <add Site="*.farmmachinerysales.aws.csstg.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcsavq4gkuz5bdvssd70fj30l_3t7p" CurrentActiveDomain=".farmmachinerysales.csstg.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True"  CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.bikesales.aws.csstg.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".bikesales.csstg.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True"  CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.bikepoint.aws.csstg.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".bikepoint.csstg.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True"  CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.constructionsales.aws.csstg.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcs416lzduz5bdf0g87s1u30l_7z1j" CurrentActiveDomain=".constructionsales.csstg.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True"  CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
    </SiteSettings>
    <General IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" />
    <WebTrends TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x0k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" />
    <BusinessIntelligence BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" />
    <Injester InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" />
    <EloquaSettings SiteId="-1" />
  </Csn.WebMetrics>
  
  <Ingress.CacheSettings xdt:Transform="Replace">
    <add name="Enabled" value="true" />
  </Ingress.CacheSettings>
  <Ingress.ServiceRegistrySettings xdt:Transform="Replace">
    <add name="ApiUrl" value="http://serviceregistry.service.csstg.com.au/v1/" />
  </Ingress.ServiceRegistrySettings>
  <Ingress.LocalServiceRegistrySettings Enabled="true" xdt:Transform="Replace">
    <Services>
      <add name="api-tracking-ga-scripts" value="http://trackingscript.service.csstg.com.au" />
      <add name="cmp-retail-appshell" value="http://sitenav.carsalesnetwork.com.au" />
      <add name="api-retail-editorial" value="http://retaileditorial.service.csprd.com.au" />
      <add name="api-search-editorials" value="http://editorial-ryvuss.csdev.com.au" />
    </Services>
  </Ingress.LocalServiceRegistrySettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="RedisServer" connectionString="cars-redis-cache-01.aws.csstg.com.au:6379,cars-redis-cache-02.aws.csstg.com.au:6379,KeepAlive=180,syncTimeout=50" />
    <add name="RedisIngress" connectionString="redis.ingress.aws.csstg.com.au:6379,connectTimeout=1000,abortConnect=false,connectRetry=1,KeepAlive=180" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors defaultRedirect="/error/500"
        mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="/error/500" />
      <error statusCode="400" redirect="/error/" />
      <error statusCode="404" redirect="/error/404" />
    </customErrors>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <appSettings>
    <add key="AssetDomain" value="//resource.csnstatic.csstg.com.au/retail/editorial/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>