<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="TenantsSettings" type="Csn.MultiTenant.Configs.TenantConfigSection, Csn.MultiTenant" />
    <section name="CacheSettings" type="Csn.Cars.Cache.Configs.CacheSettingsSection, Csn.Cars.Cache" />
    <sectionGroup name="Csn.WebMetrics" type="Csn.WebMetrics.Ext.Configuration.WebMetricsConfigurationSectionGroup, Csn.WebMetrics.Ext">
      <section name="BusinessIntelligence" type="Csn.WebMetrics.Ext.Configuration.BiConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="WebTrends" type="Csn.WebMetrics.Ext.Configuration.WebTrendsConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="NielsenSettings" type="Csn.WebMetrics.Ext.Configuration.NielsenConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="SiteSettings" type="Csn.WebMetrics.Core.Configuration.WebMetricsMultiConfigurationSection, Csn.WebMetrics.Core" />
      <section name="Adometry" type="Csn.WebMetrics.Ext.Configuration.AdometryConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="General" type="Csn.WebMetrics.Ext.Configuration.GeneralSettingsConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="Injester" type="Csn.WebMetrics.Ext.Configuration.InjesterConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="Google" type="Csn.WebMetrics.Ext.Configuration.GoogleSettingsConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="AdRoll" type="Csn.WebMetrics.Ext.Configuration.AdRollConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="EloquaSettings" type="Csn.WebMetrics.Core.Configuration.EloquaSettingsConfigurationSection, Csn.WebMetrics.Core" />
    </sectionGroup>
    <!-- Start of Ingress Settings Section -->
    <section name="Ingress.ServiceRegistrySettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core-Net45" />
    <section name="Ingress.HystrixHttpClientSettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core-Net45" />
    <section name="Ingress.RedisSettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core-Net45" />
    <section name="Ingress.CacheSettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core-Net45" />
    <section name="Ingress.Cache.RedisConnection.Settings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core-Net45" />
    <section name="Ingress.CacheUsageReportSettings" type="Ingress.Cache.Redis.CacheUsageReportSettingsSection, Ingress.Cache.Redis-Net45" />
    <section name="Ingress.AppNameSettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core-Net45" />
    <section name="Ingress.LocalServiceRegistrySettings" type="Ingress.ServiceRegistry.LocalServiceRegistryConfigSection, Ingress.ServiceRegistry-Net45" />
    <!-- End of Ingress Settings Section -->
  </configSections>

  <!-- Start of Ingress Settings -->
  <Ingress.AppNameSettings>
    <add name="Name" value="web-retail-editorial-v2" />
  </Ingress.AppNameSettings>
  <Ingress.CacheSettings>
    <add name="Enabled" value="false" />
  </Ingress.CacheSettings>
  <Ingress.Cache.RedisConnection.Settings>
    <add name="ConnectionStringOrName" value="RedisServer" />
    <add name="Db" value="12" />
  </Ingress.Cache.RedisConnection.Settings>
  <Ingress.CacheUsageReportSettings Enabled="true">
    <Patterns>
      <add name="details" value="editorial:desk:*" />
    </Patterns>
  </Ingress.CacheUsageReportSettings>
  <Ingress.ServiceRegistrySettings>
    <add name="ApiUrl" value="http://serviceregistry.service.csprd.com.au/v1/" />
  </Ingress.ServiceRegistrySettings>
  <Ingress.HystrixHttpClientSettings>
    <add name="EnabledHystrix" value="true" />
  </Ingress.HystrixHttpClientSettings>
  <Ingress.RedisSettings>
    <add name="ConnectionStringOrName" value="RedisIngress" />
    <add name="DefaultDb" value="10" />
  </Ingress.RedisSettings>

  <Ingress.LocalServiceRegistrySettings Enabled="false">
    <!--<Services>
      <add name="api-retail-editorial" value="http://retaileditorial.service.csdev.com.au" />
    </Services>-->
  </Ingress.LocalServiceRegistrySettings>
  <!-- End of Ingress Settings -->

  <connectionStrings>
    <add name="RedisServer" connectionString="redis.csstg.com.au:6379,KeepAlive=180,name=MemberCentre.Web,Password=8HqNR43OFj3gnVPz1ECKEZayefBiJjjoKXA6aKiZ" />
    <add name="RedisIngress" connectionString="redis.ingress.aws.csstg.com.au:6379,connectTimeout=1000,abortConnect=false,connectRetry=1,KeepAlive=180" />
  </connectionStrings>

  <Csn.WebMetrics>
    <SiteSettings>
      <add Site="*.carsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.trucksales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-trucks" NielsenCid="carsales" NielsenContent="trucksales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.boatsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.caravancampingsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" SiteWideRemarketingConversionId="-1" />
      <add Site="*.farmmachinerysales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.bikesales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.bikepoint.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.boatpoint.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.constructionsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
    </SiteSettings>
    <General IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" />
    <WebTrends TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x0k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" />
    <BusinessIntelligence BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" />
    <NielsenSettings Cid="carsales" Content="carsales" Server="secure-au" />
    <Injester InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" />
    <EloquaSettings SiteId="-1" />
  </Csn.WebMetrics>

  <TenantsSettings DefaultTenant="carsales">
    <Tenant Name="carsales">
      <add name="SiteNavPath" value="v2/navigation/carsales" />
      <add name="GoogleAnalyticsApp" value="carsales-desktop" />
      <add name="HotjarTracking" value="" />
      <add name="AllowSeoIndexOfDetails" value="false" />
      <add name="AllowSeoIndexOfListing" value="false" />
      <add name="DisplayPolarAds" value="true" />
      <add name="PolarSitePropertyId" value="NA-CARSCOMAU-11237502" />
      <add name="PolarSiteName" value="cs.editorials" />
      <add name="MobiSiteUrl" value="https://carsales.mobi" />
    </Tenant>
    <Tenant Name="bikesales">
      <add name="SiteNavPath" value="v2/navigation/bikesales" />
      <add name="GoogleAnalyticsApp" value="bikesales-desktop" />
      <add name="HotjarTracking" value="464682" />
      <add name="AllowSeoIndexOfDetails" value="true" />
      <add name="AllowSeoIndexOfListing" value="false" />
      <add name="DisplayPolarAds" value="false" />
      <add name="PolarSitePropertyId" value="NA-BIKESALECOMAU-11237981" />
      <add name="PolarSiteName" value="bks.newsreviews" />
    </Tenant>
  <Tenant Name="constructionsales">
      <add name="SiteNavPath" value="v2/navigation/constructionsales" />
      <add name="GoogleAnalyticsApp" value="constructionsales-desktop" />
      <add name="HotjarTracking" value="458804" />
      <add name="AllowSeoIndexOfDetails" value="true" />
      <add name="AllowSeoIndexOfListing" value="false" />
  </Tenant>
    <Tenant Name="boatsales">
      <add name="SiteNavPath" value="v2/navigation/boatsales" />
      <add name="GoogleAnalyticsApp" value="boatsales-desktop" />
      <add name="HotjarTracking" value="" />
      <add name="AllowSeoIndexOfDetails" value="false" />
      <add name="AllowSeoIndexOfListing" value="false" />
      <add name="DisplayPolarAds" value="false" />
      <add name="PolarSitePropertyId" value="NA-BOATSALECOMAU-11238009" />
      <add name="PolarSiteName" value="bs.newsreviews" />
    </Tenant>
    <Tenant Name="trucksales">
      <add name="SiteNavPath" value="v2/navigation/trucksales" />
      <add name="GoogleAnalyticsApp" value="trucksales-desktop" />
      <add name="HotjarTracking" value="" />
      <add name="AllowSeoIndexOfDetails" value="false" />
      <add name="AllowSeoIndexOfListing" value="false" />
      <add name="DisplayPolarAds" value="false" />
      <add name="PolarSitePropertyId" value="NA-TRUCSALECOMAU-11238011" />
      <add name="PolarSiteName" value="trucksales.dfp" />
    </Tenant>
    <Tenant Name="caravancampingsales">
      <add name="SiteNavPath" value="v2/navigation/caravancampingsales" />
      <add name="GoogleAnalyticsApp" value="caravancampingsales-desktop" />
      <add name="HotjarTracking" value="" />
      <add name="AllowSeoIndexOfDetails" value="false" />
      <add name="AllowSeoIndexOfListing" value="false" />
      <add name="DisplayPolarAds" value="false" />
      <add name="PolarSitePropertyId" value="NA-CARACAMPSALECOMAU-11238010" />
      <add name="PolarSiteName" value="caravan.dfp" />
    </Tenant>
    <Tenant Name="farmmachinerysales">
      <add name="SiteNavPath" value="v2/navigation/farmmachinerysales" />
      <add name="GoogleAnalyticsApp" value="farmmachinerysales-desktop" />
      <add name="HotjarTracking" value="" />
      <add name="AllowSeoIndexOfDetails" value="true" />
      <add name="AllowSeoIndexOfListing" value="false" />
    </Tenant>
    <Tenant Name="boatpoint">
      <add name="SiteNavPath" value="v2/navigation/boatpoint" />
      <add name="GoogleAnalyticsApp" value="boatpoint-desktop" />
      <add name="HotjarTracking" value="" />
      <add name="AllowSeoIndexOfDetails" value="false" />
      <add name="AllowSeoIndexOfListing" value="false" />
    </Tenant>
  </TenantsSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AssetDomain" value="/dist/retail/editorial/" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime enableVersionHeader="false" targetFramework="4.6.1" />

    <customErrors mode="Off" defaultRedirect="/error/500">
      <error statusCode="404" redirect="/error/404" />
    </customErrors>
    <machineKey validationKey="4BBF2DF83FBAEEFCF727CCFCC87CAF2700A8A065B6C0FFD862BC44FA18DEE9F525225367FEB29C135F21B4D2F63E4925FDB2E4D212A8C4540422774899D310CB" decryptionKey="B9D81AC929118054D24C963BC36EF478BDBFAC8FF56671B2FA4340F5D96DB921" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP2" />
  <!-- Uncomment if using IIS 7 Classic Mode, IIS 6, or Mono --><!--
		<httpHandlers>
			<add verb="GET" path="*.jsx" type="React.Web.BabelHandlerFactory, React.Web" />
		</httpHandlers>
		--></system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/error/404" responseMode="ExecuteURL" />
      <error statusCode="500" path="/error/500" responseMode="ExecuteURL" />
    </httpErrors>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="MembershipAuthModule" type="Csn.Member.AuthenticationModule.MembershipAuthSso, Csn.Member.AuthenticationModule" />
    </modules>
  <handlers>
			<remove name="Babel" />
			<add name="Babel" verb="GET" path="*.jsx" type="React.Web.BabelHandlerFactory, React.Web" preCondition="integratedMode" />
		</handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!-- fiddler proxy-->
  <!--<system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />
    </defaultProxy>
  </system.net>-->
</configuration>