<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <HystrixRestClientSettings>
    <Hosts>
      <Host Name="SiteNavApiProxy" BaseUrl="http://sitenav.carsalesnetwork.com.au/v2" xdt:Transform="SetAttributes" xdt:Locator="Match(Name)" />
      <Host Name="EditorialApiProxy" BaseUrl="http://editorial-ui.api.csdev.com.au??????????" TimeoutInMs="1000" RetryOnFailure="3" CircuitConfig="EditorialApiProxy" xdt:Transform="SetAttributes" xdt:Locator="Match(Name)" />
    </Hosts>
  </HystrixRestClientSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey validationKey="6735077DB8518E3A401ADD906260AA77358B17437512146257D3B29B36D677CB2D9A59D8C86F356CB8F483EBCB876D7F38E6138E18B81EF4FCF7EA9590408AAB" decryptionKey="044D9B65E98FB42A8AE4BD03731AAF9F615B139CA29EB23113EBCB3ABBE6026F" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP2" xdt:Transform="Replace" />
  </system.web>

  <appSettings>
    <add key="AssetDomain" value="//resource.csnstatic.com/retail/editorial/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>
