<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <Csn.WebMetrics xdt:Transform="Replace">
    <SiteSettings>
      <add Site="*.carsales.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcsnrybgl00000slznkuq2bcv_7o2k" CurrentActiveDomain=".carsales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" />
      <add Site="*.trucksales.com.au" NielsenCid="carsales" NielsenContent="trucksales" NielsenServer="secure-au" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcs12o7qcvz5bdf0wcplhy30l_1g2x" CurrentActiveDomain=".trucksales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" />
      <add Site="*.caravancampingsales.com.au" NielsenCid="carsales" NielsenContent="caravancampingsales" NielsenServer="secure-au" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcs0lhtwruz5bdfoagclx130l_2l3q" CurrentActiveDomain=".caravancampingsales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762"  SiteWideRemarketingConversionId="1019895027"/>
      <add Site="*.farmmachinerysales.com.au" NielsenCid="carsales" NielsenContent="farmmachinerysales" NielsenServer="secure-au" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcsavq4gkuz5bdvssd70fj30l_3t7p" CurrentActiveDomain=".farmmachinerysales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" />
      <add Site="*.bikesales.com.au" NielsenCid="carsales" NielsenContent="bikesales" NielsenServer="secure-au" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcsgpok1ouz5bdw9qc46g8qte_9n5u" CurrentActiveDomain=".bikesales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" />
      <add Site="*.bikepoint.com.au" NielsenCid="carsales" NielsenContent="bikepoint" NielsenServer="secure-au" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcsh5dnsjuz5bd4chdb261rte_6d2v" CurrentActiveDomain=".bikepoint.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" />
      <add Site="*.boatsales.com.au" NielsenCid="carsales" NielsenContent="boatsales" NielsenServer="secure-au" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcsu62ds8vz5bd40wkhfk8rte_2q8c" CurrentActiveDomain=".boatsales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" SiteWideRemarketingConversionId="961058087"/>
      <add Site="*.boatpoint.com.au" NielsenCid="carsales" NielsenContent="boatpoint" NielsenServer="secure-au" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcszxloy9vz5bdonbwxyyzrte_8x3d" CurrentActiveDomain=".boatpoint.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="1074995762" />
      <add Site="*.constructionsales.com.au" NielsenCid="carsales" NielsenContent="constructionsales" NielsenServer="secure-au" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" WebTrendsDcsId="dcszxloy9vz5bdonbwxyyzrte_8x3d" CurrentActiveDomain=".constructionsales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="1074995762" />
    </SiteSettings>
    <General IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" />
    <WebTrends TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x0k" CurrentActiveDomain="carsales.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" />
    <BusinessIntelligence BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" />
    <NielsenSettings Cid="carsales" Content="carsales" Server="secure-au" />
    <Injester InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" />
    <EloquaSettings SiteId="1074995762" />
  </Csn.WebMetrics>
  
  <Ingress.CacheSettings xdt:Transform="Replace">
    <add name="Enabled" value="true" />
  </Ingress.CacheSettings>
  <Ingress.ServiceRegistrySettings xdt:Transform="Replace">
    <add name="ApiUrl" value="http://serviceregistry.service.csprd.com.au/v1/" />
  </Ingress.ServiceRegistrySettings>
  <Ingress.HystrixHttpClientSettings  xdt:Transform="Replace">
    <add name="EnabledHystrix" value="true" />
  </Ingress.HystrixHttpClientSettings>
  <Ingress.LocalServiceRegistrySettings xdt:Transform="Remove">
  </Ingress.LocalServiceRegistrySettings>
  
  <connectionStrings xdt:Transform="Replace">
    <add name="RedisServer" connectionString="cars-redis-cache-01.aws.csprd.com.au:6379,cars-redis-cache-02.aws.csprd.com.au:6379,cars-redis-cache-03.aws.csprd.com.au:6379,connectTimeout=1000,abortConnect=false,connectRetry=1,KeepAlive=180" />
    <add name="RedisIngress" connectionString="redis.ingress.aws.csprd.com.au:6379,connectTimeout=1000,abortConnect=false,connectRetry=1,KeepAlive=180" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey validationKey="6735077DB8518E3A401ADD906260AA77358B17437512146257D3B29B36D677CB2D9A59D8C86F356CB8F483EBCB876D7F38E6138E18B81EF4FCF7EA9590408AAB" decryptionKey="044D9B65E98FB42A8AE4BD03731AAF9F615B139CA29EB23113EBCB3ABBE6026F" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP2" xdt:Transform="Replace" />

    <customErrors defaultRedirect="/error/500"
        mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="/error/500" />
      <error statusCode="404" redirect="/error/404" />
    </customErrors>
  </system.web>

  <appSettings>
    <add key="AssetDomain" value="//resource.csnstatic.com/retail/editorial/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>
