<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <ImageServerSettings ImageServerUrlTemplate="https://latam-editorial.pxcrush.net/{0}/{1}" xdt:Transform="Replace" />
  <EditorialRouteSettings DetailsUrlFormat="V2"
                     BasePath="/noticias/"
                     DetailsRouteSegment="detalle"
                     ResultsSegment="resultados"
                     NetworkIdFormat="ED-LATAM-{0}" xdt:Transform="Replace"/>

  <Ingress.Cache.RedisConnection.Settings xdt:Transform="Replace">
    <add name="ConnectionString" value="latam-dev-appcache.5k05fg.ng.0001.usw2.cache.amazonaws.com:6379,defaultDatabase:6,connectRetry=1,keepAlive=180,name=RetailApi,abortConnect=false,connectTimeout=1000" />
    <add name="Db" value="12" />
  </Ingress.Cache.RedisConnection.Settings>
  <Ingress.RedisSettings xdt:Transform="Replace">
    <add name="ConnectionString" value="latam-dev-ingress.5k05fg.ng.0001.usw2.cache.amazonaws.com:6379,defaultDatabase:10,connectRetry=1,keepAlive=180,name=RetailApi,abortConnect=false,connectTimeout=1000" />
    <add name="DefaultDb" value="10" />
  </Ingress.RedisSettings>

  <Ingress.ServiceRegistrySettings xdt:Transform="Replace">
    <add name="ApiUrl" value="http://serviceregistry-api.stg.latam.csnglobal.net/v1/" />
  </Ingress.ServiceRegistrySettings>

  <Ingress.LocalServiceRegistrySettings xdt:Transform="Remove">
  </Ingress.LocalServiceRegistrySettings>

  <appSettings>
    <add key="RedirectsConfigPath" value="/Features/Redirects/Config/latamRedirectConfig.json" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>