<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <Ingress.AppInfoSettings xdt:Transform="Replace">
    <add name="Name" value="web-retail-editorial-v2" />
    <add name="Environment" value="Staging" />
  </Ingress.AppInfoSettings>
  <Ingress.Cache.RedisConnection.Settings xdt:Transform="Replace">
    <add name="ConnectionString" value="redis.aws.csstg.com.au:6379,connectTimeout=1000,abortConnect=false,connectRetry=1,KeepAlive=180" />
    <add name="Db" value="12" />
  </Ingress.Cache.RedisConnection.Settings>
  <Ingress.RedisSettings xdt:Transform="Replace">
    <add name="ConnectionString" value="redis.ingress.aws.csstg.com.au:6379,connectTimeout=1000,abortConnect=false,connectRetry=1,KeepAlive=180" />
    <add name="DefaultDb" value="10" />
  </Ingress.RedisSettings>
  
  <Ingress.CacheSettings xdt:Transform="Replace">
    <add name="Enabled" value="true" />
  </Ingress.CacheSettings>
  <Ingress.ServiceRegistrySettings xdt:Transform="Replace">
    <add name="ApiUrl" value="http://serviceregistry.service.csstg.com.au/v1/" />
  </Ingress.ServiceRegistrySettings>
  <Ingress.LocalServiceRegistrySettings Enabled="true" xdt:Transform="Replace">
    <Services>
      <add name="api-showroom-promotions" value="http://showroom-promotions-api.aws.csprd.com.au" />
      <add name="cmp-retail-appshell" value="http://sitenav.aws.csprd.com.au" />
    </Services>
  </Ingress.LocalServiceRegistrySettings>

  <VideosApiSettings Url="https://editorial-videos-api-prelive.carsalesnetwork.com.au" xdt:Transform="Replace" />

  <ReactNetSettings ReuseJavaScriptEngines="true" UseDebugReact="false" StartEngines="25" MaxEngines="50" xdt:Transform="Replace" />

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors defaultRedirect="/editorial/error/"
        mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="404" redirect="/editorial/error/404" />
      <error statusCode="500" redirect="/editorial/error/" />
    </customErrors>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <appSettings>
    <add key="AssetDomain" value="//resource.csnstatic.csstg.com.au/retail/editorial/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>