<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <ImageServerSettings ImageServerUrlTemplate="https://latam-editorial.pxcrush.net/{0}/{1}" xdt:Transform="Replace" />
  <SeoSchemaSettings ArticleTypesForReviewSchema="Comparativas,CompraDeAuto" LogoImageUrlPath="https://editorial.csnstatic.com/schema/{0}_WebVersion.png" xdt:Transform="Replace"/>
  <EditorialRouteSettings BasePath="/noticias/" ResultsSegment="resultados" xdt:Transform="Replace"/>

  <Ingress.Cache.RedisConnection.Settings xdt:Transform="Replace">
    <add name="ConnectionString" value="latam-dev-appcache.5k05fg.ng.0001.usw2.cache.amazonaws.com:6379,defaultDatabase:6,connectRetry=1,keepAlive=180,name=RetailApi,abortConnect=false,connectTimeout=1000" />
    <add name="Db" value="12" />
  </Ingress.Cache.RedisConnection.Settings>
  <Ingress.RedisSettings xdt:Transform="Replace">
    <add name="ConnectionString" value="latam-dev-ingress.5k05fg.ng.0001.usw2.cache.amazonaws.com:6379,defaultDatabase:10,connectRetry=1,keepAlive=180,name=RetailApi,abortConnect=false,connectTimeout=1000" />
    <add name="DefaultDb" value="10" />
  </Ingress.RedisSettings>

  <Ingress.ServiceRegistrySettings xdt:Transform="Replace">
    <add name="ApiUrl" value="http://serviceregistry-api.stg.latam.csnglobal.net/v1/" />
  </Ingress.ServiceRegistrySettings>

  <Ingress.LocalServiceRegistrySettings Enabled="true" xdt:Transform="Replace">
    <Services>
      <add name="api-search-editorials" value="http://editorial-latam.prod.ryvuss.csnglobal.net" />
      <add name="api-dataservice" value="http://http://dataservice-api.prod.retail.ca.csnglobal.net" />
    </Services>
  </Ingress.LocalServiceRegistrySettings>
  <system.web>
    <httpRuntime enableVersionHeader="false" targetFramework="4.6.1" maxUrlLength="500" relaxedUrlToFileSystemMapping="true" xdt:Transform="Replace" />
  </system.web>
  <appSettings>
    <add key="RedirectsConfigPath" value="/Features/Redirects/Config/latamRedirectConfig.json" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>