<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <Csn.WebMetrics xdt:Transform="Replace">
    <SiteSettings>
      <add Site="*.carsales.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" CurrentActiveDomain=".carsales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" />
      <add Site="*.trucksales.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" CurrentActiveDomain=".trucksales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" />
      <add Site="*.caravancampingsales.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" CurrentActiveDomain=".caravancampingsales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762"  SiteWideRemarketingConversionId="1019895027"/>
      <add Site="*.farmmachinerysales.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" CurrentActiveDomain=".farmmachinerysales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" />
      <add Site="*.bikesales.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" CurrentActiveDomain=".bikesales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" />
      <add Site="*.bikepoint.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" CurrentActiveDomain=".bikepoint.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" />
      <add Site="*.boatsales.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" CurrentActiveDomain=".boatsales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au"  EloquaSiteId="1074995762" SiteWideRemarketingConversionId="961058087"/>
      <add Site="*.constructionsales.com.au" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" JavascriptLocation="//js.csnstatic.com/CsnCarsalesWebContent/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" TagVersion="10" CurrentActiveDomain=".constructionsales.com.au" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="1074995762" />
    </SiteSettings>
    <General IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" />
    <WebTrends TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x0k" CurrentActiveDomain="carsales.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" />
    <BusinessIntelligence BiTrackingDomain="tracking.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" />
    <Injester InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" />
    <EloquaSettings SiteId="1074995762" />
  </Csn.WebMetrics>
  
  <Ingress.AppInfoSettings xdt:Transform="Replace">
    <add name="Name" value="web-retail-editorial-v2" />
    <add name="Environment" value="Release" />
  </Ingress.AppInfoSettings>
  <Ingress.Cache.RedisConnection.Settings xdt:Transform="Replace">
    <add name="ConnectionString" value="redis.aws.csprd.com.au:6379,connectTimeout=1000,abortConnect=false,connectRetry=1,KeepAlive=180" />
    <add name="Db" value="12" />
  </Ingress.Cache.RedisConnection.Settings>
  <Ingress.RedisSettings xdt:Transform="Replace">
    <add name="ConnectionString" value="redis.ingress.aws.csprd.com.au:6379,connectTimeout=1000,abortConnect=false,connectRetry=1,KeepAlive=180" />
    <add name="DefaultDb" value="10" />
  </Ingress.RedisSettings>

  <Ingress.CacheSettings xdt:Transform="Replace">
    <add name="Enabled" value="true" />
  </Ingress.CacheSettings>
  <Ingress.ServiceRegistrySettings xdt:Transform="Replace">
    <add name="ApiUrl" value="http://serviceregistry.service.csprd.com.au/v1/" />
  </Ingress.ServiceRegistrySettings>
  <Ingress.LocalServiceRegistrySettings xdt:Transform="Remove">
  </Ingress.LocalServiceRegistrySettings>

  <VideosApiSettings Url="https://editorial-videos-api.carsalesnetwork.com.au" xdt:Transform="Replace" />

  <ReactNetSettings ReuseJavaScriptEngines="true" UseDebugReact="false" StartEngines="25" MaxEngines="50" xdt:Transform="Replace" />
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <machineKey validationKey="6735077DB8518E3A401ADD906260AA77358B17437512146257D3B29B36D677CB2D9A59D8C86F356CB8F483EBCB876D7F38E6138E18B81EF4FCF7EA9590408AAB" decryptionKey="044D9B65E98FB42A8AE4BD03731AAF9F615B139CA29EB23113EBCB3ABBE6026F" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP2" xdt:Transform="Replace" />

    <customErrors defaultRedirect="/editorial/error"
        mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="404" redirect="/editorial/error/404" />
      <error statusCode="500" redirect="/editorial/error" />
    </customErrors>
  </system.web>

  <appSettings>
    <add key="AssetDomain" value="//resource.csnstatic.com/retail/editorial/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>
