<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="TenantsSettings" type="Csn.MultiTenant.Configs.TenantConfigSection, Csn.MultiTenant" />
    <section name="CacheSettings" type="Csn.Cars.Cache.Configs.CacheSettingsSection, Csn.Cars.Cache" />
    <sectionGroup name="Csn.WebMetrics" type="Csn.WebMetrics.Ext.Configuration.WebMetricsConfigurationSectionGroup, Csn.WebMetrics.Ext">
      <section name="BusinessIntelligence" type="Csn.WebMetrics.Ext.Configuration.BiConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="WebTrends" type="Csn.WebMetrics.Ext.Configuration.WebTrendsConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="NielsenSettings" type="Csn.WebMetrics.Ext.Configuration.NielsenConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="SiteSettings" type="Csn.WebMetrics.Core.Configuration.WebMetricsMultiConfigurationSection, Csn.WebMetrics.Core" />
      <section name="Adometry" type="Csn.WebMetrics.Ext.Configuration.AdometryConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="General" type="Csn.WebMetrics.Ext.Configuration.GeneralSettingsConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="Injester" type="Csn.WebMetrics.Ext.Configuration.InjesterConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="Google" type="Csn.WebMetrics.Ext.Configuration.GoogleSettingsConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="AdRoll" type="Csn.WebMetrics.Ext.Configuration.AdRollConfigurationSection, Csn.WebMetrics.Ext" />
      <section name="EloquaSettings" type="Csn.WebMetrics.Core.Configuration.EloquaSettingsConfigurationSection, Csn.WebMetrics.Core" />
    </sectionGroup>
    <!-- Start of Ingress Settings Section -->
    <section name="Ingress.HystrixHttpClientSettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core.Settings" />
    <section name="Ingress.CacheSettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core.Settings" />
    <section name="Ingress.LocalServiceRegistrySettings" type="Ingress.ServiceRegistry.LocalFilterSettings.LocalServiceRegistryConfigSection, Ingress.ServiceRegistry.LocalFilterSettings" />
    <section name="EditorialSettings" type="Csn.Retail.Editorial.Web.Features.Shared.Settings.EditorialSettings" />
    <section name="VideosApiSettings" type="Csn.Retail.Editorial.Web.Features.Shared.Settings.VideosApiSettings" />
    <section name="ReactNetSettings" type="Csn.Retail.Editorial.Web.Infrastructure.Settings.ReactNetSettings" />
    <section name="Ingress.ServiceRegistrySettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core.Settings" />
    <section name="Ingress.RedisSettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core.Settings" />
    <section name="Ingress.Cache.RedisConnection.Settings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core.Settings" />
    <section name="Ingress.AppInfoSettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core.Settings" />
    <!-- End of Ingress Settings Section -->
  </configSections>
  <!-- Start of Ingress Settings -->
  <Ingress.AppInfoSettings>
    <add name="Name" value="web-retail-editorial-v2" />
    <add name="Environment" value="Staging" />
  </Ingress.AppInfoSettings>
  <Ingress.CacheSettings>
    <add name="Enabled" value="false" />
  </Ingress.CacheSettings>
  <Ingress.Cache.RedisConnection.Settings>
    <add name="ConnectionString" value="redis.aws.csstg.com.au:6379,connectTimeout=1000,abortConnect=false,connectRetry=1,KeepAlive=180" />
    <add name="Db" value="12" />
  </Ingress.Cache.RedisConnection.Settings>
  <Ingress.ServiceRegistrySettings>
    <add name="ApiUrl" value="http://serviceregistry.service.csprd.com.au/v1/" />
  </Ingress.ServiceRegistrySettings>
  <Ingress.HystrixHttpClientSettings>
    <add name="EnabledHystrix" value="true" />
  </Ingress.HystrixHttpClientSettings>
  <Ingress.RedisSettings>
    <add name="ConnectionString" value="redis.ingress.aws.csstg.com.au:6379,connectTimeout=1000,abortConnect=false,connectRetry=1,KeepAlive=180" />
    <add name="DefaultDb" value="10" />
  </Ingress.RedisSettings>
  <Ingress.LocalServiceRegistrySettings Enabled="true">
    <Services>
      <add name="api-tracking-ga-scripts" value="http://trackingscript.service.csprd.com.au" />
      <add name="cmp-retail-appshell" value="http://sitenav.aws.csstg.com.au" />
      <add name="api-retail-editorial" value="http://retaileditorial.service.csprd.com.au" />
      <add name="api-search-editorials" value="http://editorial.ryvuss.csprd.com.au" />
      <add name="api-showroom-promotions" value="http://showroom-promotions-api.aws.csstg.com.au" />
    </Services>
  </Ingress.LocalServiceRegistrySettings>
  <!-- End of Ingress Settings -->
  <EditorialSettings ImageServerUrlTemplate="https://editorial.pxcrush.net/{0}/{1}" DetailsUrlFormat="/editorial/details/{0}" />
  <VideosApiSettings Url="http://editorial-videos.api.csdev.com.au" />
  <ReactNetSettings ReuseJavaScriptEngines="false" UseDebugReact="true" StartEngines="1" MaxEngines="1" />
  <Csn.WebMetrics>
    <SiteSettings>
      <add Site="*.carsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.trucksales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-trucks" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.boatsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.caravancampingsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" SiteWideRemarketingConversionId="-1" />
      <add Site="*.farmmachinerysales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.bikesales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.bikepoint.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.boatpoint.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.constructionsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.redbook.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="" NielsenContent="" NielsenServer="" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
    </SiteSettings>
    <General IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" />
    <!-- according to Amey we need to keep the WT config due to click tracking (dcsmultitrack function) -->
    <WebTrends TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x0k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" />
    <BusinessIntelligence BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" />
    <!--<NielsenSettings Cid="carsales" Content="carsales" Server="secure-au" />-->
    <Injester InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" />
    <EloquaSettings SiteId="-1" />
  </Csn.WebMetrics>
  <TenantsSettings DefaultTenant="carsales">
    <Tenant Name="carsales">
      <add name="SiteNavPath" value="v2/navigation/carsales" />
      <add name="GoogleAnalyticsApp" value="carsales-desktop" />
      <add name="HotjarTracking" value="502108" />
      <add name="AllowSeoIndexOfDetails" value="true" />
      <add name="AllowSeoIndexOfListing" value="true" />
      <add name="AllowSeoIndexOfLanding" value="true" />
      <add name="DisplayPolarAds" value="true" />
      <add name="PolarSitePropertyId" value="NA-CARSCOMAU-11237502" />
      <add name="PolarSiteName" value="cs.editorials" />
      <add name="MediaMotiveAccountId" value="cs.editorials" />
      <add name="KruxId" value="HnAdTi7r" />
      <add name="SiteLogoText" value="Carsales.com.au - Australia's No.1 Auto Website" />
      <add name="DisqusSource" value="carsales" />
      <add name="AdUnits" value="Tile1,Tile3,Tile7,Tile8,Tile9,Tile10,Tile11,Tile12,Tile13,Tile20" />
      <add name="RyvusNavName" value="RetailNavCar" />
      <add name="SupportsSeoFriendlyListings" value="true" />
      <add name="Culture" value="en-AU" />
      <add name="DefaultPageTitle" value="Car Reviews - Read Car Reviews, News &amp; Car Advice Online - carsales.com.au" />
      <add name="Favicon" value="https://resource.csnstatic.com/retail/favicons/carsales.ico" />
      <add name="SiteDomain" value="www.carsales.com.au" />
      <add name="UrlProtocol" value="https" />
      <add name="RyvusServiceProjection" value="carsales"/>
      <add name="NativeAdPlacement" value="cotw.desktop.carsales.editorial.home" />
      <add name="TenantName" value="carsales"/>
    </Tenant>
    <Tenant Name="bikesales">
      <add name="SiteNavPath" value="v2/navigation/bikesales" />
      <add name="GoogleAnalyticsApp" value="bikesales-desktop" />
      <add name="HotjarTracking" value="464682" />
      <add name="AllowSeoIndexOfDetails" value="true" />
      <add name="AllowSeoIndexOfListing" value="true" />
      <add name="AllowSeoIndexOfLanding" value="true" />
      <add name="DisplayPolarAds" value="true" />
      <add name="PolarSitePropertyId" value="NA-BIKESALECOMAU-11237981" />
      <add name="PolarSiteName" value="bks.newsreviews" />
      <add name="MediaMotiveAccountId" value="bks.newsreviews" />
      <add name="KruxId" value="ITM_9SQT" />
      <add name="SiteLogoText" value="bikesales.com.au - new and used bike sales" />
      <add name="DisqusSource" value="bikesalesau" />
      <add name="AdUnits" value="Tile1,Tile3,Tile7,Tile8,Tile20" />
      <add name="RyvusNavName" value="RetailNavBikes" />
      <add name="SupportsSeoFriendlyListings" value="true" />
      <add name="Culture" value="en-AU" />
      <add name="DefaultPageTitle" value="Motorbike News &amp; Motorbike Reviews - bikesales.com.au" />
      <add name="Favicon" value="https://resource.csnstatic.com/retail/favicons/bikesales.ico" />
      <add name="SiteDomain" value="www.bikesales.com.au" />
      <add name="UrlProtocol" value="https" />
      <add name="RyvusServiceProjection" value="bikesales"/>
      <add name="NativeAdPlacement" value="botm.desktop.bikesales.editorial.home" />
      <add name="TenantName" value="bikesales"/>
    </Tenant>
    <Tenant Name="constructionsales">
      <add name="SiteNavPath" value="v2/navigation/constructionsales" />
      <add name="GoogleAnalyticsApp" value="constructionsales-desktop" />
      <add name="HotjarTracking" value="458804" />
      <add name="AllowSeoIndexOfDetails" value="true" />
      <add name="AllowSeoIndexOfListing" value="true" />
      <add name="AllowSeoIndexOfLanding" value="true" />
      <add name="MediaMotiveAccountId" value="constructionsales.dfp" />
      <add name="KruxId" value="ITG2tF9A" />
      <add name="SiteLogoText" value="New &amp; Used Construction Equipment &amp; Machinery For Sale - constructionsales.com.au" />
      <add name="DisqusSource" value="constructionsales" />
      <add name="AdUnits" value="Tile1,Tile3,Tile7,Tile8,Tile20" />
      <add name="RyvusNavName" value="RetailNavIndustry" />
      <add name="SupportsSeoFriendlyListings" value="true" />
      <add name="Culture" value="en-AU" />
      <add name="DefaultPageTitle" value="Construction &amp; Equipment News &amp; Features - constructionsales.com.au" />
      <add name="Favicon" value="https://resource.csnstatic.com/retail/favicons/constructionsales.ico" />
      <add name="SiteDomain" value="www.constructionsales.com.au" />
      <add name="UrlProtocol" value="https" />
      <add name="ListingsAlternateUrl" value="/news-reviews-advice/results/" />
      <add name="RyvusServiceProjection" value="constructionsales"/>
      <add name="TenantName" value="constructionsales"/>
    </Tenant>
    <Tenant Name="boatsales">
      <add name="SiteNavPath" value="v2/navigation/boatsales" />
      <add name="GoogleAnalyticsApp" value="boatsales-desktop" />
      <add name="HotjarTracking" value="464681" />
      <add name="AllowSeoIndexOfDetails" value="true" />
      <add name="AllowSeoIndexOfListing" value="true" />
      <add name="AllowSeoIndexOfLanding" value="true" />
      <add name="DisplayPolarAds" value="true" />
      <add name="PolarSitePropertyId" value="NA-BOATSALECOMAU-11238009" />
      <add name="PolarSiteName" value="bs.newsreviews" />
      <add name="MediaMotiveAccountId" value="bs.newsreviews" />
      <add name="KruxId" value="ITO4ydRU" />
      <add name="SiteLogoText" value="New &amp; Used Boat Sales - Find Boats For Sale Online - boatsales.com.au" />
      <add name="DisqusSource" value="boatseditorial" />
      <add name="AdUnits" value="Tile1,Tile3,Tile7,Tile8,Tile20" />
      <add name="RyvusNavName" value="RetailNavBoats" />
      <add name="SupportsSeoFriendlyListings" value="true" />
      <add name="Culture" value="en-AU" />
      <add name="DefaultPageTitle" value="Boat Reviews - Boat News - Latest Boat News &amp; Reviews - boatsales.com.au" />
      <add name="Favicon" value="https://resource.csnstatic.com/retail/favicons/boatsales.ico" />
      <add name="SiteDomain" value="www.boatsales.com.au" />
      <add name="UrlProtocol" value="https" />
      <add name="ListingsAlternateUrl" value="/news-reviews-advice/results/"/>
      <add name="RyvusServiceProjection" value="boatsales"/>
      <add name="TenantName" value="boatsales"/>
    </Tenant>
    <Tenant Name="trucksales">
      <add name="SiteNavPath" value="v2/navigation/trucksales" />
      <add name="GoogleAnalyticsApp" value="trucksales-desktop" />
      <add name="HotjarTracking" value="464678" />
      <add name="AllowSeoIndexOfDetails" value="true" />
      <add name="AllowSeoIndexOfListing" value="true" />
      <add name="AllowSeoIndexOfLanding" value="true" />
      <add name="DisplayPolarAds" value="false" />
      <add name="PolarSitePropertyId" value="NA-TRUCSALECOMAU-11238011" />
      <add name="PolarSiteName" value="trucksales.dfp" />
      <add name="MediaMotiveAccountId" value="trucksales.dfp" />
      <add name="KruxId" value="ITG2FHDw" />
      <add name="SiteLogoText" value="New &amp; Used Trucks For Sale - Truck, Bus &amp; Forklift Sales - trucksales.com.au" />
      <add name="DisqusSource" value="trucksales" />
      <add name="AdUnits" value="" />
      <add name="RyvusNavName" value="RetailNavTruck" />
      <add name="SupportsSeoFriendlyListings" value="true" />
      <add name="Culture" value="en-AU" />
      <add name="DefaultPageTitle" value="New and Used trucks and trailers - trucksales.com.au" />
      <add name="Favicon" value="https://resource.csnstatic.com/retail/favicons/trucksales.ico" />
      <add name="SiteDomain" value="www.trucksales.com.au" />
      <add name="UrlProtocol" value="https" />
      <add name="ListingsAlternateUrl" value="/news-reviews-advice/results/"/>
      <add name="RyvusServiceProjection" value="trucksales"/>
      <add name="TenantName" value="trucksales"/>
    </Tenant>
    <Tenant Name="caravancampingsales">
      <add name="SiteNavPath" value="v2/navigation/caravancampingsales" />
      <add name="GoogleAnalyticsApp" value="caravancampingsales-desktop" />
      <add name="HotjarTracking" value="464679" />
      <add name="AllowSeoIndexOfDetails" value="true" />
      <add name="AllowSeoIndexOfListing" value="true" />
      <add name="AllowSeoIndexOfLanding" value="true" />
      <add name="DisplayPolarAds" value="false" />
      <add name="PolarSitePropertyId" value="NA-CARACAMPSALECOMAU-11238010" />
      <add name="PolarSiteName" value="caravan.dfp" />
      <add name="MediaMotiveAccountId" value="caravan.dfp" />
      <add name="KruxId" value="ITO48JgZ" />
      <add name="SiteLogoText" value="New &amp; Used Caravans, Campers, Motorhomes &amp; RVs - caravancampingsales.com.au" />
      <add name="DisqusSource" value="caravancampingsales" />
      <add name="AdUnits" value="Tile1,Tile3,Tile7,Tile8,Tile20" />
      <add name="RyvusNavName" value="RetailNavCaravan" />
      <add name="SupportsSeoFriendlyListings" value="true" />
      <add name="Culture" value="en-AU" />
      <add name="DefaultPageTitle" value="Read the Latest Caravan &amp; Motorhome News &amp; Reviews - caravancampingsales.com.au" />
      <add name="Favicon" value="https://resource.csnstatic.com/retail/favicons/caravancampingsales.ico" />
      <add name="SiteDomain" value="www.caravancampingsales.com.au" />
      <add name="UrlProtocol" value="https" />
      <add name="ListingsAlternateUrl" value="/news-reviews-advice/results/"/>
      <add name="RyvusServiceProjection" value="caravancampingsales"/>
      <add name="TenantName" value="caravancampingsales"/>
    </Tenant>
    <Tenant Name="farmmachinerysales">
      <add name="SiteNavPath" value="v2/navigation/farmmachinerysales" />
      <add name="GoogleAnalyticsApp" value="farmmachinerysales-desktop" />
      <add name="HotjarTracking" value="464675" />
      <add name="AllowSeoIndexOfDetails" value="true" />
      <add name="AllowSeoIndexOfListing" value="true" />
      <add name="AllowSeoIndexOfLanding" value="true" />
      <add name="MediaMotiveAccountId" value="farmmachinerysales.dfp" />
      <add name="KruxId" value="ITG2Lk4F" />
      <add name="SiteLogoText" value="Farm Machinery &amp; Equipment - Irrigation, Pumps &amp; Tractors - farmmachinerysales.com.au" />
      <add name="DisqusSource" value="farmmachinerysales" />
      <add name="AdUnits" value="Tile1,Tile3,Tile7,Tile8,Tile20" />
      <add name="RyvusNavName" value="RetailNavIndustry" />
      <add name="SupportsSeoFriendlyListings" value="true" />
      <add name="Culture" value="en-AU" />
      <add name="DefaultPageTitle" value="Farm &amp; Agriculture News &amp; Reviews - farmmachinerysales.com.au" />
      <add name="Favicon" value="https://resource.csnstatic.com/retail/favicons/farmmachinerysales.ico" />
      <add name="SiteDomain" value="www.farmmachinerysales.com.au" />
      <add name="UrlProtocol" value="https" />
      <add name="ListingsAlternateUrl" value="/news-reviews-advice/results/" />
      <add name="RyvusServiceProjection" value="farmmachinerysales"/>
      <add name="TenantName" value="farmmachinerysales"/>
    </Tenant>
    <Tenant Name="boatpoint">
      <add name="SiteNavPath" value="v2/navigation/boatpoint" />
      <add name="GoogleAnalyticsApp" value="boatpoint-desktop" />
      <add name="HotjarTracking" value="" />
      <add name="AllowSeoIndexOfDetails" value="true" />
      <add name="AllowSeoIndexOfListing" value="true" />
      <add name="AllowSeoIndexOfLanding" value="true" />
      <add name="MediaMotiveAccountId" value="btp.newsreviews" />
      <add name="KruxId" value="ITO4ydRU" />
      <add name="SiteLogoText" value="New boats and used boats for sale - BoatPoint Australia" />
      <add name="DisqusSource" value="boatseditorial" />
      <add name="AdUnits" value="Tile1,Tile3,Tile7,Tile8,Tile20" />
      <add name="RyvusNavName" value="RetailNavBoats" />
      <add name="SupportsSeoFriendlyListings" value="true" />
      <add name="Culture" value="en-AU" />
      <add name="DefaultPageTitle" value="New boats and used boats for sale  - BoatPoint Australia" />
      <add name="Favicon" value="https://resource.csnstatic.com/retail/favicons/boatpoint.ico" />
      <add name="SiteDomain" value="www.boatpoint.com.au" />
      <add name="UrlProtocol" value="http" />
      <add name="RyvusServiceProjection" value="boatpoint"/>
      <add name="TenantName" value="boatpoint"/>
    </Tenant>
    <Tenant Name="redbook-cars">
      <add name="SiteNavPath" value="v2/navigation/redbook" /> <!--TODO: Setup sitenav ???-->
      <add name="GoogleAnalyticsApp" value="redbook-desktop" />
      <add name="HotjarTracking" value="" /> <!--TODO: ???-->
      <add name="AllowSeoIndexOfDetails" value="false" /> 
      <add name="AllowSeoIndexOfListing" value="false" />
      <add name="DisplayPolarAds" value="false" />
      <add name="PolarSitePropertyId" value="" /> <!--TODO: ???-->
      <add name="PolarSiteName" value="" /> <!--TODO: ???-->
      <add name="MediaMotiveAccountId" value="redbook.editorial" />
      <add name="KruxId" value="" /> <!--TODO: ???-->
      <add name="SiteLogoText" value="redbook.com.au - redbook" />
      <add name="DisqusSource" value="redbookau" />
      <add name="AdUnits" value="Tile1,Tile3,Tile5,Tile20" />
      <add name="RyvusNavName" value="RetailNavRedbook" />
      <add name="SupportsSeoFriendlyListings" value="false" />
      <add name="Culture" value="en-AU" />
      <add name="DefaultPageTitle" value="Car Reviews - Read Car News &amp; Reviews - RedBook.com.au" />
      <add name="Favicon" value="https://resource.csnstatic.com/retail/favicons/redbook.ico" />
      <add name="SiteDomain" value="www.redbook.com.au" />
      <add name="UrlProtocol" value="https" />
      <add name="RyvusServiceProjection" value=""/>
      <add name="Vertical" value="cars"/>
      <add name="TenantName" value="redbook"/>
    </Tenant>
    <Tenant Name="redbook-bikes">
      <add name="SiteNavPath" value="v2/navigation/redbook" /> <!--TODO: Setup sitenav ???-->
      <add name="GoogleAnalyticsApp" value="redbook-desktop" />
      <add name="HotjarTracking" value="" /> <!--TODO: ???-->
      <add name="AllowSeoIndexOfDetails" value="false" /> <!--TODO: ???-->
      <add name="AllowSeoIndexOfListing" value="false" /> <!--TODO: ??? -->
      <add name="DisplayPolarAds" value="false" /> <!--TODO: ???-->
      <add name="PolarSitePropertyId" value="" /> <!--TODO: ???-->
      <add name="PolarSiteName" value="" />
      <add name="MediaMotiveAccountId" value="redbook.bikeresearch" />
      <add name="KruxId" value="" /> <!--TODO: ???-->
      <add name="SiteLogoText" value="redbook.com.au - redbook" />
      <add name="DisqusSource" value="redbookau" />
      <add name="AdUnits" value="Tile1,Tile3,Tile7,Tile8,Tile20" />
      <add name="RyvusNavName" value="RetailNavBikes" />
      <add name="SupportsSeoFriendlyListings" value="false" />
      <add name="Culture" value="en-AU" />
      <add name="DefaultPageTitle" value="Motorcycle News &amp; Reviews - Redbook.com.au" />
      <add name="Favicon" value="https://resource.csnstatic.com/retail/favicons/redbook.ico" />
      <add name="SiteDomain" value="www.redbook.com.au" />
      <add name="UrlProtocol" value="https" />
      <add name="RyvusServiceProjection" value=""/>
      <add name="Vertical" value="bikes"/>
      <add name="TenantName" value="redbook"/>
    </Tenant>
    <Tenant Name="redbook-boats">
      <add name="SiteNavPath" value="v2/navigation/redbook" /> <!--TODO: Setup sitenav ???-->
      <add name="GoogleAnalyticsApp" value="redbook-desktop" />
      <add name="HotjarTracking" value="" /> <!--TODO: ???-->
      <add name="AllowSeoIndexOfDetails" value="false" /> <!--TODO: ???-->
      <add name="AllowSeoIndexOfListing" value="false" /> <!--TODO: ???-->
      <add name="DisplayPolarAds" value="false" /> <!--TODO: ???-->
      <add name="PolarSitePropertyId" value="" /> <!--TODO: ???-->
      <add name="PolarSiteName" value="" /> <!--TODO: ???-->
      <add name="MediaMotiveAccountId" value="redbook.boatresearch" />
      <add name="KruxId" value="" /> <!--TODO: ???-->
      <add name="SiteLogoText" value="redbook.com.au - redbook" />
      <add name="DisqusSource" value="redbookau" />
      <add name="AdUnits" value="Tile1,Tile3,Tile7,Tile8,Tile20" />
      <add name="RyvusNavName" value="RetailNavIndustry" />
      <add name="SupportsSeoFriendlyListings" value="false" />
      <add name="Culture" value="en-AU" />
      <add name="DefaultPageTitle" value="Latest Boat News &amp; Reviews - RedBook.com.au" />
      <add name="Favicon" value="https://resource.csnstatic.com/retail/favicons/redbook.ico" />
      <add name="SiteDomain" value="www.redbook.com.au" />
      <add name="UrlProtocol" value="https" />
      <add name="RyvusServiceProjection" value=""/>
      <add name="Vertical" value="boats"/>
      <add name="TenantName" value="redbook"/>
    </Tenant>
  </TenantsSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AssetDomain" value="/dist/retail/editorial/" />
    <add key="BuildVersion" value="1" />
    <add key="LandingConfigPath" value="/Features/Landing/Configurations/" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime enableVersionHeader="false" targetFramework="4.6.1" />
    <customErrors mode="Off" defaultRedirect="/error/500">
      <error statusCode="404" redirect="/error/404" />
    </customErrors>
    <machineKey validationKey="4BBF2DF83FBAEEFCF727CCFCC87CAF2700A8A065B6C0FFD862BC44FA18DEE9F525225367FEB29C135F21B4D2F63E4925FDB2E4D212A8C4540422774899D310CB" decryptionKey="B9D81AC929118054D24C963BC36EF478BDBFAC8FF56671B2FA4340F5D96DB921" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP2" />
    <!-- Uncomment if using IIS 7 Classic Mode, IIS 6, or Mono -->
    <!--
		<httpHandlers>
			<add verb="GET" path="*.jsx" type="React.Web.BabelHandlerFactory, React.Web" />
		</httpHandlers>
		-->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/error/404" responseMode="ExecuteURL" />
      <error statusCode="500" path="/error/500" responseMode="ExecuteURL" />
    </httpErrors>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="MembershipAuthModule" type="Csn.Member.AuthenticationModule.MembershipAuthSso, Csn.Member.AuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="Babel" />
      <add name="Babel" verb="GET" path="*.jsx" type="React.Web.BabelHandlerFactory, React.Web" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.10.0" newVersion="2.4.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.V8" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.10.0" newVersion="2.4.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Msie" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.11.0" newVersion="2.4.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!-- fiddler proxy-->
  <!--<system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />
    </defaultProxy>
  </system.net>-->
</configuration>