<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="TenantsSettings" type="Csn.MultiTenant.Configs.TenantConfigSection, Csn.MultiTenant" />
    <section name="CacheSettings" type="Csn.Cars.Cache.Configs.CacheSettingsSection, Csn.Cars.Cache" />
    <section name="CircuitBreakerSettings" type="Csn.Hystrix.Configs.CircuitConfigSection,Csn.Hystrix" />
    <section name="HystrixRestClientSettings" type="Csn.Hystrix.RestClient.Configs.HystrixRestClientSetting, Csn.Hystrix.RestClient" />
    <section name="Ingress.RedisSettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core-Net45" />
    <section name="Ingress.CacheSettings" type="Ingress.Core.Settings.IngressSettingsSection, Ingress.Core-Net45" />
  </configSections>
  
  <Ingress.CacheSettings>
    <add name="Enabled" value="false" />
  </Ingress.CacheSettings>
  <Ingress.RedisSettings>
    <add name="ConnectionStringOrName" value="RedisServer" />
    <add name="DefaultDb" value="12" />
  </Ingress.RedisSettings>
  
  <connectionStrings>
    <add name="RedisServer" connectionString="redis.csstg.com.au:6379,KeepAlive=180,name=MemberCentre.Web,Password=8HqNR43OFj3gnVPz1ECKEZayefBiJjjoKXA6aKiZ" />
  </connectionStrings>

  <Csn.WebMetrics>
    <SiteSettings>
      <add Site="*.carsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.trucksales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-trucks" NielsenCid="carsales" NielsenContent="trucksales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.boatsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.caravancampingsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" SiteWideRemarketingConversionId="-1" />
      <add Site="*.farmmachinerysales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.bikesales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.bikepoint.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.boatpoint.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
      <add Site="*.constructionsales.editorial.csdev.com.au" InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" NielsenCid="carsales" NielsenContent="carsales" NielsenServer="secure-au" BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x1k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" EloquaSiteId="-1" />
    </SiteSettings>
    <General IncludeEventTrackingScripts="true" EventTrackingPlugins="WebmBiEventTracker;WebmWtEventTracker" IncludeAuto360Tracking="True" CsnAnalyticsApiEndPoint="http://webmetrics.carsalesnetwork.com.au" />
    <WebTrends TagVersion="10" WebTrendsDcsId="dcs222zlr6dw2xig9ggbdh43q_2x0k" CurrentActiveDomain=".csdev.com.au" JavascriptLocation="/editorial/Content/Scripts/" SearchStateQueryParam="q" SearchStateSortParam="sortby" SearchStatePageParam="page" />
    <BusinessIntelligence BiTrackingDomain="tracking.dev.carsales.com.au" BiTrackingPath="/fav.ico" BiGenerateScript="true" />
    <NielsenSettings Cid="carsales" Content="carsales" Server="secure-au" />
    <Injester InjesterTrackingDomain="jester.ryvusiq.com.au" InjesterSourceSystem="retailcars-dev" />
    <EloquaSettings SiteId="-1" />
  </Csn.WebMetrics>

  <TenantsSettings DefaultTenant="carsales">
    <Tenant Name="carsales">
      <add name="MediaMotiveAccountId" value="cs.allcars" />
      <add name="MediaMotiveUrl" value="//mm.carsales.com.au/carsales/" />
      <add name="SiteNavPath" value="navigation/carsales" />
    </Tenant>
    <Tenant Name="bikesales">
      <add name="MediaMotiveAccountId" value="cs.allcars" />
      <add name="MediaMotiveUrl" value="//mm.carsales.com.au/bikesales/" />
      <add name="SiteNavPath" value="navigation/bikesales" />
    </Tenant>
  <Tenant Name="constructionsales">
      <add name="MediaMotiveAccountId" value="cs.allcars" />
      <add name="MediaMotiveUrl" value="//mm.carsales.com.au/carsales/" />
      <add name="SiteNavPath" value="navigation/constructionsales" />
    </Tenant>
  </TenantsSettings>
  <CircuitBreakerSettings Disabled="False" DefaultHeartBeatInMs="10000" DefaultHistoryBufferSize="100" DefaultTimeoutThreshold="5" DefaultFailureThreshold="5" DefaultQueueLengthThreshold="1000" DefaultThreadDurationTimeoutInMs="1000" DefaultThreadExecutionTimeoutInMs="900" DefaultThreadAbortTimeoutInMs="2000" DefaultNumThreads="20">
    <Circuits>
      <Circuit Name="SiteNavApiProxy" HeartBeatInMs="30000" LatencyThresholdInMs="5000" QueueLengthThreshold="1000" ThreadDurationTimeoutInMs="3000" ThreadExecutionTimeoutInMs="2000" ThreadAbortTimeoutInMs="4000" />
      <Circuit Name="EditorialApiProxy" HeartBeatInMs="30000" LatencyThresholdInMs="5000" QueueLengthThreshold="1000" ThreadDurationTimeoutInMs="3000" ThreadExecutionTimeoutInMs="2000" ThreadAbortTimeoutInMs="4000" />
    </Circuits>
  </CircuitBreakerSettings>
  <HystrixRestClientSettings>
    <Hosts>
      <Host Name="SiteNavApiProxy" BaseUrl="http://sitenav.aws.csstg.com.au/v2" TimeoutInMs="1000" RetryOnFailure="1" CircuitConfig="SiteNavApiProxy" />
      <Host Name="EditorialApiProxy" BaseUrl="http://retaileditorial.service.csstg.com.au" TimeoutInMs="5000" RetryOnFailure="3" CircuitConfig="EditorialApiProxy" />
    </Hosts>
  </HystrixRestClientSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AssetDomain" value="/dist/" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime enableVersionHeader="false" targetFramework="4.6.1" />

    <customErrors mode="Off" defaultRedirect="/error/500">
      <error statusCode="404" redirect="/error/404" />
    </customErrors>
    <machineKey validationKey="4BBF2DF83FBAEEFCF727CCFCC87CAF2700A8A065B6C0FFD862BC44FA18DEE9F525225367FEB29C135F21B4D2F63E4925FDB2E4D212A8C4540422774899D310CB" decryptionKey="B9D81AC929118054D24C963BC36EF478BDBFAC8FF56671B2FA4340F5D96DB921" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP2" />
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/error/404" responseMode="ExecuteURL" />
      <error statusCode="500" path="/error/500" responseMode="ExecuteURL" />
    </httpErrors>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="MembershipAuthModule" type="Csn.Member.AuthenticationModule.MembershipAuthSso, Csn.Member.AuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!-- fiddler proxy-->
  <!--<system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />
    </defaultProxy>
  </system.net>-->
</configuration>