<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.1.1" targetFramework="net461" />
  <package id="Bearded.Monads" version="1.1.2" targetFramework="net461" />
  <package id="Csn.Logging" version="5.2.0" targetFramework="net461" />
  <package id="Csn.MultiTenant" version="4.0.0.0" targetFramework="net461" />
  <package id="Expresso" version="42.0.330" targetFramework="net461" />
  <package id="Expresso.Parser" version="42.0.313" targetFramework="net461" />
  <package id="FParsec" version="1.0.2" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net461" />
  <package id="Ingress.Cache-Net45" version="1.2.6.0" targetFramework="net461" />
  <package id="Ingress.ContextStores-Net45" version="1.0.0.0" targetFramework="net461" />
  <package id="Ingress.Core-Net45" version="1.1.9.0" targetFramework="net461" />
  <package id="Ingress.HttpClient.Hystrix.Abstracts-Net45" version="1.0.0" targetFramework="net461" />
  <package id="Ingress.ServiceClient.Abstracts-Net45" version="1.0.5" targetFramework="net461" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
</packages>