    <header id="page-header" class="page-header page-header--transparent container" data-webm-section="page-header">
    <div class="container">
        @{ Html.RenderPartial("~/Features/Shared/Views/Partials/_SiteLogo.cshtml"); }
        </div>
    </header>