@model Csn.Retail.Editorial.Web.Features.Details.Models.DisqusData

<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    var disqus_shortname = '@Model.DisqusSource';
    var disqus_config = function () {
        this.page.url = '@Model.ArticleUrl';
        this.page.identifier = '@Model.Identifier';
        this.page.title = '@Model.Title';

        //this.discovery.disable_all = true;
    };
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
