<div class="article-disclaimer">
    <h3 class="article-disclaimer__heading">Disclaimer</h3>
    <p>In most cases, the Carsales Network attends new vehicle launches at the invitation and expense of vehicle manufacturers and/or distributors.</p>
    <p>Editorial prices shown are a "price guide" only, based on information provided to us by the manufacturer. Pricing current at the time of writing editorial. Pricing prior to editorial dated 25 May 2009 may refer to RRP. Due to Clarity on Pricing legislation, RRP for those editorials now means "price guide". When purchasing a  bike, always confirm the single figure price with the seller of an actual motorbike or accessory. Click <a href="/info/terms-conditions/" target="blank">here</a> for further information about our Terms &amp; Conditions.</p>
</div>