.pros-and-cons {
    margin-top: 30px;
    font-size: $font-size-body;
    
    &__pro {
        border-top: 1px solid $cs-light-grey-2;
    }

    &__con {
        border-top: 1px solid $cs-light-grey-2;
        margin-top: 15px;
    }

    &__pro-heading {
        color: $cs-accent-green;
        margin-top: 10px;
    }

    &__con-heading {
        color: $cs-red;
        margin-top: 10px;
    }

    &__pro-list {
        padding-left: 15px;
    }

    &__con-list {
        padding-left: 15px;
    }

    &__pro-list-item {
        margin-top: 13px;

        &::before {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            margin-right: 8px;
            margin-left: -15px;
            border-radius: 9999px;
            background-color: $cs-accent-green;
            vertical-align: middle;
        }
    }

    &__con-list-item {
        margin-top: 13px;

        &::before {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            margin-right: 8px;
            margin-left: -15px;
            border-radius: 9999px;
            background-color: $cs-red;
            vertical-align: middle;
        }
    }
}
