// Scale - Major Third
$font-size-h1: emtopx(typeScale(1.25,5), $font-size-body);
$font-size-h2: emtopx(typeScale(1.25,3), $font-size-body);
$font-size-h3: emtopx(typeScale(1.25,2), $font-size-body);
$font-size-h4: emtopx(typeScale(1.25,1), $font-size-body);
$font-size-h5: emtopx(typeScale(1.25,0), $font-size-body);
$font-size-h6: emtopx(typeScale(1.25,-1), $font-size-body);

$font-size-p: emtopx(typeScale(1.25,1), $font-size-body);
$font-size-quote: emtopx(typeScale(1.25,3), $font-size-body);

// H1
@mixin h1() {
    font-size: emtopx(typeScale(1.2,5), $font-size-body);
    font-weight: $font-weight-300;
    letter-spacing: -.005em;
    line-height: 1.2;

    @include breakpoint($screen-lg) {
        font-size: emtopx(typeScale(1.25,5), $font-size-body);
        font-weight: $font-weight-300;
        line-height: 1.1;
    }
}

// H2
@mixin h2() {
    font-size: emtopx(typeScale(1.2,3), $font-size-body);
    font-weight: $font-weight-300;
    letter-spacing: 0;
    line-height: 1.3;

    @include breakpoint($screen-lg) {
        font-size: emtopx(typeScale(1.25,3), $font-size-body);
        font-weight: $font-weight-300;
        letter-spacing: 0;
        line-height: 1.2
    }
}

// H3
@mixin h3() {
    font-size: emtopx(typeScale(1.2,2), $font-size-body);
    font-weight: $font-weight-400;
    letter-spacing: 0;
    line-height: 1.3;

    @include breakpoint($screen-lg) {
        font-size: emtopx(typeScale(1.25,2), $font-size-body);
        font-weight: $font-weight-300;
        letter-spacing: 0;
        line-height: 1.3;
    }
}

// H4, H5, H6
@mixin h4() {
    font-size: emtopx(typeScale(1.2,1), $font-size-body);
    font-weight: $font-weight-400;
    letter-spacing: .005em;
    line-height: 1.3;

    @include breakpoint($screen-lg) {
        font-size: emtopx(typeScale(1.25,1), $font-size-body);
        font-weight: $font-weight-400;
        letter-spacing: .005em;
        line-height: 1.3;
    }
}

// P
@mixin p() {
    font-size: $font-size-h4;
    font-weight: $font-weight-400;
    letter-spacing: 0;
    line-height: 1.6;
}

// Strong
@mixin strong() {
    font-weight: $font-weight-400;
    letter-spacing: 0;
    line-height: 1.6;
}

// Tiny Text
@mixin tiny-text() {
    font-size: $font-size-small;
    font-weight: $font-weight-400;
    letter-spacing: 0;
    line-height: 1.6;
}

// Drop Cap
@mixin drop-cap-paragraph() {
    color: inherit;
    float: left;
    font-size: 5.2em;
    font-weight: $font-weight-300;
    line-height: .75;
    margin-right: .1em;
    margin-top: .09em;
    text-transform: capitalize;
}

// Summary
@mixin rundown-text() {

    @include breakpoint($screen-lg) {
        font-size: $font-size-rundown;
        font-weight: 300;
        line-height: 1.5em;
    }
}

// Block Quote
@mixin blockquote() {
    font-size: $font-size-quote;
    font-weight: $font-weight-400;
    line-height: 1.2;

    &:before, &:before {
        content: "“";
        margin-left: -.5em;
    }

    &:after, &:after {
        content: "”";
    }
}

// Hr
@mixin hr() {
    border-bottom: 1px solid $cs-light-grey-2;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1em 0;
}


// Cite
@mixin cite() {
    color: $cs-grey;
    font-style: italic;

    &:before {
        content: "— ";
    }
}
