// Variables - Typography

// Font Family
$font-family-default: 'Open Sans', Arial;

// Font Sizes
$font-size-h1: 38px;
$font-size-h2: 25px;
$font-size-h3: 38px;
$font-size-h4: 38px;
$font-size-h5: 38px;
$font-size-h6: 38px;

$font-size-p: 16px;
$font-size-small: 12px;