// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #005289;


// Logo
$logo-header: 'images/trucksales/logo-trucksales.svg';
$logo-header-width: 160px; // max width - leaderboard
$logo-header-height: 70px;