// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #005289;


// Logo
$logo-header: 'https://resource.csnstatic.com/retail/globals/logo/v3/trucksales.svg';
$logo-header-width: 160px; // max width - leaderboard
$logo-header-height: 70px;

$logo-header--transparent: 'https://resource.csnstatic.com/retail/globals/logo/v3/trucksales-white.svg';
$logo-header-width--transparent: 103px;
$logo-header-height--transparent: 40px; 