@using Csn.Retail.Editorial.Web.Features.MediaMotiveAds
@using Csn.Retail.Editorial.Web.Features.MediaMotiveAds.HtmlHelpers
@using React.Web.Mvc
@model Csn.Retail.Editorial.Web.Features.Landing.Models.LandingViewModel

@{
 var showHero = Model.CampaignAd != null || !string.IsNullOrEmpty(Model.HeroImage);
}

<h1 class="page-title" style="display: none;">@Model.Title</h1>

@if (Model.CampaignAd != null)
{
    Html.RenderPartial("~/Features/Landing/Views/Partials/_HeaderTransparent.cshtml");
    <h2 class="page-title">@Model.HeroTitle</h2>
    Html.RenderPartial("~/Features/Shared/Hero/Views/_HeroAdUnit.cshtml", Model.CampaignAd);
    Html.RenderMediaMotiveAd(new MediaMotiveAdQuery() { AdSize = AdSize.Block1200X100, TileId = 1, Make = Model.MediaMotiveModel.Make });
}
else if (!string.IsNullOrEmpty(Model.HeroImage))
{
    Html.RenderPartial("~/Features/Landing/Views/Partials/_HeaderTransparent.cshtml");
    <h2 class="page-title">@Model.HeroTitle</h2>
    Html.RenderPartial("~/Features/Shared/Hero/Views/_HeroImage.cshtml", Model);
    Html.RenderMediaMotiveAd(new MediaMotiveAdQuery() { AdSize = AdSize.Block1200X100, TileId = 1 });
}
else
{
    Html.RenderPartial("Partials/_Header");
}

@Html.React("global.Components.INav", new { state = Model.Nav }, containerId: "iNav", containerClass: showHero ? "iNav--v2" : "iNav--v1")