@using Csn.Retail.Editorial.Web.Features.Shared.HtmlHelpers
@model Csn.Retail.Editorial.Web.Features.Details.Models.ContentSectionViewModel

<div class="container">
    <div class="brightcove">
        <div class="brightcove__video-wrapper">
            <video 
                data-video-id="@Model.BrightcoveVideo.VideoId"
                data-csn-article-id="@Model.NetworkId"
                data-csn-mute="false"
                data-csn-service="@Html.CurrentTenant().TenantName"
                data-account="674523943001"
                data-player="@Model.BrightcoveVideo.PlayerId"
                data-embed="default"
                class="video-js inline-video"
                controls>
            </video>
            <script src="https://players.brightcove.net/674523943001/@(Model.BrightcoveVideo.PlayerId)_default/index.js" async></script>
        </div>
    </div>
</div>
