@model Csn.Retail.Editorial.Web.Features.Shared.Proxies.EditorialApi.ContentSection

<div class="brightcove">
    <div class="brightcove__iframe-wrapper">
        <iframe src="@Model.IFrameUrl" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
    </div>
</div>
