@model Csn.Retail.Editorial.Web.Features.Details.Models.ContentSectionViewModel

<div class="container">
    @{ Html.RenderPartial($"Partials/ContentSections/EmbeddedContent/_{Model.Type}", Model); }
</div>