@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

@if (Model?.Price != null)
{
    <div class="article__pricing">
        <div class="article__pricing--description">@Model.Price.PriceDescription</div>
        <div class="article__pricing--price">@Model.Price.PriceText</div>
    </div>
}