@model Csn.Retail.Editorial.Web.Features.Shared.Proxies.EditorialApi.ContentSection

<div class="container">
    <blockquote class="article__quote">@Html.Raw(HttpUtility.HtmlDecode(Model.Content))</blockquote>
</div>