@model Csn.Retail.Editorial.Web.Features.Shared.Proxies.EditorialApi.ContentSection

<div>
    <img src="@Model.Image.Url" alt="@Model.Image.AlternateText"/>
    <div>@Model.Image.Caption</div>
</div>
