// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #FFC425;


// Logo
$logo-header: 'images/boatpoint/logo-boatpoint.svg';
$logo-header-width: 234px; // max width = width(992) - leaderboard(728) - padding(30)
$logo-header-height: 90px; // hieght limits width b/c aspect ratio