// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #FFC425;


// Logo
$logo-header: 'Images/Boatpoint/logo-boatpoint.svg';
$logo-header-width: 234px; // max width = width(992) - leaderboard(728) - padding(30)
$logo-header-height: 90px; // hieght limits width b/c aspect ratio

$logo-header--transparent: 'Images/Boatpoint/logo-boatpoint--white.svg';
$logo-header-width--transparent: 103px;
$logo-header-height--transparent: 40px; 