@import "css/_globals.scss";

.csn-carousel__placeholder--featured {

    .iNavSearchResult__content-wrapper {
        background-color: $cs-dark-grey-2;
    }

    .iNavSearchResult__heading,
    .iNavSearchResult__sub-heading {
        color: $cs-white;
    }

    .iNavSearchResult__date {
        color: $cs-grey-2;
    }

    .iNavSearchResult__comment-count {
        color: $cs-grey-2;
    }

    .iNavSearchResult__comment-count:hover,
    .iNavSearchResult__comment-count:visited,
    .iNavSearchResult__comment-count:focus {
        color: $cs-white;
    }

    .iNavSearchResult__heading,
    .iNavSearchResult__sub-heading {
        &::after {
            background: linear-gradient(to right, rgba(255, 255, 255, 0), $cs-dark-grey-2 5%, $cs-dark-grey-2);
        }
    }
}

.csn-carousel--driver {
    .slick-slide a {
        display: block;
        margin-right: 20px;
    }
}

.slick-slide .iNavSearchResult {
    margin-right: 20px;
    max-width: 326px;
    display: block;

    @include breakpoint(1200px) {
        max-width: 350px;
    }

    @include breakpoint(1600px) {
        max-width: 350px;
    }
}
