@import "css/_globals.scss";
@import "iNav/Css/iNav.variables";

.iNavSorting__container {
    font-size: 14px;
    display: inline-block;
    position: absolute;
    right: $grid-gutter-width/2;
    top: 30px;
    border: solid 1px $cs-grey-1;
    border-radius: $iNav-border-radius;
    cursor: pointer;
    background-color: $cs-white;

    @include breakpoint($screen-lg) {
        top: 45px;  
        right: $grid-gutter-width;
        
    }    
    
    &::after {
        position: absolute;
        text-align: center;
        right: 0;
        top: 0;
        content: $icon-chevron-down-lg;
        font-family: $font-family-icons;
        display: block;
        height: $iNav-sort-height;
        width: 40px;
        line-height:  $iNav-sort-height;
        float: right;
        color: $cs-light-grey-1;
        font-weight: 900;
        pointer-events: none;
    }
}

.iNavSorting {
    appearance: none;
    border: none;  
    width: $iNav-sort-width;
    height: $iNav-sort-height;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 40px;
    cursor: pointer;
    color: $cs-light-grey-8;
    font-weight: $font-weight-600; 
}