html {
    font-size: $font-size-body;
}

body {
    min-width: 1200px;
    padding-top: 40px;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $cs-dark-grey;
    font-family: $font-family-default;
    font-size: $font-size-body;
    line-height: 1.6;
}


a {
    color: $cs-primary;

    &:hover {
        color: $cs-primary;
    }
    &:visited {
        color: $cs-primary;
    }
    &:active {
        color: $cs-primary;
    }
    &:focus {
        color: $cs-primary;
    }
}