// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #007CC2;


// Logo
$logo-header: 'images/caravancampingsales/logo-caravancampingsales.svg';
$logo-header-width: 160px; // max width - leaderboard
$logo-header-height: 70px;