// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #4F7034;


// Logo
$logo-header: 'https://resource.csnstatic.com/retail/globals/logo/v3/caravancampingsales.svg';
$logo-header-width: 252px; // max width = width(992) - leaderboard(728) - padding(30)
$logo-header-height: 60px; // hieght limits width b/c aspect ratio

$logo-header--transparent: 'https://resource.csnstatic.com/retail/globals/logo/v3/caravancampingsales-white.svg';
$logo-header-width--transparent: 103px;
$logo-header-height--transparent: 40px; 