@model Csn.Retail.Editorial.Web.Features.Details.Models.SocialMetaData


<a class="share-social__link share-social__link--email" href="mailto:?subject=@Model.Title&amp;body=@Model.Url">
    <div class="share-social__link-icon icon-envelope-lg"></div>
    <div class="share-social__link-text">Email</div>
</a>
