@model Csn.Retail.Editorial.Web.Features.Details.Models.SocialMetaData


<a class="share-social__link share-social__link--facebook share-social__link--popup"
   href="http://www.facebook.com/sharer.php?u=@Model.Url"
   onclick="window.open(this.href, 'social--facebook','left=50,top=50,width=600,height=350,toolbar=0'); return false;"
   target="_blank">
    <div class="share-social__link-icon icon-facebook"></div>
    <div class="share-social__link-text">Facebook</div>
</a>
