@model Csn.Retail.Editorial.Web.Features.Details.Models.SocialMetaData


<a class="share-social__link share-social__link--google-plus share-social__link--popup"
   href="http://plus.google.com/share?url=@Model.Url"
   onclick="window.open(this.href, 'social--googleplus', 'left=50,top=50,width=400,height=500,toolbar=0'); return false;"
   target="_blank" data-webm-clickvalue="googleplus">
    <div class="share-social__link-icon icon-google_plus"></div>
    <div class="share-social__link-text">Google Plus</div>
</a>