@model Csn.Retail.Editorial.Web.Features.Details.Models.SocialMetaData


<a class="share-social__link share-social__link--pinterest share-social__link--popup"
   href="http://pinterest.com/pin/create/button/?url=@Model.Url&amp;media=@Model.Image"
   onclick="window.open(this.href, 'social--pinterest','left=50,top=50,width=735,height=680,toolbar=0'); return false;"
   target="_blank">
    <div class="share-social__link-icon icon-pinterest_icon"></div>
    <div class="share-social__link-text">Pintrest</div>
</a>
