@model Csn.Retail.Editorial.Web.Features.Details.Models.SocialMetaData


<a class="share-social__link share-social__link--reddit share-social__link--popup"
   href="http://www.reddit.com/submit?@Model.Url"
   onclick="window.open(this.href, 'social--reddit','left=50,top=50,width=450,height=550,toolbar=0'); return false;"
   target="_blank" data-webm-clickvalue="reddit">
    <div class="share-social__link-icon icon-reddit"></div>
    <div class="share-social__link-text">Reddit</div>
</a>
