@import "css/globals";

.also-consider {

    $spacing: 30px;

    margin-top: 30px;
    border-top: 1px solid $cs-light-grey-2;
    padding-top: 20px;
    font-size: 0;
    position: relative;

    &__header {
        font-size: $font-size-h4;
        color: $cs-dark-grey-1;
        margin-bottom: 25px;

        @include breakpoint($screen-lg) {
            font-size: $font-size-h3;
        }
    }

    &.loading {
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            background-color: rgba($cs-white, 0.7);
            background-image: url($spinner--dark);
            background-size: 200px 200px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__list {
        width: calc(100% + #{$spacing});
        margin-left: -1*$spacing;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        align-content: center;
    }

    .also-consider-item {
        padding-left: $spacing;
        text-align: center;
        position: relative;
        top: 0;
        order: 0;
        flex: 1 0 auto;
        align-self: flex-start;
        max-width: percentage(1/3);

        @include breakpoint($screen-lg) {
            max-width: percentage(1/4);
        }

        & > a {
            text-decoration: none;
        }


        &__image {
            border-radius: 6px;
            opacity: 1;
            transition: opacity .3s;
        }

        &__title {
            font-size: $font-size-h6;
            color: $cs-dark-grey-1;
            padding-top: 10px;
        }

        &__description {

            @include button(( small: true, round: true, thin: true, primary-inverse: true ));
            border: none;
            padding-left: 0;
            padding-right: 0;

            &:hover,
            &:active,
            &:focus,
            &:visited {
                background-color: transparent;
                border-color: transparent;
                color: $cs-primary;
                text-decoration: none;
            }
        }
    }
}