@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

<div class="aside col-sm-4">
    <!-- Aside Section -->
    @{ Html.RenderPartial("Partials/MediaMotive/_Mrec", Model.MediaMotiveData); }

    @if (Model?.ExpertRatings != null && Model?.ProsCons != null)
    {
        Html.RenderPartial("Partials/Widgets/_EditorsRating", Model);

    }

    @{ Html.RenderPartial("Partials/MediaMotive/_SmallBanner", Model.MediaMotiveData); }

</div>
