@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

<div class="aside col-sm-4">
    <!-- Aside Section -->
    @{Html.RenderPartial("Partials/MediaMotive/_Mrec", Model.MediaMotiveData); }
</div>
