@model Csn.Retail.Editorial.Web.Features.DisplayAds.Models.GoogleAdsViewModel

<div id="@Model.AdSlotId"
     data-ad-network-code="@Model.AdNetworkCode"
     data-ad-unit-id="@Model.AdUnitId"
     data-ad-dimensions="@Model.Dimensions"
     class="googleads-block googleads-@Model.Description.ToLower()">
</div>