@model Csn.Retail.Editorial.Web.Features.Details.Models.EditorialExpertRating

<div class="expert-ratings">
    <h2 class="expert-ratings_heading">@Model.Heading</h2>
    <div class="expert-ratings__overall-rating"></div>
    <h3 class="expert-ratings_subheading">@Model.SubHeading</h3>

</div>
