<div class="more-articles">
    <div class="more-articles_filters">
        @* Loop through filters *@
        <div class="more-articles_filter"></div>
    </div>
    <div class="more-articles__frame lory-slider__frame">
        <ul class="more-articles__slides lory-slider__slides">
            @* Loop through articles *@
            <li class="more-article lory-slider__slide">
                <a class="more-article_link-container" href="">
                    <div class="more-article_image">
                        <img src="http://placehold.it/140x93" alt="" />
                    </div>
                    <h2 class="more-article_title">2016 Audi A3 Review</h2>
                    <p class="more-article_link" href="">Read more</p>
                </a>
            </li>
            <li class="more-article lory-slider__slide">
                <a class="more-article_link-container" href="">
                    <div class="more-article_image">
                        <img src="http://placehold.it/140x93" alt="" />
                    </div>
                    <div class="more-article_banner">Sponsored</div>
                    <h2 class="more-article_title">2016 Audi A3 Review</h2>
                    <p class="more-article_link" href="">Read more</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="more-articles_nav">
        <button class="more-articles_nav-button--hide">Hide</button>
        <button class="more-articles_nav-button--prev">Prev</button>
        <button class="more-articles_nav-button--next">Next</button>
    </div>
</div>
