@model Csn.Retail.Editorial.Web.Features.Details.Models.ProCon

<div class="pros-and-cons">
    <div class="pros-and-cons__pro">
        <p class="pros-and-cons__pro-heading">@Model.Pros.Heading</p>
        <ul class="pros-and-cons__pro-list">
            @foreach (var item in Model.Pros.Items)
            {
                <li class="pros-and-cons__pro-list-item">@item</li>
            }
        </ul>
    </div>
    <div class="pros-and-cons__con">
        <p class="pros-and-cons__con-heading">@Model.Cons.Heading</p>
        <ul class="pros-and-cons__con-list">
            @foreach (var item in Model.Cons.Items)
            {
                <li class="pros-and-cons__con-list-item">@item</li>
            }
        </ul>
    </div>
</div>