@mixin button($options: ()) {
    line-height: 31px;
    font-size: 13px;
    padding: 0 20px;
    /*@if (map-get($options, $key) == true ) {
    }*/
    @if (map-get($options, small) == true ) {
        line-height: 27px;
        font-size: 13px;
        padding: 0 15px;
        font-weight: 600;
    }

    @if (map-get($options, extra-small) == true ) {
        line-height: 23px;
        font-size: 13px;
        padding: 0 15px;
        font-weight: 600;
    }


    @if (map-get($options, large) == true ) {
    }

    @if (map-get($options, thin) == true ) {
        border-width: 1px;
        border-style: solid;
    }

    @if (map-get($options, round) == true ) {
        border-radius: 9999px;
    }

    @if (map-get($options, primary) == true ) {
        border-color: $cs-primary;
        background-color: $cs-primary;
        color: $cs-white;

        &:visited {
            color: $cs-white;
            text-decoration: none;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: rgba($cs-primary, 0.7);
            border-color: rgba($cs-primary, 0);
            color: $cs-white;
            text-decoration: none;
        }
    }

    @if (map-get($options, primary-inverse) == true ) {
        border-color: $cs-primary;
        color: $cs-primary;

        &:visited {
            color: $cs-white;
            text-decoration: none;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: rgba($cs-primary, 0.7);
            border-color: rgba($cs-primary, 0);
            color: $cs-white;
            text-decoration: none;
        }
    }
}


@mixin buttonColor($color, $textColor) {
    border-color: $color;
    background-color: $color;
    color: $textColor;

    &:hover,
    &:active,
    &:focus,
    &:visited {
        background-color: rgba($color, 0.7);
        border-color: rgba($color, 0);
        color: $textColor;
        text-decoration: none;
    }
}