%button {
    line-height: 35px;
    font-size: $font-size-h5;
    padding: 0 15px;
}

%button--small {
    line-height: 30px;
    font-size: $font-size-small;
    padding: 0 15px;
}

%button--thin {
    border-width: 1px;
    border-style: solid;
}

%button--round {
    border-radius: 100px;
}

%button--primary-inverse {
    border-color: $cs-primary;
    color: $cs-primary;
}

%button--primary {
    border-color: $cs-primary;
    background-color: $cs-primary;
    color: $cs-white;

    &:hover,
    &:active,
    &:focus,
    &:visited {
        background-color: rgba($cs-primary, 0.7);
        color: $cs-white;
        text-decoration: none;
    }
}