@using Newtonsoft.Json
@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

@if (Model.StockListingData != null && Model.StockListingData.Filters.Any())
{
    <script>
        var csn_editorial = csn_editorial || {};
        csn_editorial.stockForSale = @Html.Raw(JsonConvert.SerializeObject(Model.StockListingData)) || null;
    </script>
        <div class="stock-for-sale-placeholder"></div>
}
