// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #FFA421;

// Logo
$logo-header : 'images/logo-constructionsales.svg';
$logo-header-width: 232px; // max width - leaderboard
$logo-header-height: 90px;