<div class="container">
    <div class="article-disclaimer">
        <h3 class="article-disclaimer__heading">Disclaimer</h3>
        <p>Prices and specifications supplied are for the market in Australia only and were correct at time of first publication. boatsales.com.au makes no warranty as to the accuracy of specifications or prices. Please check with manufacturer or local dealer for current pricing and specifications.</p>
    </div>
</div>