@import 'variables.scss';

body {
    font-family: $fontFamilyDefault;
    text-align: center;
}

.page-container{
    text-align: left;
    margin:0 auto;
    width:992px;
}

#page-footer{
    text-align: left;
}