.csn-site-nav-footer {
    .footer-area__columns {
        h3 {
            text-align: left;
        }

        ul {
            li {
                text-align: left;
            }
        }

        h5 {
            font-size: 14px;
            margin-top: 0;
            text-align: left;
        }

        p.footer-area__column__description {
            font-size: 13px;
            line-height: 1.42857;
            text-align: left;
        }

        hr {
            margin-bottom: 10px;
            margin-top: 15px;
        }
    }
}