.mediamotive-block {
    line-height: 0;
    font-size: 0;
}

.mediamotive-mrec {
    max-width: 300px;
    line-height: 0;
    font-size: 0;
    margin-bottom: 35px;
}

.mediamotive-leaderboard {
    float: right;
}

.teads-inread {
    margin: auto !important;

    &+iframe {
        display: none;
    }
}

.sponsored-text-links {
    border-radius: 6px;
    border: solid 1px $cs-light-grey-2;
    padding: 30px 30px 5px;

    &__title {
        padding-bottom: 10px;
        font-size: $font-size-small;
        color: $cs-light-grey-1;
    }
}

.mediamotive-sponsoredlink {
    font-size: 11px;
}

.sponsoredlink {
    text-decoration: none;
    line-height: normal;
    margin-bottom:25px;
    display: block;

    &:hover {
        text-decoration: none;
    }

    .desc {
        color: $cs-light-grey-5;
    }

    .title,
    .desc,
    .link {
        display: block;
    }

    .title {
        color: $cs-dark-grey-2;
        font-size: $font-size-body;
    }

    .link {
        color: $cs-dark-blue;

        &:hover {
            text-decoration: underline;
        }
    }

    .desc,
    .link {
        font-size: $font-size-smaller;
    }
}