.mediamotive-block {
    line-height: 0;
    font-size: 0;
}

.mediamotive-tracking {
    display: none;
}

@import "css/modules/MediaMotive/_leaderboard.scss";
@import "css/modules/MediaMotive/_carousel.scss";
@import "css/modules/MediaMotive/_aside.scss";
@import "css/modules/MediaMotive/_teads.scss";
