.mediamotive-block {
    line-height: 0;

    a {
        img {
            display: none;
        }
    }
}

.mrec-block {
    max-width: 300px;
    line-height: 0;

    iframe {
        margin-bottom: 35px !important;
    }

    a {
        img {
            display: none;
        }
    }
}

.mediamotive-leaderboard {
    float: right;
}


#Tile15.mediamotive-block {
    a {
        img {
            display: none;
        }
    }
}

.teads-inread {
    margin: auto !important;

    &+iframe {
        display: none;
    }
}