$font-s3-path: "https://editorial.csnstatic.com/desktop/fonts/" !default;

$icon-hamburger-lg: "\e905";
$icon-arrows-wide-lg: "\e906";
$icon-arrows-wide-md: "\e907";
$icon-arrows-wide-sm: "\e908";
$icon-article-lg: "\e909";
$icon-article-md: "\e90a";
$icon-article-sm: "\e90b";
$icon-bell-lg: "\e90c";
$icon-bell-md: "\e90d";
$icon-bell-sm: "\e90e";
$icon-bin-lg: "\e90f";
$icon-bin-md: "\e910";
$icon-bin-sm: "\e911";
$icon-book-lg: "\e912";
$icon-book-md: "\e913";
$icon-book-sm: "\e914";
$icon-calandar-lg: "\e915";
$icon-calandar-md: "\e917";
$icon-calandar-sm: "\e919";
$icon-camera-lg: "\e91a";
$icon-camera-md: "\e91b";
$icon-camera-sm: "\e91c";
$icon-car-front-lg: "\e916";
$icon-car-front-md: "\e91d";
$icon-car-front-sm: "\e918";
$icon-car-side-lg: "\e91e";
$icon-car-side-md: "\e91f";
$icon-car-side-sm: "\e920";
$icon-card-lg: "\e921";
$icon-card-md: "\e922";
$icon-card-sm: "\e923";
$icon-cash-lg: "\e924";
$icon-cash-md: "\e925";
$icon-cash-sm: "\e926";
$icon-chevron-down-lg: "\e927";
$icon-chevron-down-md: "\e928";
$icon-chevron-down-sm: "\e929";
$icon-chevron-left-lg: "\e92a";
$icon-chevron-left-md: "\e92b";
$icon-chevron-left-sm: "\e92c";
$icon-chevron-right-lg: "\e92d";
$icon-chevron-right-md: "\e92e";
$icon-chevron-right-sm: "\e92f";
$icon-chevron-up-lg: "\e930";
$icon-chevron-up-md: "\e931";
$icon-chevron-up-sm: "\e932";
$icon-circle-cross-lg: "\e933";
$icon-circle-cross-md: "\e934";
$icon-circle-cross-sm: "\e935";
$icon-circle-left-lg: "\e936";
$icon-circle-left-md: "\e937";
$icon-circle-left-sm: "\e938";
$icon-circle-minus-lg: "\e939";
$icon-circle-minus-md: "\e93a";
$icon-circle-minus-sm: "\e93b";
$icon-circle-play-lg: "\e93c";
$icon-circle-play-md: "\e93d";
$icon-circle-play-sm: "\e93e";
$icon-circle-plus-lg: "\e93f";
$icon-circle-plus-md: "\e940";
$icon-circle-plus-sm: "\e941";
$icon-circle-right-lg: "\e942";
$icon-circle-right-md: "\e943";
$icon-circle-right-sm: "\e944";
$icon-cirlce-right-lg: "\e945";
$icon-cirlce-right-md: "\e946";
$icon-clock-lg: "\e947";
$icon-clock-md: "\e948";
$icon-clock-sm: "\e949";
$icon-cog-lg: "\e94a";
$icon-uniE946: "\e94b";
$icon-uniE947: "\e94c";
$icon-uniE948: "\e94d";
$icon-uniE949: "\e94e";
$icon-computer-lg: "\e94f";
$icon-computer-md: "\e950";
$icon-computer-sm: "\e951";
$icon-cross-lg: "\e952";
$icon-cross-md: "\e953";
$icon-cross-sm: "\e954";
$icon-cycle-lg: "\e955";
$icon-cycle-md: "\e957";
$icon-cycle-sm: "\e959";
$icon-ellipse-lg: "\e95a";
$icon-ellipse-md: "\e95b";
$icon-ellipse-sm: "\e95c";
$icon-engine-lg: "\e956";
$icon-engine-md: "\e95d";
$icon-engine-sm: "\e958";
$icon-envelope-lg: "\e95e";
$icon-envelope-md: "\e95f";
$icon-envelope-sm: "\e960";
$icon-eye-lg: "\e961";
$icon-eye-md: "\e963";
$icon-eye-sm: "\e965";
$icon-folder-find-lg: "\e966";
$icon-folder-find-md: "\e967";
$icon-folder-find-sm: "\e968";
$icon-gear-lg: "\e962";
$icon-gear-md: "\e969";
$icon-gear-sm: "\e964";
$icon-hamburger-lg2: "\e96a";
$icon-hamburger-md: "\e96b";
$icon-hamburger-sm: "\e96c";
$icon-hand-front-lg: "\e96d";
$icon-hand-front-md: "\e96e";
$icon-hand-front-sm: "\e96f";
$icon-handup-lg: "\e970";
$icon-handup-md: "\e971";
$icon-handup-sm: "\e972";
$icon-heart-lg: "\e973";
$icon-heart-md: "\e974";
$icon-heart-minus-lg: "\e975";
$icon-heart-minus-md: "\e976";
$icon-heart-minus-sm: "\e977";
$icon-heart-plus-lg: "\e978";
$icon-heart-plus-md: "\e979";
$icon-heart-plus-sm: "\e97a";
$icon-heart-sm: "\e97b";
$icon-house-lg: "\e97c";
$icon-house-md: "\e97d";
$icon-house-sm: "\e97e";
$icon-image-lg: "\e97f";
$icon-image-md: "\e980";
$icon-image-sm: "\e981";
$icon-inbox-lg: "\e982";
$icon-inbox-md: "\e983";
$icon-inbox-sm: "\e984";
$icon-information-lg: "\e985";
$icon-information-md: "\e986";
$icon-information-sm: "\e987";
$icon-laptop-lg: "\e988";
$icon-laptop-md: "\e989";
$icon-laptop-sm: "\e98a";
$icon-list-lg: "\e98b";
$icon-list-md: "\e98c";
$icon-list-sm: "\e98d";
$icon-lock-lg: "\e98e";
$icon-lock-md: "\e98f";
$icon-lock-sm: "\e990";
$icon-magnifying-lg: "\e991";
$icon-magnifying-md: "\e992";
$icon-magnifying-sm: "\e993";
$icon-marker-lg: "\e994";
$icon-marker-md: "\e995";
$icon-marker-sm: "\e996";
$icon-mobile-phone-lg: "\e997";
$icon-mobile-phone-md: "\e998";
$icon-mobile-phone-sm: "\e999";
$icon-money-lg: "\e99a";
$icon-money-md: "\e99b";
$icon-money-sm: "\e99c";
$icon-order-lg: "\e99d";
$icon-order-md: "\e99e";
$icon-order-sm: "\e99f";
$icon-paint-lg: "\e9a0";
$icon-paint-md: "\e9a1";
$icon-paint-sm: "\e9a2";
$icon-pencil-lg: "\e9a3";
$icon-pencil-md: "\e9a4";
$icon-pencil-sm: "\e9a5";
$icon-person-lg: "\e9a6";
$icon-person-md: "\e9a7";
$icon-person-sm: "\e9a8";
$icon-phone-lg: "\e9a9";
$icon-phone-md: "\e9aa";
$icon-phone-sm: "\e9ab";
$icon-phone2-lg: "\e9ac";
$icon-phone2-md: "\e9ad";
$icon-phone2-sm: "\e9ae";
$icon-plus-lg: "\e9af";
$icon-plus-md: "\e9b0";
$icon-plus-sm: "\e9b1";
$icon-puzzle-lg: "\e9b2";
$icon-puzzle-md: "\e9b3";
$icon-puzzle-sm: "\e9b4";
$icon-question-lg: "\e9b5";
$icon-question-md: "\e9b6";
$icon-question-sm: "\e9b7";
$icon-rows-lg: "\e9b8";
$icon-rows-md: "\e9b9";
$icon-rows-sm: "\e9ba";
$icon-share-lg: "\e9bb";
$icon-share-md: "\e9bc";
$icon-share-sm: "\e9bd";
$icon-slide-open-lg: "\e9be";
$icon-slide-open-md: "\e9bf";
$icon-slide-open-sm: "\e9c0";
$icon-speaker-lg: "\e9c1";
$icon-speaker-md: "\e9c3";
$icon-speaker-sm: "\e9c5";
$icon-speech-lg: "\e9c6";
$icon-speech-md: "\e9c7";
$icon-speech-sm: "\e9c8";
$icon-speedo-lg: "\e9c2";
$icon-speedo-md: "\e9c9";
$icon-speedo-sm: "\e9c4";
$icon-star-lg: "\e9ca";
$icon-star-md: "\e9cb";
$icon-star-sm: "\e9cc";
$icon-switch-lg: "\e9cd";
$icon-switch-md: "\e9ce";
$icon-switch-sm: "\e9cf";
$icon-reddit: "\f281";
$icon-tag-lg: "\e9d1";
$icon-tag-md: "\e9d2";
$icon-tag-sm: "\e9d3";
$icon-tick-lg: "\e9d4";
$icon-tick-md: "\e9d5";
$icon-tick-sm: "\e9d6";
$icon-tickbox-lg: "\e9d7";
$icon-tickbox-md: "\e9d8";
$icon-tickbox-sm: "\e9d9";
$icon-unlock-lg: "\e9da";
$icon-unlock-md: "\e9db";
$icon-unlock-sm: "\e9dc";
$icon-star: "\f005";
$icon-twitter_sign: "\f081";
$icon-facebook_sign: "\f082";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-pinterest: "\f0d2";
$icon-pinterest_sign: "\f0d3";
$icon-google_plus_sign: "\f0d4";
$icon-google_plus: "\f0d5";
$icon-youtube_sign: "\f166";
$icon-youtube: "\f167";
$icon-youtube_play: "\f16a";
$icon-instagram: "\f16d";
$icon-tumblr: "\f173";
$icon-tumblr_sign: "\f174";
$icon-reddit_round: "\f1a1";
$icon-reddit_square: "\f1a2";
$icon-pinterest_icon: "\f231";
$icon-seat-icon: "\e904";
$icon-door-icon: "\e900";
$icon-drive-icon: "\e901";
$icon-fuel-icon: "\e902";
$icon-safety-icon: "\e903";
$icon-info-icon: "\e9dd";
$icon-front-wheel-icon: "\e9d0";
$icon-rear-wheel-icon: "\e9de";
$icon-all-wheel-icon: "\e9df";
$icon-default-drive-icon: "\e9e0";