@import "csnicons-variables";

@font-face {
  font-family: 'csnicons';
  src:  url('https://editorial.csnstatic.com/desktop/fonts/csnicons/csnicons.ttf') format('truetype'),
    url('https://editorial.csnstatic.com/desktop/fonts/csnicons/csnicons.woff') format('woff'),
    url('https://editorial.csnstatic.com/desktop/fonts/csnicons/csnicons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'csnicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
