// Globals
@import "css/_globals.scss";

.more-articles {
    // Local Vars
    $nav-width: 70px;
    $img-height: 67px;

    background: $cs-white;
    border: solid 1px $cs-lighter-grey;
    padding-top: 10px;
    padding-bottom: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    transform: translateY(100%);
    transition: transform .333s, padding-top .3s;

    &.active {
        transform: translateY(87px);
    }

    .container {
        position: relative;
    }

    &__frame {
        width: calc(100% - #{$nav-width} );
        min-height: $img-height;
        margin-left: 0;
        font-size: 0;

        &.loading {
            background-image: url($spinner--dark);
            background-size: 200px 200px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__filters {
        margin-bottom: 15px;
        width: calc(100% - #{$nav-width});
        display: inline-block;
    }

    &__filter {

        @include button(( small: true, round: true, thin: true, primary-inverse: true ));
        display: inline-block;
        text-align: center;
        margin-right: 25px;



        &--active {
            @include button((small: true,primary: true ));
            cursor: default;
        }

        &--last {
            border: none;
            padding-left: 0;
            padding-right: 0;

            &:hover,
            &:active,
            &:focus,
            &:visited {
                background-color: transparent;
                border-color: transparent;
                color: $cs-primary;
                text-decoration: underline;
            }
        }
    }

    &__nav {
        position: absolute;
        top: 0;
        right: $grid-gutter-width/2;
        width: $nav-width + 15px;
        font-size: 0;
        z-index: 1;
        background-color: $cs-white;
        height: 100%;
        padding-left: 15px;
        background: linear-gradient(to right, rgba($cs-white,0) 0, rgba($cs-white,1) 10px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    &__nav-button {
        padding: 0;

        &::before {
            content: '';
            font-family: $font-family-icons;
            font-size: 14px;
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border: solid 1px $cs-light-grey;
            color: $cs-darkest-grey;
        }


        &--prev {
            margin-right: 5px;

            &::before {
                content: "\e925";
            }

            &[disabled] {
                &::before {
                    opacity: 0.5
                }
            }
        }

        &--next {
            margin-left: 5px;

            &::before {
                content: "\e928";
            }

            &[disabled] {
                &::before {
                    opacity: 0.5
                }
            }
        }
    }

    &__button {

        @include button();

        &--show-hide {
            color: $cs-primary;
            padding: 0 !important;
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
        }
    }

    &.show {
        padding-top: 10px;
        transform: translateY(0);
    }
}

@import "_moreArticle.scss";