@import "css/_globals.scss";

#iNavSearchResults {
    $iNav-width: 315px;

    width: calc(100% - #{$iNav-width});
    
}

/*.iNavSearchResults {

    $spacing: 20px;
    font-size: 0;

}*/


@import "inavsearchresult";