@import "css/_globals.scss";

// Module - Media Motive
@import "css/modules/MediaMotive/_mediamotive.scss";
@import "css/modules/GoogleAds/_googleads.scss";

// Page - Listings

.listing-page {
    background-color: $cs-light-grey-7;

    .container {
        font-size: 0;

        .main {
            display: inline-block;
            $width: $screen-sm - ($aside-width + $grid-gutter-width);
            width: calc(#{#{$width}});
            position: relative;

            @include breakpoint($screen-md) {
                $width: $screen-md - ($aside-width + $grid-gutter-width);
                width: calc(#{#{$width}});
            }

            @include breakpoint($screen-lg) {
                $width: $screen-lg - ($aside-width + $grid-gutter-width);
                width: calc(#{#{$width}});
            }

            .teads-inread {
                margin: auto auto 30px !important;
            }
        }
    }

    .iNavSearchResult {
        $spacing: 15px;

        width: calc(50% - #{($spacing)});

        &:nth-of-type(odd) {
            margin-right: $spacing;
        }

        @include breakpoint($screen-lg) {
            $spacing: 30px;

            width: calc(50% - #{($spacing)});
            margin-bottom: $spacing;

            &:nth-of-type(odd) {
                margin-right: $spacing;
            }
        }
    }
}

#page-footer {
    background-color: $cs-light-grey-7; 
}


// Module - Aside
.wrapper--aside {
    display: inline-block;
    vertical-align: top; 
    padding-top: 15px;
    margin-top: -15px;
    position: relative;
        
    .aside{
        width: 300px;
        padding-top: 15px;
    }
}


@import "Css/Modules/ArticleDisclaimer/disclaimer";