@import "css/_globals.scss";

// Module - Media Motive
@import "css/modules/MediaMotive/_mediamotive.scss";

// Page - Listings

.listing-page {
    background-color: $cs-light-grey-7;
    
    .container {
        font-size: 0;
        
        .main {

            display: inline-block;
            $width: $screen-sm - ($aside-width + $grid-gutter-width);
            width: calc(#{#{$width}});
            position: relative;

            @include breakpoint($screen-md) {
                $width: $screen-md - ($aside-width + $grid-gutter-width);
                width: calc(#{#{$width}});
            }

            @include breakpoint($screen-lg) {
                $width: $screen-lg - ($aside-width + $grid-gutter-width);
                width: calc(#{#{$width}});
            }

            .teads-inread {
                margin: auto auto 30px !important; 
            }
        }
    }
}

#page-footer {
    background-color: $cs-light-grey-7; 
}


// Module - Aside
.wrapper--aside {
    display: inline-block;
    vertical-align: top; 
    padding-top: 30px;
    margin-top: -30px;
    position: relative;
    
    @include breakpoint($screen-lg) {
        margin-top: -45px;
        padding-top: 45px;
        
    }
    
    .aside{
        width: 300px;
        padding-top: 30px;

        @include breakpoint($screen-lg) {
            padding-top: 45px;
        }
    }
}


@import "Css/Modules/ArticleDisclaimer/disclaimer";