@using Csn.Retail.Editorial.Web.Infrastructure.Extensions
@model Csn.Retail.Editorial.Web.Features.Details.Models.HeroSection

<div class="clearfix hero hero--singleImage" data-webm-section="image-gallery">
    <div class="container" data-webm-clickvalue="click-photo" data-modal-trigger data-modal-image-index="0">
        <img class="slideshow__image"
            sizes="(max-width: 1199px) 617px, 825px"
            src="@Model.Images[0].GetHeroImageUrl(825, 550)"
            srcset="@Model.Images[0].GetHeroImageUrl(617, 411) 617w, @Model.Images[0].GetHeroImageUrl(825, 550) 825w"
            alt="@Model.Images[0].AlternateText" />
    </div>
</div>
@{ Html.RenderPartial("Partials/Widgets/Modal/_ModalData"); }