@model Csn.Retail.Editorial.Web.Features.Details.Models.HeroSection

<div class="container">
    <div class="hero hero--singleImage col-sm-8">
        <div class="hero__imageContainer">@{ Html.RenderPartial("Partials/Hero/_FirstImage", @Model); }</div>
    </div>
</div>
