@model Csn.Retail.Editorial.Web.Features.Shared.Proxies.EditorialApi.HeroSection

<div class="hero col-md-7 col-md-offset-1">
    <div class="hero__imageContainer">@{ Html.RenderPartial("Hero/_FirstImage", @Model); }</div>
</div>
