@import "css/globals";
@import "iNav/Css/iNav.variables";

.iNav-category__confirmCancelBar {
    border-top: 2px solid $cs-light-grey-6;
    margin-top: 20px;
    padding-top: 15px;
    &::after {
        @include cf();
    }

    .confirmCancelBar {

        &__button {
            font-family: $font-family-default;
            font-size: $font-size-body;
            font-weight: $font-weight-600;
            cursor: pointer;
            text-decoration: none; 
            
            &--cancel{
                color: $cs-grey;
                float: left;
            }
            &--show{
                color: $cs-primary;
                text-align: right;
                float: right;
            }
        }
    }
}