@import "css/globals";
@import "iNav/Css/iNav.variables";

.iNav {

    &__keywordSearch {
        flex: 1;
        line-height: $iNav-header-item-height;
        position: relative;
        z-index: 1;
        height: $iNav-header-item-height + 2px; // + border
        

        &::before {
            content: ".";
            display: table;
            font-size: 0;
            border: 1px solid transparent;
        }
    }

    &__keywordSearch-container {
        width: calc(100% - 10px);
        background-color: transparent; 
        position: absolute;
        top: 0;
        right: 0;
        transition: width 0.333s;

        @include breakpoint($screen-lg) {
            width: calc(100% - 10px);            
        }
        
        &--isActive {
            width: calc(#{$screen-sm} - #{$grid-gutter-width});
            
            @include breakpoint($screen-md) {
                width: calc(#{$screen-md} - #{$grid-gutter-width});
                
            }
            @include breakpoint($screen-lg) {
                width: calc(#{$screen-lg} - #{$grid-gutter-width});
                
            }
            
            .iNav__keywordSearch-button--clear::before {
                opacity: 1;
            }

        }
    }

    &__keywordSearch-form {
        display: inline;
    }

    &__keywordSearch-input {
    
        width: 100%;
        position: absolute;
        min-width: 170px;
        padding: 0 15px;
        line-height: $iNav-header-item-height;
        height: $iNav-header-item-height + 2px;
        border-radius: $iNav-border-radius;
        border: solid 1px $cs-grey-1;
        color: $cs-light-grey-8;
        font-weight: $font-weight-600; 
        appearance: none;

        &::-ms-clear {
            display: none;
        }
    }

    &__keywordSearch-button {
        width: $iNav-header-item-height;
        float: right;
        padding: 0;
        color: $cs-primary;
        position: relative;
        margin: 0;

        &::before {
            display: block;
            font-family: $font-family-icons;  
            transition: color .3s;
        }


        &:hover::before {
            color: $cs-light-grey-1;
        }

        &--search {
            border-top-right-radius: $iNav-border-radius;
            border-bottom-right-radius: $iNav-border-radius;
            border: solid 1px $cs-grey-1;
                        
            &::before {
                content: $icon-magnifying-lg;
                font-size: 23px;     
            }


        }
        
        &--clear {
            border-top: solid 1px $cs-grey-1;
            border-bottom: solid 1px $cs-grey-1;
            position: relative;
            z-index: 1;

            &::before {
                opacity: 0;                
                content: $icon-cross-lg;
                font-size: 18px;    
                transition: opacity 0.333s, color .3s;          
            }
        }
    }
}