// Globals
@import "css/_globals.scss";

.more-articles {

    // Local Vars
    $nav-width: 70px;
    $img-height: 67px;

    background: $cs-white;
    border: solid 1px $cs-lighter-grey;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    transform: translateY(100%);
    transition: transform .333s, padding-top .3s;

    &.active {
        transform: translateY(87px);
    }

    .container {
        position: relative;
        padding: 0;
    }

    &__frame {
        width: 1065px; //@1200 width
        min-height: $img-height;

        &.loading {
            background-image: url('images/spinner-dark.svg'); //TODO make img var
	        background-size: 200px 200px;
	        background-position: center;
	        background-repeat: no-repeat;
        }
    }

    &__filters {
        margin-bottom: 15px;
        width: calc(100% - #{$nav-width});
        display: inline-block;
    }

    &__filter {

        @extend %button;
        @extend %button--round;
        @extend %button--thin;
        @extend %button--primary-inverse;

        display: inline-block;
        min-width: 120px;
        text-align: center;
        margin-right: 25px;
        line-height: 27px !important;



        &.active {
            @extend %button--primary;
            cursor: default;
            &:hover,
            &:active,
            &:focus,
            &:visited {
                background-color: rgba($cs-primary, 1);
                border-color: rgba($cs-primary, 0);
                color: $cs-white;
                text-decoration: none;
            }
        }
    }

    &__nav {
        position: absolute;
        top: 0;
        right: 0;
        width: $nav-width;
        font-size: 0;
    }

    &__nav-button {

        padding: 0;

        &::before {
            content: '';
            font-family: $font-family-icons;
            font-size: 14px;
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border: solid 1px $cs-light-grey;
            color: $cs-darkest-grey;
        }


        &--prev {
            margin-right: 5px;
            &::before {
                content: "\e925";
            }
            &[disabled] {
                &::before {
                    opacity: 0.5
                }
            }
        }
        &--next {
            margin-left: 5px;
            &::before {
                content: "\e928";
            }
            &[disabled] {
                &::before {
                    opacity: 0.5
                }
            }
        }
    }

    &__button{

        @extend %button;

        &--show-hide {
            color: $cs-primary;
            padding: 0 !important;
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
        }
    }

    &.show {
        padding-top: 10px;
        transform: translateY(0);
    }


}

@import "_moreArticle.scss";