.article {
    padding-top: 60px;
    padding-left: 75px;
    padding-right: 44px;

    .cf:after {
        @include cf;
    }

    .pos-r {
        position: relative;
    }

    &__heading {
        @extend %h1;
        color: $cs-black;

    }
    &__subheading {
        @extend %h2;
        margin-top: 1em;
    }

    &__summary {

        color: $cs-light-grey;

        p {
            margin-top: 1.25em;
            @extend %rundown-text;
        }

        &>div {
            margin: 0;
        }
    }

    &__copy{
        color: $cs-grey;
        @extend %p;

        &>h1,&>h2,&>h3,&>h4,&>h5,&>h6 {
            margin-top: 40px;
            color: $cs-black;
        }
        &>h1{
            @extend %h1;
        }
        &>h2{
            @extend %h2;
        }
        &>h3{
            @extend %h3;
        }
        &>h4{
            @extend %h4;
        }
        &>h5{
            @extend %h5;
        }
        &>h6{
            @extend %h6;
        }

        p {
            margin-top: 1.25em;
            @extend %p;

            &>br {
                display: none;
            }
            strong+br {
                display: inline;
            }
        }

        &>div {
            margin: 0;
        }

        .teads-inread,
        .brightcove {
            margin-top: 1.25em !important;
            font-size: 20px;
        }
    }

    &__img {
      width: 100%;
      margin-top: 1.25em;
      @extend %p;
    }

    &__img-caption {
        font-size: $font-size-small;
        line-height: normal;
        margin: 7px auto;
        text-align: center;
        color: $cs-dark-grey;
    }

    &__type {
        @extend %button;
        @extend %button--round;
        font-weight: 600;
        display: inline-block;
        float: left;
        color: $cs-white;
        text-transform: uppercase;
        margin-bottom: 30px;

        &--review {
            background-color: $cs-light-blue;
        }
        &--car-advice {
            background-color: $cs-accent-green;
        }
        &--video {
            background-color: $cs-orange;
        }
        &--news {
            background-color: $cs-red;
        }
        &--comparison {
            background-color: $cs-purple;
        }
        &--feature {
            background-color: $cs-pink;
        }
    }

    &__date {
        font-size: $font-size-small;
        display: inline-block;
        float: left;
        padding: 0 25px;
        line-height: 31px;
        color: $cs-light-grey;
        margin-bottom: 30px;
    }

    &__dateAndTypeContainer {
        float: left;
    }
    &__share {
        &--top {
            float: right;
            margin-bottom: 20px;

            .share-social__link {
                margin-top: -7.5px;
            }
        }

        &--bottom {
            margin-top: 35px;
        }
    }

    &__pricing {
        @extend %h2;
        margin-top: 1em;
    }

    &__quote {
        @extend %blockquote;
        padding: 0 7.5%;
        color: $cs-black;
        margin-top: 1.25rem;
    }

    &__authors {
        border-radius: 6px;
        border: solid 1px $cs-lighter-grey;
        padding: 31px 40px;
        margin-top: 35px;
    }
}


// Single Image

.article-type--singleImage,
.article-type--video {
    position: relative;

    div.container:first-child {
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
    }

    .aside {
        padding-top: 0;
    }
}

.article-type--singleImage {
    .article > div:first-child{
        padding-top: (2/3)*100%;
    }
}


.article-type--video {
    .article > div:first-child{
        padding-top: (9/16)*100%;
    }
}


// Drop Cap

.article {
    &.review {
        .article__copy {
            p:first-child:first-letter {
                color: $cs-light-blue;
            }
        }
    }
    &.car-advice {
        .article__copy {
            p:first-child:first-letter {
                color: $cs-accent-green;
            }
        }
    }
    &.video {
        .article__copy {
            p:first-child:first-letter {
                color: $cs-orange;
            }
        }
    }
    &.news {
        .article__copy {
            p:first-child:first-letter {
                color: $cs-red;
            }
        }
    }
    &.comparison {
        .article__copy {
            p:first-child:first-letter {
                color: $cs-purple;
            }
        }
    }
    &.feature {
        .article__copy {
            p:first-child:first-letter {
                color: $cs-pink;
            }
        }
    }
    &__copy {
        p:first-child::after {
            @extend %clearfix;
        }
        p:first-child:first-letter {
            @extend %drop-cap-paragraph;
        }
    }
}
