// Module - Hero

.hero {
    padding-left: 0;
    padding-right: 0;

}

.hero__imageContainer {
    background-color: $cs-darkest-grey;

    img {
        @include img-responsive();
    }
}

.hero--singleImage {

    @include breakpoint($screen-lg) {
        padding-left: 75px;
        padding-right: 44px;
    }
}

.hero--singleVideo {

    @include breakpoint($screen-lg) {
        padding-left: 75px;
        padding-right: 44px;
    }
}

.hero--imageAndVideo {

    overflow: hidden;

    // Move to there own blocks
    ._c-slideshow {
        float: left;
        width: percentage(27/59) //The intersection where 3:2 and 16:9 have the same height
    }
    .brightcove {
        float: left;
        width: percentage(1-(27/59)) //The intersection where 3:2 and 16:9 have the same height
    }
}



body:not(.ie) .hero {
    ._c-slideshow {

    padding-top: 33.333333%;
    min-height: 400px;
    overflow: hidden;

	    &__slider {
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
	    }

        &__image {
            width: 100%;
        }

    }

}

