.mrec-block {
    max-width: 300px;
    line-height: 0;

    iframe {
        margin-bottom: 35px !important;
    }

    a {
        img {
            display: none;
        }
    }
}

.smallbanner-block {
    margin-bottom: 35px;
    max-width: 300px;
}

.mediamotive-leaderboard {
    float: right;
}