// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #D33126; //TODO: to be confirmed


// Logo
$logo-header : 'Images/Redbook/logo-redbook.svg';
$logo-header-width: 225px;
$logo-header-height: 110px; // hieght limits width b/c aspect ratio

$logo-header--transparent: 'Images/Redbook/logo-redbook.svg';
$logo-header-width--transparent: 225px;
$logo-header-height--transparent: 110px;