// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #D33126;


// Logo
$logo-header: 'https://editorial.csnstatic.com/desktop/images/redbook/logo-redbook.svg';
$logo-header-width: 0;
$logo-header-height: 0; // hieght limits width b/c aspect ratio

$logo-header--transparent: '';
$logo-header-width--transparent: 0;
$logo-header-height--transparent: 0;