._c-spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background-color: rgba(243, 245, 248, 0.8);
	text-align: center;
    opacity: 0;
    transition: 0.3s opacity ease-out;
    -webkit-transition: 0.3s opacity ease-out;

	&__icon {
		@extend %centered-all;
		@extend %clearfix;
		display: block;
		width: 96px;
		height: 96px;
		text-indent: 100%;
		background-image: url('#{$root-path}/images/spinner-dark.svg'); //TODO
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

    &--spin-top {
        &__icon {
            background-position: 50% 10%;
        }
    }

    &--light {
	    background-color: rgba(255, 255, 255, 0.8);
    }

    &[data-is-active] {
        z-index: 1;
        opacity: 1;
    }
}