// Module - Social Media icons

.share-social {
    float: left;
    font-size: 0;
    margin-bottom: 20px;
}

.share-social__link {

    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 9999px;
    position: relative;
    margin-right: 15px;
    float: right;
    margin-top: -7.5px;



    &:first-child {
        margin-right: auto;
    }

    &--facebook {
        background-color: $color-fb;
        color: $cs-white;
        font-size: 21px;

        &:hover,
        &:visited,
        &:active,
        &:focus {
            color: $cs-white;
            opacity: 0.66;
        }
    }
    &--twitter {
        background-color: $color-twitter ;
        color: $cs-white;
        font-size: 21px;

        &:hover,
        &:visited,
        &:active,
        &:focus {
            color: $cs-white;
            opacity: 0.66;
        }
    }
    &--google-plus {
        background-color: $color-google-plus;
        color: $cs-white;
        font-size: 21px;

        &:hover,
        &:visited,
        &:active,
        &:focus {
            color: $cs-white;
            opacity: 0.66;
        }
    }
    &--tumblr {
        background-color: $color-tumblr;
        color: $cs-white;
        font-size: 21px;

        &:hover,
        &:visited,
        &:active,
        &:focus {
            color: $cs-white;
            opacity: 0.66;
        }
    }
    &--pinterest {
        background-color: $color-pinterest;
        color: $cs-white;
        font-size: 21px;

        &:hover,
        &:visited,
        &:active {
            color: $cs-white;
            opacity: 0.66;
        }
    }
    &--reddit {
        background-color: $cs-white;
        color: $color-reddit;
        font-size: 45px;

        &:hover,
        &:visited,
        &:active,
        &:focus {
            color: $color-reddit;
            opacity: 0.66;
        }
    }
    &--email {
        background-color: $cs-white;
        color: $cs-black;
        border: 1px solid $cs-black;
        font-size: 21px;

        &:hover,
        &:visited,
        &:active,
        &:focus {
            color: $cs-black;
            opacity: 0.66;
        }
    }
     &--sms {
        background-color: $cs-white;
        color: $cs-black;
        border: 1px solid $cs-black;
        font-size: 21px;

        &:hover,
        &:visited,
        &:active,
        &:focus {
            color: $cs-black;
            opacity: 0.66;
        }
    }

}

.share-social__link-icon {

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.share-social__link-text {
    display: none;
}