<div class="article-disclaimer">
    <h3 class="article-disclaimer__heading">Disclaimer</h3>
    <p>Editorial prices shown are a "price guide" only, based on information provided to us by the manufacturer. Pricing current at the time of writing editorial. Pricing prior to editorial dated 25 May 2009 may refer to RRP. Due to Clarity on Pricing legislation, RRP for those editorials now means "price guide". When purchasing an item, always confirm the single figure price with the seller of an actual item. View further information on our <a href="/info/terms-conditions/">Terms &amp; Conditions</a>.</p>
    <p>If the price does not contain the notation that it is "Drive Away No More to Pay", the price may not include additional costs, such as stamp duty and other government charges. Please confirm price and features with the seller of the item.</p>
</div>