// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #007CC2;


// Logo
$logo-header: 'https://resource.csnstatic.com/retail/globals/logo/v3/carsales.svg';
$logo-header-width: 164px; // max width = width(992) - leaderboard(728) - padding(30)
$logo-header-height: 60px; // hieght limits width b/c aspect ratio

$logo-header--transparent: 'https://resource.csnstatic.com/retail/globals/logo/v3/carsales-white.svg';
$logo-header-width--transparent: 103px;
$logo-header-height--transparent: 40px; 

