/**
 * (optional) define here the style definitions which should be applied on the slider container
 * e.g. width including further controls like arrows etc.
 */
.lory-slider {}

.lory-slider__frame {
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.lory-slider__slides {
    display: inline-block;
}

.lory-slider__slide {
    position: relative;
    display: inline-block;
}