@import "css/globals";

.spec-module {
    border-top: 1px solid $cs-lightest-grey;
    border-bottom: 1px solid $cs-lightest-grey;
    padding: 30px 0;
    position: relative;
    line-height: normal;

    &.loading {
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            background-color: rgba($cs-white, 0.7);
            background-image: url($spinner--dark);
            background-size: 200px 200px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}


.spec-module .slideshow {

    &__nav-wrapper {
        text-align: center;
        margin-top: 30px;
    }
    // Pagination
    &__pagination-wrapper {
        display: inline-block;
        vertical-align: middle;
        max-width: 450px; //10 bullets * (width + margin)
        max-height: 30px;
        overflow: hidden;
        line-height: 30px;
        position: relative;
    }

    &__pagination {
        text-align: left;
        transform: translate3d(0px, 0px, 0px);
        transition: .3s;
    }

    .swiper-pagination-bullet {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: auto 15px;
        border-radius: 9999px;
        background-color: $cs-lightest-grey;
        transition: .3s;
        cursor: pointer;

        &-active,
        &:hover {
            background-color: $cs-primary;
        }
    }

    &__pagination-label {
        font-size: $font-size-h6;
        font-weight: $font-weight-400;
        display: inline-block;
        vertical-align: middle;
        min-width: 60px;

        &--min {
            text-align: right;
        }

        &--max {
            text-align: left;
        }
    }
}

.spec-module .spec-item {

    @include clearfix;
    //reset
    p {
        line-height: normal;
        margin: auto;
    }

    &__column {
        padding: 0 30px;

        &--1 {
            width: 55%;
            float: left;
        }

        &--2 {
            width: 45%;
            float: right;
        }
    }

    &__heading {
        font-size: $font-size-h4;
        font-weight: $font-weight-600;
        color: $cs-dark-grey;
    }

    &__subheading {
        font-size: $font-size-h6;
        color: $cs-dark-grey;
    }

    &__image-container {
        padding: 30px 0;
        border-top: 1px solid $cs-lightest-grey;
        border-bottom: 1px solid $cs-lightest-grey;
    }

    &__image {
    }

    &__spec-item-list-heading {
        font-size: $font-size-h4;
        font-weight: $font-weight-600;
        color: $cs-primary;
    }

    &__spec-item-list {
    }

    &__spec-item-title {
        font-size: $font-size-h6;
        color: $cs-grey;
    }

    &__spec-item-value {
        font-size: $font-size-h5;
        color: $cs-dark-grey;
        font-weight: $font-weight-600;
        margin: auto 0 15px;
    }


    &__third-party-offers {
        padding: 30px 0;
    }
}

.spec-module .third-party-offer {

    $img-width: 78px + 15px;
    font-size: 0;
    margin-bottom: 15px;

    &__logo {
        width: $img-width;
        display: inline-block;
        vertical-align: middle;
        padding-right: 15px;
    }

    &__content {
        width: calc((100% - #{$img-width})*0.55);
        display: inline-block;
        vertical-align: middle;
    }

    &__heading {
        font-size: $font-size-h6;
        color: $cs-dark-grey;
        margin-bottom: 3px;
    }

    &__price-container {
    }

    &__price {
        font-size: $font-size-h4;
        color: $cs-dark-grey;
        font-weight: $font-weight-600;
        display: inline-block;
        vertical-align: middle;
    }

    &__price-term {
        font-size: $font-size-smaller;
        color: $cs-dark-grey;
        font-weight: $font-weight-400;
        display: inline-block;
        vertical-align: middle;
        width: 35%;
        margin-left: 5px;
    }

    &__link {
        font-size: $font-size-h6;
        font-weight: $font-weight-400;
        display: inline-block;
        vertical-align: middle;
        width: calc((100% - #{$img-width})*0.45);
        text-align: right;
    }

    &__terms-and-conditions {
        font-size: $font-size-smaller;
        color: $cs-dark-grey;
        font-weight: $font-weight-400;
        text-align: center;
        margin-top: 15px;
    }
}