@import "css/globals";

.spec-module .spec-item {

    @include clearfix;
    text-align: center;
    font-size: 0;
    //reset
    p {
        line-height: normal;
        margin-top: auto;
    }

    &__column {
        padding: 0 30px;
        display: inline-block;
        text-align: left;
        vertical-align: top;

        &--1 {
            width: 50%;
        }

        &--2 {
            width: 50%;
        }
    }

    &__make {
        font-size: $font-size-h4;
        font-weight: $font-weight-600;
        color: $cs-dark-grey;
    }

    &__model {
        font-size: $font-size-h2;
        font-weight: $font-weight-300;
        color: $cs-dark-grey;
        padding-top: 5px;
    }

    &__variant {
        font-size: $font-size-h3;
        font-weight: $font-weight-300;
        color: $cs-dark-grey;
        border-top: 1px solid $cs-lighter-grey;
        margin-top: 10px !important;
        padding: 10px 0;
    }

    &__price {

        &--price-new {
            font-size: $font-size-h2;
            color: $cs-primary;
            font-weight: $font-weight-600;
            padding-top: 0;
            display: inline-block;
        }

        &--price-private,
        &--price-trade-in {
            padding-top: 0;
            font-size: $font-size-h4;
            color: $cs-primary;
            font-weight: $font-weight-400;
            //margin-top: 5px;
        }
    }

    &__price-disclaimer {
        font-size: $font-size-smaller;
        color: $cs-dark-grey;
        font-weight: $font-weight-400;
        display: inline-block;
        cursor: pointer;
        padding-left: 5px;

        &:hover {
            text-decoration: underline
        }
    }

    &__price-container {
        //margin-top: 20px;
    }

    &__price-item {
        margin-top: 10px;

        $sm-handle-width: 20px;
        $sm-rail-height: 7px;
        $dot-height: 0px;

        .rc-slider {
            position: relative;
            margin-top: 5px;
            height: $sm-rail-height;
            width: 100%;
            border-radius: 6px;
            box-sizing: border-box;

            .rc-slider-rail {
                position: absolute;
                top: 0;
                width: 100%;
                background-color: $cs-lighter-grey;
                height: $sm-rail-height;
                border-radius: 6px;
            }

            .rc-slider-track {
                position: absolute;
                top: 0;
                left: 0;
                height: $sm-rail-height;
                border-radius: 6px;
                background-color: $cs-primary;
            }
        }
    }

    &__price-label {
        font-size: $font-size-h6;
        color: $cs-grey;
        font-weight: $font-weight-400;
        display: block;
    }

    &__spec-item-list-heading {
        font-size: $font-size-h4;
        font-weight: $font-weight-600;
        color: $cs-primary;
    }

    &__spec-item-list {
        margin: 20px auto 0;
    }

    &__spec-item-title {
        font-size: $font-size-h6;
        color: $cs-grey;
    }

    &__spec-item-value {
        font-size: $font-size-h5;
        color: $cs-dark-grey;
        font-weight: $font-weight-600;
        margin: 5px 0 15px;
    }
    //ANCAP Rating
    &__spec-item-value:last-child {
        font-size: 0;

        &::before,
        &::after {
            font-family: $font-family-icons;
            font-size: $font-size-h5;
            margin-top: 5px;
            display: inline-block;
        }

        &::before {
            color: $cs-primary;
        }

        &::after {
            color: $cs-lighter-grey;
            margin-left: 4px;
        }

        &[data-value="0"] {
            &::before {
                content: "";
            }

            &::after {
                content: "\f005 \f005 \f005 \f005 \f005";
            }
        }

        &[data-value="1"] {
            &::before {
                content: "\f005";
            }

            &::after {
                content: "\f005 \f005 \f005 \f005";
            }
        }

        &[data-value="2"] {
            &::before {
                content: "\f005 \f005 ";
            }

            &::after {
                content: "\f005 \f005 \f005";
            }
        }

        &[data-value="3"] {
            &::before {
                content: "\f005 \f005 \f005 ";
            }

            &::after {
                content: "\f005 \f005";
            }
        }

        &[data-value="4"] {
            &::before {
                content: "\f005 \f005 \f005 \f005 ";
            }

            &::after {
                content: " \f005";
            }
        }

        &[data-value="5"] {
            &::before {
                content: "\f005 \f005 \f005 \f005 \f005";
            }

            &::after {
                content: "";
            }
        }
    }


    &__third-party-offers {
        width: calc(100% - 60px);
        margin: auto;
        padding: 30px 0 0;
        border-top: 1px solid $cs-lightest-grey;

        & > div {
            margin-left: -15px;
            width: calc(100% + 30px);
        }
    }
}