@import "css/globals";

.spec-module .spec-item {

    @include clearfix;
    text-align: left;
    font-size: 0;
    //reset
    p {
        line-height: normal;
        margin-top: auto;
    }

    &__column-container {
        position: relative;
        min-height: 500px;
    }

    &__column {
        padding: 0 30px;
        display: inline-block;
        text-align: left;
        vertical-align: top;

        &--1 {
            width: 50%;
        }

        &--2 {
            width: 50%;
        }
    }

    &__make {
        font-size: $font-size-h4;
        font-weight: $font-weight-600;
        color: $cs-dark-grey-1;
    }

    &__model {
        font-size: $font-size-h2;
        font-weight: $font-weight-300;
        color: $cs-dark-grey-1;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    &__variant {
        font-size: $font-size-h3;
        font-weight: $font-weight-300;
        color: $cs-dark-grey-1;
        border-top: 1px solid $cs-light-grey-2;
        margin-top: 10px;
        padding: 10px 0;
    }

    &__price {
        margin-top: 5px;

        &--price-new {
            font-size: $font-size-h2;
            color: $cs-primary;
            font-weight: $font-weight-600;
            padding-top: 0;
            display: inline-block;
        }

        &--price-used {
            padding-top: 0;
            font-size: $font-size-h4;
            color: $cs-primary;
            font-weight: $font-weight-400;
        }
    }

    &__price-disclaimer {
        font-size: $font-size-smaller;
        color: $cs-dark-grey-1;
        font-weight: $font-weight-400;
        display: block;
        cursor: pointer;
        padding-left: 5px;

        &:hover {
            text-decoration: underline
        }
    }

    &__price-container {
        margin-top: 10px;
    }

    &__price-item {
        margin-top: 10px;

        $sm-handle-width: 20px;
        $sm-rail-height: 7px;
        $dot-height: 0px;

        .rc-slider {
            position: relative;
            margin-top: 5px;
            height: $sm-rail-height;
            width: 100%;
            border-radius: 6px;
            box-sizing: border-box;

            .rc-slider-rail {
                position: absolute;
                top: 0;
                width: 100%;
                background-color: $cs-light-grey-2;
                height: $sm-rail-height;
                border-radius: 6px;
            }

            .rc-slider-track {
                position: absolute;
                top: 0;
                left: 0;
                height: $sm-rail-height;
                border-radius: 6px;
                background-color: $cs-primary;
            }
        }
    }

    &__price-label {
        font-size: $font-size-h6;
        color: $cs-grey;
        font-weight: $font-weight-400;
        display: block;
        margin-top: 5px;
    }

    &__price-redbook-info {
        color: $cs-primary;
        cursor: pointer;
        display: block;
        font-size: $font-size-h6;
        font-weight: $font-weight-400;
        margin-top: 5px;
    }

    &__kms-label {
        color: $cs-primary;
        cursor: pointer;
    }

    &__spec-item-list-heading {
        font-size: $font-size-h4;
        font-weight: $font-weight-600;
        color: $cs-primary;
    }

    &__spec-item-list {
        margin: 11px auto 0;
    }

    &__spec-item-title {
        font-size: 0; //$font-size-h6;
        color: $cs-grey;
    }

    &__spec-item-value {
        font-size: $font-size-h5;
        color: $cs-dark-grey-1;
        font-weight: $font-weight-600;
        margin: 5px 0 15px;
    }
    //ANCAP Rating
    &__spec-item-value.safety-rating-ancap {
        font-size: 0;

        &::before,
        &::after {
            font-family: $font-family-icons;
            font-size: $font-size-h5;
            margin-top: 5px;
            display: inline-block;
            vertical-align: middle;
        }

        &::before {
            color: $cs-primary;
        }

        &::after {
            color: $cs-light-grey-2;
            margin-left: 4px;
        }

        &[data-value="0"] {
            &::before {
                content: "";
            }

            &::after {
                content: "\f005 \f005 \f005 \f005 \f005";
            }
        }

        &[data-value="1"] {
            &::before {
                content: "\f005";
            }

            &::after {
                content: "\f005 \f005 \f005 \f005";
            }
        }

        &[data-value="2"] {
            &::before {
                content: "\f005 \f005 ";
            }

            &::after {
                content: "\f005 \f005 \f005";
            }
        }

        &[data-value="3"] {
            &::before {
                content: "\f005 \f005 \f005 ";
            }

            &::after {
                content: "\f005 \f005";
            }
        }

        &[data-value="4"] {
            &::before {
                content: "\f005 \f005 \f005 \f005 ";
            }

            &::after {
                content: " \f005";
            }
        }

        &[data-value="5"] {
            &::before {
                content: "\f005 \f005 \f005 \f005 \f005";
            }

            &::after {
                content: "";
            }
        }
    }


    &__third-party-offers {
        width: calc(100% - 60px);
        margin: 15px auto 0;
        padding: 30px 0 0;
        border-top: 1px solid $cs-light-grey-2;

        & > div {
            margin-left: -15px;
            width: calc(100% + 30px);
        }
    }
    // Icons
    &__spec-item-value {

        &::before {
            font-family: $font-family-icons;
            font-size: $font-size-h3;
            width: 25px;
            display: inline-block;
            color: $cs-grey;
            vertical-align: middle;
            margin-right: 15px;
            font-weight: 400;
        }

        &.body-style {
            &::before {
                content: $icon-car-front-sm;
            }
        }

        &.drive {
            &::before {
                content: $icon-default-drive-icon;
            }

            &[data-value="Four%20Wheel%20Drive"]::before,
            &[data-value="4X4%20Dual%20Range"]::before {
                content: $icon-all-wheel-icon;
            }

            &[data-value="Front%20Wheel%20Drive"]::before {
                content: $icon-front-wheel-icon;
            }

            &[data-value="Rear%20Wheel%20Drive"]::before {
                content: $icon-rear-wheel-icon;
            }
        }

        &.transmission {
            &::before {
                content: $icon-gear-sm;
            }
        }

        &.engine {
            &::before {
                content: $icon-engine-sm;
            }
        }

        &.fuel-type {
            &::before {
                content: $icon-fuel-icon;
            }
        }

        &.fuel-consumption {
            &::before {
                content: $icon-fuel-icon;
            }
        }

        &.power {
            &::before {
                content: $icon-speedo-sm;
            }
        }

        &.doors {
            &::before {
                content: $icon-door-icon;
            }
        }

        &.seats {
            &::before {
                content: $icon-seat-icon;
            }
        }

        &.safety-rating-ancap {
            display: inline-block;
            vertical-align: middle;


            &::before {
                content: $icon-safety-icon;
                width: auto;
            }
        }
    }

    &__spec-item-title.safety-rating-ancap {
        display: inline-block;
        vertical-align: middle;
        margin: 5px 0 15px;

        &::before {
            font-family: $font-family-icons;
            font-size: $font-size-h3;
            display: inline-block;
            color: $cs-grey;
            vertical-align: middle;
            margin-right: 0px;
            font-weight: 400;
        }


        &::before {
            content: $icon-safety-icon;
            margin-right: 15px;
        }
    }
}