.spec-module .spec-item {
    &__selector {

        $sm-handle-width: 20px;
        $sm-rail-height: 4px;
        $dot-height: 6px;
        $dot-width: 6px;

        padding: 0 ($sm-handle-width/2);
        margin-top: 30px;
        position: absolute;
        width: calc(50% - 60px);
        bottom: 0;

        &-label {
            font-size: $font-size-h4;
            font-weight: $font-weight-600;
            color: $cs-dark-grey-1;
            padding-bottom: 25px;
            margin-left: -1 * ($sm-handle-width/2);
        }

        .rc-slider {
            position: relative;
            padding-top: ($sm-handle-width/2) + ($sm-rail-height/2) + $dot-height;
            padding-bottom: ($sm-handle-width/2) + ($sm-rail-height/2);
            width: 100%;
            border-radius: 6px;
            box-sizing: border-box;

            .rc-slider-rail {
                position: absolute;
                width: 100%;
                background-color: $cs-light-grey-2;
                height: $sm-rail-height;
                border-radius: 6px;
            }

            .rc-slider-track {
                position: absolute;
                left: 0;
                height: $sm-rail-height;
                border-radius: 6px;
                background-color: $cs-light-grey-1;
            }

            .rc-slider-handle {
                position: absolute;
                margin-left: -1*($sm-handle-width/2);
                margin-top: -1*($sm-handle-width/2) + ($sm-rail-height/2);
                width: $sm-handle-width;
                height: $sm-handle-width;
                cursor: pointer;
                border-radius: 50%;
                background-color: $cs-primary;
            }

            .rc-slider-step {
                position: absolute;
                width: 100%;
                height: 4px;
                background: transparent;
                cursor: pointer;
            }

            .rc-slider-dot {
                position: absolute;
                top: -25px;
                margin-left: -1px;
                width: $dot-width;
                height: $dot-height;
                background-color: $cs-light-grey-1;
                cursor: pointer;
                border-radius: 50%;
                vertical-align: middle;

                &:first-child {
                    margin-left: -1*($dot-width/2);
                }

                &:nth-of-type(2) {
                    margin-left: -1*($dot-width/2);
                }
            }

            .rc-slider-mark {
                position: relative;
                padding-bottom: 20px;
                top: 18px;
                left: 0;
                width: calc(100% + #{$sm-handle-width});
                left: -1*($sm-handle-width/2);
                font-size: 12px;
            }

            .rc-slider-mark-text {
                position: absolute;
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                cursor: pointer;
                color: $cs-dark-grey-1;
                width: auto !important;
                margin-left: auto !important;
                font-weight: $font-weight-700;
                white-space: nowrap;

                &:last-child {
                    text-align: right;
                    transform: translateX(-100%);
                }
            }
        }
    }
}
