@import "css/globals";

.spec-module .spec-item {

    @include clearfix;
    text-align: center;
    font-size: 0;
    //reset
    p {
        line-height: normal;
        margin-top: auto;
    }

    &__column {
        padding: 0 30px;
        display: inline-block;
        text-align: left;
        vertical-align: top;

        &--1 {
            width: 50%;
        }

        &--2 {
            width: 50%;
        }
    }

    &__heading {
        font-size: $font-size-h2;
        font-weight: $font-weight-600;
        color: $cs-dark-grey;
    }

    &__subheading {
        font-size: $font-size-h5;
        color: $cs-dark-grey;
        padding-top: 5px;
    }

    &__price {
        font-size: $font-size-h3;
        color: $cs-dark-grey;
        display: inline-block;
        padding-top: 20px;

        &--price-private,
        &--price-trade-in {
            padding-top: 0;
            font-size: $font-size-h5;
            color: $cs-dark-grey;
            font-weight: $font-weight-600;
            margin-top: 5px;
        }
    }

    &__price-disclaimer {
        font-size: $font-size-smaller;
        color: $cs-dark-grey;
        font-weight: $font-weight-400;
        display: inline-block;
        cursor: pointer;
        padding-left: 5px;

        &:hover {
            text-decoration: underline
        }
    }

    &__price-container {
        display: inline-block;
        margin-top: 20px;

        &:nth-of-type(2) {
            float: right;
        }
    }

    &__price-label {
        font-size: $font-size-h6;
        color: $cs-grey;
        font-weight: $font-weight-400;
        display: block;
    }
    //TODO: move out
    &__selector {

        $sm-handle-width: 20px;
        $sm-rail-height: 4px;
        $dot-height: 6px;

        padding: 0 ($sm-handle-width/2);
        margin-top: 30px;

        .rc-slider {
            position: relative;
            padding-top: ($sm-handle-width/2) + ($sm-rail-height/2) + $dot-height;
            padding-bottom: ($sm-handle-width/2) + ($sm-rail-height/2);
            width: 100%;
            border-radius: 6px;
            box-sizing: border-box;

            .rc-slider-rail {
                position: absolute;
                width: 100%;
                background-color: $cs-lighter-grey;
                height: $sm-rail-height;
                border-radius: 6px;
            }

            .rc-slider-track {
                position: absolute;
                left: 0;
                height: 4px;
                border-radius: 6px;
                background-color: $cs-light-grey;
            }

            .rc-slider-handle {
                position: absolute;
                margin-left: -1*($sm-handle-width/2);
                margin-top: -1*($sm-handle-width/2) + ($sm-rail-height/2);
                width: $sm-handle-width;
                height: $sm-handle-width;
                cursor: pointer;
                border-radius: 50%;
                background-color: $cs-primary;
            }

            .rc-slider-handle:hover {
                border-color: #57c5f7;
            }

            .rc-slider-handle-active:active {
                border-color: #57c5f7;
                box-shadow: 0 0 5px #57c5f7;
            }

            .rc-slider-step {
                position: absolute;
                width: 100%;
                height: 4px;
                background: transparent;
            }

            .rc-slider-dot {
                position: absolute;
                top: -1*(($sm-handle-width/2) + ($sm-rail-height/2) + $dot-height);
                margin-left: -1px;
                width: 2px;
                height: 2px;
                background-color: $cs-black;
                cursor: pointer;
                border-radius: 50%;
                vertical-align: middle;

                &:first-child {
                    margin-left: -1px;
                }

                &:last-child {
                    margin-left: -1px;
                }
            }
        }
    }

    &__spec-item-list-heading {
        font-size: $font-size-h4;
        font-weight: $font-weight-600;
        color: $cs-primary;
    }

    &__spec-item-list {
        margin: 20px auto 0;
    }

    &__spec-item-title {
        font-size: $font-size-h6;
        color: $cs-grey;
    }

    &__spec-item-value {
        font-size: $font-size-h5;
        color: $cs-dark-grey;
        font-weight: $font-weight-600;
        margin: 5px 0 20px;
    }
    //ANCAP Rating
    &__spec-item-value:last-child {
        font-size: 0;

        &::before,
        &::after {
            font-family: $font-family-icons;
            font-size: $font-size-h5;
            margin-top: 5px;
            display: inline-block;
        }

        &::before {
            color: $cs-primary;
        }

        &::after {
            color: $cs-lighter-grey;
            margin-left: 4px;
        }

        &[data-value="0"] {
            &::before {
                content: "";
            }

            &::after {
                content: "\f005 \f005 \f005 \f005 \f005";
            }
        }

        &[data-value="1"] {
            &::before {
                content: "\f005";
            }

            &::after {
                content: "\f005 \f005 \f005 \f005";
            }
        }

        &[data-value="2"] {
            &::before {
                content: "\f005 \f005 ";
            }

            &::after {
                content: "\f005 \f005 \f005";
            }
        }

        &[data-value="3"] {
            &::before {
                content: "\f005 \f005 \f005 ";
            }

            &::after {
                content: "\f005 \f005";
            }
        }

        &[data-value="4"] {
            &::before {
                content: "\f005 \f005 \f005 \f005 ";
            }

            &::after {
                content: " \f005";
            }
        }

        &[data-value="5"] {
            &::before {
                content: "\f005 \f005 \f005 \f005 \f005";
            }

            &::after {
                content: "";
            }
        }
    }


    &__third-party-offers {
        padding: 30px 0;
    }
}