#page-footer {
    text-align: left;
    line-height: 1.4;
    overflow: hidden;
    padding-top: 40px;

    @if($soloautos-footer != "") {
        .post-footer {
            padding-bottom: 150px;
        }
    }
}
