.tenant-carsales {
    #page-header {
        min-height: 115px;
        a.logo {
            margin-top:25px;
            background-color: transparent;
            color: transparent;
            border: 0;
            font: 0/0 a;
            text-shadow: none;
            background-image: url(//resource.csnstatic.com/carsales/globals/img/cs_logo-143x53.png);
            display: block;
            height: 53px;
            width: 142px;
        }
    }
}