.page-header {
    min-height: 130px;
    padding: 20px 30px 15px;

    &__logo {
        background-color: transparent;
        color: transparent;
        border: 0;
        font: 0/0 a;
        text-shadow: none;
        background-image: url($logo-header);
        display: block;
        width: $logo-header-width;
        height: $logo-header-height;
        background-size: contain;
        background-repeat: no-repeat;
        float: left;

    }
}
