.page-header {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 120px;
    position: relative;
    z-index: 2;
    background-color: $cs-white;
    /*@include breakpoint($screen-lg) {
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 150px;
    }*/
    &__logo {
        background-color: transparent;
        color: transparent;
        border: 0;
        font: 0/0 a;
        text-shadow: none;
        background-image: url($logo-header);
        display: block;
        width: $logo-header-width;
        height: $logo-header-height;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        float: left;
        max-width: ($screen-sm - $leader-board-width - $grid-gutter-width - 15px); 

        @include breakpoint($screen-lg) {
            max-width: 100%;
        }
    }


    &--transparent {
        position: absolute;
        z-index: 1;
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        .page-header__logo {
            background-image: url($logo-header--transparent);
            width: $logo-header-width--transparent;
            height: $logo-header-height--transparent;

        }
    }
}
