.page-container {
    text-align: left;
}

.tenant-redbook {
    @if($tenant-redbook-container != "") {
        padding-top: 90px;

        .article-type--video,
        .article-type--singleimage {
            padding-top: 15px;
        }

        .container {
            padding-top: 15px;
        }

        #page-footer {
            padding-top: 20px;
        }
    }
}
