.site-nav-wrapper {
    .menu-content {
        h3 {
            text-align: left;
        }

        blockquote {
            text-align: left;
        }

        ul.standard {
            li {
                text-align: left;
            }
        }
    }

    .menu-panel {
        .menu-links {
            li {
                text-align: left;
            }
        }
    }
}