// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #FEC325;


// Logo
$logo-header: 'https://resource.csnstatic.com/retail/globals/logo/v3/boatsales.svg';
$logo-header-width: 173px;
$logo-header-height: 60px;

$logo-header--transparent: 'https://resource.csnstatic.com/retail/globals/logo/v3/boatsales-white.svg';
$logo-header-width--transparent: 103px;
$logo-header-height--transparent: 40px; 