// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #FEC325;


// Logo
$logo-header: 'Images/Boatsales/logo-boatsales.svg';
$logo-header-width: 180px;
$logo-header-height: 90px; // hieght l