@mixin fadeInUp($startingHeight: 100%) {
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translate3d(0, $startingHeight, 0);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }
}
