%clearfix {
    content:"";
    display:block;
    clear:both;
}

%centered {
    text-align: center;
}

%centered-all {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
