@import "css/globals";
@import "iNav/Css/iNav.variables";

#iNav {
    width: $iNav-width;
    position: relative;
    z-index: 1;
}

.iNav {
    background-color: $iNav-background-color;
    border-bottom: 1px solid $cs-light-grey-2;   
    position: relative;
    box-shadow: 0 0 0px 1000vh rgba(0,0,0,0); 
    transition: box-shadow .3s;

    &::before {
        content: '';
        display: block;
        width: 100%;
        background-color: $cs-primary;
        height: 5px;
    }

    &.isActive {
        opacity: 1;
        box-shadow: 0 0 0px 1000vh rgba(0,0,0,0.75);

        &::after {
            content: '';
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }

}
