// Vars
$iNav-header-height: 75px;
$category-container-width: 350px;
$category-container-height: 500px;
$spacing: 20px;
$iNav-background-color: #eeeeee;
$iNav-width: 100%;
$cancel-bar-height: 65px;
$category-header-height: 35px;
$iNav-top-border-height: 5px;
$iNav-header-item-height: 52px;
$iNav-border-radius: 4px;
