@import "css/globals";


//Search category item
.iNav-category-item {

    $count-container-width: 100px;

    margin-top: 9px;
    cursor: pointer;
    
    &:nth-of-type(1) {
        margin-top: 0;
    }

    &__checkbox {
        display: none;
    }

    &.isSelected {
        &::before {
            content: $icon-tick-md;
            font-family: $font-family-icons;
            font-size: 10px;
            font-weight: 600;
            color: $cs-white;
            background-color: $cs-primary;
            border-radius: 9999px;
            width: 20px;
            height: 20px;
            display: inline-block;
            line-height: 20px;
            text-align: center;
            border: 0 solid $cs-primary;
        }
    }

    &::before {
        content: '';
        background-color: $cs-light-grey-3;
        border: 1px solid $cs-light-grey-2;
        border-radius: 9999px;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }

    &__link {
        display: inline-block;
        vertical-align: middle;
        color: $cs-dark-grey-1;
        width: calc(100% - 40px - #{$count-container-width}); // 100% - checkmark width+margin - $count-container-width
        text-decoration: none;
        
        &:hover,
        &:visited,
        &:focus{
            text-decoration: none;
            color: $cs-dark-grey-1;
        }
    }

    &__meta-container {
        width: $count-container-width;
        display: inline-block;
        font-size: $font-size-h6;
        text-align: right;
        vertical-align: middle;
    }

    &__count {
        color: $cs-white;
        background-color: $cs-primary;
        border-radius: 9999px;
        display: inline-block;
        font-size: $font-size-h6;
        text-align: center;
        padding: 0 6.5px;
        margin-left: 5px;
        line-height: 21px;
        height: 21px;
        vertical-align: middle;
    }

    &__refinement {
        height: 21px;
        width: 21px;
        line-height: 21px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        position: relative;
                
        &::before {
            content: $icon-circle-right-lg;
            font-family: $font-family-icons;
            color: $cs-primary;
            display: block;
            position: absolute;
            font-size: 21px;
        }   
        
    }

    &--noResults {
        opacity: 0.5;
        cursor: not-allowed;
        
        &.iNav-category-item {            
            &.isSelected {
                &::before {
                    background-color: $cs-grey;
                }
            }
        }
        .iNav-category-item {
            &__count {
                background-color: $cs-grey;                  
            }
            &__link {
                cursor: not-allowed;
            }
            &__refinement {
                &::before {
                    color: $cs-grey;
                }
            }
        }
    }
}
