@import "css/globals";

#iNav {
    $iNav-width: 100%;
    
    width: $iNav-width;
    float: left;
}

.iNav {

    // Vars
    $iNav-header-height: 75px;
    $category-container-height: 500px;
    $spacing: 20px;
    $iNav-background-color: #eeeeee;

    background-color: $iNav-background-color;
    border-bottom: 1px solid $cs-light-grey-2;    

    &::before {
        content: '';
        display: block;
        width: 100%;
        background-color: $cs-primary;
        height: 5px;
    }

    // Category container
    &__category-container {

        height: $iNav-header-height;
       display: flex;
       align-items: center;
       justify-content: center;
       

    }

    &__category {
        font-size: $font-size-body;
    }
    //Search category
    .iNav-category {
        margin-bottom: $spacing;

        &__container {
            max-height: $category-container-height - ($spacing*2);
            overflow-y: auto;
            padding: 0 $spacing;

            &--1 {
            }
        }
    }
}

@import "./iNavListItem.scss";