@import "css/globals";
@import "iNav/Css/iNav.variables";

//Search category
.iNav-category {
    font-size: 0;
    position: absolute;
    top: $iNav-header-height + 5px + 10px;


    &__container {
        @include fadeInDown(-25%);
        
        border-radius: 4px;
        max-height: $category-container-height;
        padding: $spacing;
        width:  $category-container-width;
        font-size: $font-size-body;
        vertical-align: top;
        background-color: $cs-white;
        border: 1px solid $cs-grey;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.21);
        display: none;
        position: relative;
        z-index: 1;
        animation-duration: .333s;
        animation-fill-mode: forwards;
        overflow: hidden;
        font-size: 0;

        &--isActive {
            display: inline-block;
            animation-name: fadeInDown;                    
        }
        &--1 {
            margin-left: $iNav-header-item-width;            
        }
        &--2 {
            margin-left: $iNav-header-item-width * 2;             
        }
        &-page {
            position: relative;
            white-space: nowrap;
            position: relative;
            left: -1 * $spacing;
            transition: left .3s;

            .iNav-category__list {
                max-height: $category-container-height - ($spacing*2) - $cancel-bar-height - $category-header-height;                
            }

            &--1 {
                left: -1 * ($spacing);
            }
            &--2 {
                left: -1 * ($spacing + ($category-container-width));
            }
            &--3 {
                left: -1 * ($spacing + ($category-container-width * 2));           
            }
        }
    }

    &__header {
        font-family: $font-family-default;
        font-size: 18px;
        line-height: 18px;
        font-weight: $font-weight-600;
        text-align: left;
        color: $cs-dark-grey-2;
        margin-bottom: 15px;
    }

    &__list-wrapper {
        max-height: $category-container-height - ($spacing*2) - $cancel-bar-height - $category-header-height + 15px;
        display: inline-block;
        vertical-align: top;
        width: $category-container-width;
        padding: 0 $spacing;
        //display: none;

        &:nth-of-type(n+2) {
            display: none;
            .iNav-category__list {
                max-height: $category-container-height - ($spacing*2) - $cancel-bar-height - $category-header-height + 15px - 40px;                
            }
        }

        &--isVisible {
            display: inline-block !important;
        }
        &--isLoading {
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                background-color: rgba($cs-white, 0.7);
                background-image: url($spinner--dark);
                background-size: 200px 200px;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    &__list {
        overflow-y: auto;
        position: relative;
        font-size: $font-size-base;
    }

    &__back-button {
        font-size: $font-size-base;
        line-height: 21px;
        color: $cs-primary;
        margin-bottom: 15px;
        cursor: pointer;
                
        &::before {
            content: $icon-circle-left-lg;
            font-family: $font-family-icons;
            color: $cs-primary;
            display: inline-block;
            font-size: 21px;
            vertical-align: middle;
            margin-right: 20px;
        }  
    }
}