@import "css/globals";
@import "iNav/Css/iNav.variables";

//Search category
.iNav-category {
    font-size: 0;
    position: absolute;
    top: $iNav-header-height + 5px + 10px;

    &__container {
        @include fadeInDown(-25%);
        
        max-height: $category-container-height;
        padding: $spacing;
        width: 350px;
        font-size: $font-size-body;
        vertical-align: top;
        background-color: $cs-white;
        border: 1px solid $cs-grey;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.21);
        display: none;
        position: relative;
        z-index: 1;
        animation-duration: .333s;
        animation-fill-mode: forwards;

        &.isActive {
            display: inline-block;
            animation-name: fadeInDown;                    
        }
        &-page {
            $cancel-bar-height: 65px;
            $header-height: 35px;
            overflow-y: auto;
            max-height: $category-container-height - ($spacing*2) - $cancel-bar-height - $header-height;
            position: relative;
            &::after {
                content: '';
                width: 100%;
                position: absolute;
                bottom: 0;
                height: 45px;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
                background: -moz-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            }
        }
    }

    &__header {
        font-family: $font-family-default;
        font-size: 18px;
        line-height: 18px;
        font-weight: $font-weight-600;
        text-align: left;
        color: $cs-dark-grey-2;
        margin-bottom: 15px;
    }

    &__list {

    }
}