@using Csn.Retail.Editorial.Web.Features.DisplayAds
@using Csn.Retail.Editorial.Web.Features.DisplayAds.HtmlHelpers
@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

<div class="wrapper--aside">
    <div class="aside ">
        <!-- Aside Section -->
        @{ Html.RenderDisplayAd(DisplayAdPlacements.DetailsAside); }
        @if (Model?.ExpertRatings != null || Model?.ProsCons != null)
        {
            Html.RenderPartial("Partials/Widgets/EditorRatings/_EditorsRating", Model);

        }
        @{ Html.RenderPartial("Partials/Widgets/StockForSale/_StockForSaleData", Model); }
    </div>
</div>