@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

<div class="aside ">
    <!-- Aside Section -->
    @{ Html.RenderPartial("Partials/MediaMotive/_Mrec", Model.MediaMotiveData); }

    @if (Model?.ExpertRatings != null && Model?.ProsCons != null)
    {
        Html.RenderPartial("Partials/Widgets/EditorRatings/_EditorsRating", Model);

    }

</div>
