@using Csn.Retail.Editorial.Web.Features.Shared.Proxies.EditorialApi
@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

@if (Model.ArticleTemplateType == ArticleTemplateType.Wide)
{
    <header id="page-header" class="page-header page-header--transparent container" data-webm-section="page-header">
        <div class="container">
            @{ Html.RenderPartial("~/Features/Shared/Views/Partials/_SiteLogo.cshtml"); }
        </div>
    </header>
}
else
{
    <header id="page-header" class="page-header container" data-webm-section="page-header">
        @{ Html.RenderPartial("~/Features/Shared/Views/Partials/_SiteLogo.cshtml"); }
        @{ Html.RenderPartial("Partials/MediaMotive/_Leaderboard", Model.MediaMotiveData); }
    </header>
}