@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

<div class="article col-md-7 col-md-offset-1">

    <!-- Main Section -->

    <div class="cf">
        <div class="article__type article__type--reviews">Reviews</div>
        <div class="article__date">April 24th, 2016</div>
    </div>

    <header>
        <h1 class="article__heading">Passat GT reignites 'R' moniker hopes</h1>
        <h2 class="article__subheading">Benz’ latest drop top is a smooth operator, blending elegance and ease of use.</h2>
    </header>

    @{ Html.RenderPartial("Partials/_ArticleBody", Model); }

</div>
