@using Csn.Retail.Editorial.Web.Features.Shared.Proxies.EditorialApi
@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

@{
    var isSponsored = Model.IsSponsoredArticle;

}

<div class="article @Model.ArticleType.ToLower()">
    @{ Html.RenderPartial("Partials/Content/_ArticleTypeAndSocialIcons", Model); }

    @{ Html.RenderPartial("Partials/Content/_ArticleHeader", Model); }

    @{ Html.RenderPartial("Partials/Content/_ArticleSummary", Model); }


    @{ Html.RenderPartial("Partials/Content/_ArticleBody", Model); }

    @{ Html.RenderPartial("Partials/Content/_ArticleShare--Bottom", Model); }

    @if (!isSponsored) { Html.RenderPartial("Partials/Content/_Contributors", Model); }

    @{ Html.RenderPartial("Partials/MediaMotive/_Tile15", Model.MediaMotiveData); }

    @if (Model.DisqusData != null) { Html.RenderPartial("Partials/Disqus/_Disqus", Model.DisqusData); }

    @{ Html.RenderPartial("_Disclaimer"); }

    @{ Html.RenderPartial("Partials/MediaMotive/_Tracking", Model.MediaMotiveData); }

    @{ Html.RenderPartial("Partials/MediaMotive/_Teads", Model.MediaMotiveData); }
</div>
