@using Csn.Retail.Editorial.Web.Features.Shared.Proxies.EditorialApi
@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel
    
@{
    var isSponsoredAndWide = Model.IsSponsoredArticle && Model.ArticleTemplateType == ArticleTemplateType.Wide ? true : false;

}

<div class="article @Model.ArticleType.ToLower()">
    @{ Html.RenderPartial("Partials/Content/_ArticleTypeAndSocialIcons", Model); }
    @if (!isSponsoredAndWide) { Html.RenderPartial("Partials/Content/_ArticleHeader", Model); }
    @{ Html.RenderPartial("Partials/Content/_ArticleSummary", Model); }
    @{ Html.RenderPartial("Partials/Content/_Location_Type_Model", Model); }
    @{ Html.RenderPartial("Partials/Content/_ArticleBody", Model); }
    @{ Html.RenderPartial("Partials/Content/_ArticleShare--Bottom", Model); }
    @{ Html.RenderPartial("Partials/Content/_Contributors", Model); }
    @{ Html.RenderPartial("Partials/MediaMotive/_Tile15", Model.MediaMotiveData); }
    @if (Model.DisqusData != null) { Html.RenderPartial("Partials/Disqus/_Disqus", Model.DisqusData); }

        @{ Html.RenderPartial("_Disclaimer"); }
    @{ Html.RenderPartial("Partials/MediaMotive/_Tracking", Model.MediaMotiveData); }
    @{
        if (Model.MediaMotiveData.MediaMotiveItem.FindIndex(item => item.TileId == "Tile7") >= 0)
        {
            <div class="container" >
                @{ Html.RenderPartial("Partials/MediaMotive/_Teads", Model.MediaMotiveData); }
            </div>
        }
    }
    @{ Html.RenderPartial("Partials/MediaMotive/_Teads", Model.MediaMotiveData); }
</div>