@import "csnicons-variables";

@font-face {
  font-family: 'csnicons';
  src:  url('fonts/csnicons.ttf') format('truetype'),
    url('fonts/csnicons.woff') format('woff'),
    url('fonts/csnicons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'csnicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger-lg {
    &:before {
        content: $icon-hamburger-lg;
    }
}

.icon-arrows-wide-lg {
    &:before {
        content: $icon-arrows-wide-lg;
    }
}

.icon-arrows-wide-md {
    &:before {
        content: $icon-arrows-wide-md;
    }
}

.icon-arrows-wide-sm {
    &:before {
        content: $icon-arrows-wide-sm;
    }
}

.icon-article-lg {
    &:before {
        content: $icon-article-lg;
    }
}

.icon-article-md {
    &:before {
        content: $icon-article-md;
    }
}

.icon-article-sm {
    &:before {
        content: $icon-article-sm;
    }
}

.icon-bell-lg {
    &:before {
        content: $icon-bell-lg;
    }
}

.icon-bell-md {
    &:before {
        content: $icon-bell-md;
    }
}

.icon-bell-sm {
    &:before {
        content: $icon-bell-sm;
    }
}

.icon-bin-lg {
    &:before {
        content: $icon-bin-lg;
    }
}

.icon-bin-md {
    &:before {
        content: $icon-bin-md;
    }
}

.icon-bin-sm {
    &:before {
        content: $icon-bin-sm;
    }
}

.icon-book-lg {
    &:before {
        content: $icon-book-lg;
    }
}

.icon-book-md {
    &:before {
        content: $icon-book-md;
    }
}

.icon-book-sm {
    &:before {
        content: $icon-book-sm;
    }
}

.icon-calandar-lg {
    &:before {
        content: $icon-calandar-lg;
    }
}

.icon-calandar-md {
    &:before {
        content: $icon-calandar-md;
    }
}

.icon-calandar-sm {
    &:before {
        content: $icon-calandar-sm;
    }
}

.icon-camera-lg {
    &:before {
        content: $icon-camera-lg;
    }
}

.icon-camera-md {
    &:before {
        content: $icon-camera-md;
    }
}

.icon-camera-sm {
    &:before {
        content: $icon-camera-sm;
    }
}

.icon-car-front-lg {
    &:before {
        content: $icon-car-front-lg;
    }
}

.icon-car-front-md {
    &:before {
        content: $icon-car-front-md;
    }
}

.icon-car-front-sm {
    &:before {
        content: $icon-car-front-sm;
    }
}

.icon-car-side-lg {
    &:before {
        content: $icon-car-side-lg;
    }
}

.icon-car-side-md {
    &:before {
        content: $icon-car-side-md;
    }
}

.icon-car-side-sm {
    &:before {
        content: $icon-car-side-sm;
    }
}

.icon-card-lg {
    &:before {
        content: $icon-card-lg;
    }
}

.icon-card-md {
    &:before {
        content: $icon-card-md;
    }
}

.icon-card-sm {
    &:before {
        content: $icon-card-sm;
    }
}

.icon-cash-lg {
    &:before {
        content: $icon-cash-lg;
    }
}

.icon-cash-md {
    &:before {
        content: $icon-cash-md;
    }
}

.icon-cash-sm {
    &:before {
        content: $icon-cash-sm;
    }
}

.icon-chevron-down-lg {
    &:before {
        content: $icon-chevron-down-lg;
    }
}

.icon-chevron-down-md {
    &:before {
        content: $icon-chevron-down-md;
    }
}

.icon-chevron-down-sm {
    &:before {
        content: $icon-chevron-down-sm;
    }
}

.icon-chevron-left-lg {
    &:before {
        content: $icon-chevron-left-lg;
    }
}

.icon-chevron-left-md {
    &:before {
        content: $icon-chevron-left-md;
    }
}

.icon-chevron-left-sm {
    &:before {
        content: $icon-chevron-left-sm;
    }
}

.icon-chevron-right-lg {
    &:before {
        content: $icon-chevron-right-lg;
    }
}

.icon-chevron-right-md {
    &:before {
        content: $icon-chevron-right-md;
    }
}

.icon-chevron-right-sm {
    &:before {
        content: $icon-chevron-right-sm;
    }
}

.icon-chevron-up-lg {
    &:before {
        content: $icon-chevron-up-lg;
    }
}

.icon-chevron-up-md {
    &:before {
        content: $icon-chevron-up-md;
    }
}

.icon-chevron-up-sm {
    &:before {
        content: $icon-chevron-up-sm;
    }
}

.icon-circle-cross-lg {
    &:before {
        content: $icon-circle-cross-lg;
    }
}

.icon-circle-cross-md {
    &:before {
        content: $icon-circle-cross-md;
    }
}

.icon-circle-cross-sm {
    &:before {
        content: $icon-circle-cross-sm;
    }
}

.icon-circle-left-lg {
    &:before {
        content: $icon-circle-left-lg;
    }
}

.icon-circle-left-md {
    &:before {
        content: $icon-circle-left-md;
    }
}

.icon-circle-left-sm {
    &:before {
        content: $icon-circle-left-sm;
    }
}

.icon-circle-minus-lg {
    &:before {
        content: $icon-circle-minus-lg;
    }
}

.icon-circle-minus-md {
    &:before {
        content: $icon-circle-minus-md;
    }
}

.icon-circle-minus-sm {
    &:before {
        content: $icon-circle-minus-sm;
    }
}

.icon-circle-play-lg {
    &:before {
        content: $icon-circle-play-lg;
    }
}

.icon-circle-play-md {
    &:before {
        content: $icon-circle-play-md;
    }
}

.icon-circle-play-sm {
    &:before {
        content: $icon-circle-play-sm;
    }
}

.icon-circle-plus-lg {
    &:before {
        content: $icon-circle-plus-lg;
    }
}

.icon-circle-plus-md {
    &:before {
        content: $icon-circle-plus-md;
    }
}

.icon-circle-plus-sm {
    &:before {
        content: $icon-circle-plus-sm;
    }
}

.icon-circle-right-lg {
    &:before {
        content: $icon-circle-right-lg;
    }
}

.icon-circle-right-md {
    &:before {
        content: $icon-circle-right-md;
    }
}

.icon-circle-right-sm {
    &:before {
        content: $icon-circle-right-sm;
    }
}

.icon-cirlce-right-lg {
    &:before {
        content: $icon-cirlce-right-lg;
    }
}

.icon-cirlce-right-md {
    &:before {
        content: $icon-cirlce-right-md;
    }
}

.icon-clock-lg {
    &:before {
        content: $icon-clock-lg;
    }
}

.icon-clock-md {
    &:before {
        content: $icon-clock-md;
    }
}

.icon-clock-sm {
    &:before {
        content: $icon-clock-sm;
    }
}

.icon-cog-lg {
    &:before {
        content: $icon-cog-lg;
    }
}

.icon-uniE946 {
    &:before {
        content: $icon-uniE946;
    }
}

.icon-uniE947 {
    &:before {
        content: $icon-uniE947;
    }
}

.icon-uniE948 {
    &:before {
        content: $icon-uniE948;
    }
}

.icon-uniE949 {
    &:before {
        content: $icon-uniE949;
    }
}

.icon-computer-lg {
    &:before {
        content: $icon-computer-lg;
    }
}

.icon-computer-md {
    &:before {
        content: $icon-computer-md;
    }
}

.icon-computer-sm {
    &:before {
        content: $icon-computer-sm;
    }
}

.icon-cross-lg {
    &:before {
        content: $icon-cross-lg;
    }
}

.icon-cross-md {
    &:before {
        content: $icon-cross-md;
    }
}

.icon-cross-sm {
    &:before {
        content: $icon-cross-sm;
    }
}

.icon-cycle-lg {
    &:before {
        content: $icon-cycle-lg;
    }
}

.icon-cycle-md {
    &:before {
        content: $icon-cycle-md;
    }
}

.icon-cycle-sm {
    &:before {
        content: $icon-cycle-sm;
    }
}

.icon-ellipse-lg {
    &:before {
        content: $icon-ellipse-lg;
    }
}

.icon-ellipse-md {
    &:before {
        content: $icon-ellipse-md;
    }
}

.icon-ellipse-sm {
    &:before {
        content: $icon-ellipse-sm;
    }
}

.icon-engine-lg {
    &:before {
        content: $icon-engine-lg;
    }
}

.icon-engine-md {
    &:before {
        content: $icon-engine-md;
    }
}

.icon-engine-sm {
    &:before {
        content: $icon-engine-sm;
    }
}

.icon-envelope-lg {
    &:before {
        content: $icon-envelope-lg;
    }
}

.icon-envelope-md {
    &:before {
        content: $icon-envelope-md;
    }
}

.icon-envelope-sm {
    &:before {
        content: $icon-envelope-sm;
    }
}

.icon-eye-lg {
    &:before {
        content: $icon-eye-lg;
    }
}

.icon-eye-md {
    &:before {
        content: $icon-eye-md;
    }
}

.icon-eye-sm {
    &:before {
        content: $icon-eye-sm;
    }
}

.icon-folder-find-lg {
    &:before {
        content: $icon-folder-find-lg;
    }
}

.icon-folder-find-md {
    &:before {
        content: $icon-folder-find-md;
    }
}

.icon-folder-find-sm {
    &:before {
        content: $icon-folder-find-sm;
    }
}

.icon-gear-lg {
    &:before {
        content: $icon-gear-lg;
    }
}

.icon-gear-md {
    &:before {
        content: $icon-gear-md;
    }
}

.icon-gear-sm {
    &:before {
        content: $icon-gear-sm;
    }
}

.icon-hamburger-lg2 {
    &:before {
        content: $icon-hamburger-lg2;
    }
}

.icon-hamburger-md {
    &:before {
        content: $icon-hamburger-md;
    }
}

.icon-hamburger-sm {
    &:before {
        content: $icon-hamburger-sm;
    }
}

.icon-hand-front-lg {
    &:before {
        content: $icon-hand-front-lg;
    }
}

.icon-hand-front-md {
    &:before {
        content: $icon-hand-front-md;
    }
}

.icon-hand-front-sm {
    &:before {
        content: $icon-hand-front-sm;
    }
}

.icon-handup-lg {
    &:before {
        content: $icon-handup-lg;
    }
}

.icon-handup-md {
    &:before {
        content: $icon-handup-md;
    }
}

.icon-handup-sm {
    &:before {
        content: $icon-handup-sm;
    }
}

.icon-heart-lg {
    &:before {
        content: $icon-heart-lg;
    }
}

.icon-heart-md {
    &:before {
        content: $icon-heart-md;
    }
}

.icon-heart-minus-lg {
    &:before {
        content: $icon-heart-minus-lg;
    }
}

.icon-heart-minus-md {
    &:before {
        content: $icon-heart-minus-md;
    }
}

.icon-heart-minus-sm {
    &:before {
        content: $icon-heart-minus-sm;
    }
}

.icon-heart-plus-lg {
    &:before {
        content: $icon-heart-plus-lg;
    }
}

.icon-heart-plus-md {
    &:before {
        content: $icon-heart-plus-md;
    }
}

.icon-heart-plus-sm {
    &:before {
        content: $icon-heart-plus-sm;
    }
}

.icon-heart-sm {
    &:before {
        content: $icon-heart-sm;
    }
}

.icon-house-lg {
    &:before {
        content: $icon-house-lg;
    }
}

.icon-house-md {
    &:before {
        content: $icon-house-md;
    }
}

.icon-house-sm {
    &:before {
        content: $icon-house-sm;
    }
}

.icon-image-lg {
    &:before {
        content: $icon-image-lg;
    }
}

.icon-image-md {
    &:before {
        content: $icon-image-md;
    }
}

.icon-image-sm {
    &:before {
        content: $icon-image-sm;
    }
}

.icon-inbox-lg {
    &:before {
        content: $icon-inbox-lg;
    }
}

.icon-inbox-md {
    &:before {
        content: $icon-inbox-md;
    }
}

.icon-inbox-sm {
    &:before {
        content: $icon-inbox-sm;
    }
}

.icon-information-lg {
    &:before {
        content: $icon-information-lg;
    }
}

.icon-information-md {
    &:before {
        content: $icon-information-md;
    }
}

.icon-information-sm {
    &:before {
        content: $icon-information-sm;
    }
}

.icon-laptop-lg {
    &:before {
        content: $icon-laptop-lg;
    }
}

.icon-laptop-md {
    &:before {
        content: $icon-laptop-md;
    }
}

.icon-laptop-sm {
    &:before {
        content: $icon-laptop-sm;
    }
}

.icon-list-lg {
    &:before {
        content: $icon-list-lg;
    }
}

.icon-list-md {
    &:before {
        content: $icon-list-md;
    }
}

.icon-list-sm {
    &:before {
        content: $icon-list-sm;
    }
}

.icon-lock-lg {
    &:before {
        content: $icon-lock-lg;
    }
}

.icon-lock-md {
    &:before {
        content: $icon-lock-md;
    }
}

.icon-lock-sm {
    &:before {
        content: $icon-lock-sm;
    }
}

.icon-magnifying-lg {
    &:before {
        content: $icon-magnifying-lg;
    }
}

.icon-magnifying-md {
    &:before {
        content: $icon-magnifying-md;
    }
}

.icon-magnifying-sm {
    &:before {
        content: $icon-magnifying-sm;
    }
}

.icon-marker-lg {
    &:before {
        content: $icon-marker-lg;
    }
}

.icon-marker-md {
    &:before {
        content: $icon-marker-md;
    }
}

.icon-marker-sm {
    &:before {
        content: $icon-marker-sm;
    }
}

.icon-mobile-phone-lg {
    &:before {
        content: $icon-mobile-phone-lg;
    }
}

.icon-mobile-phone-md {
    &:before {
        content: $icon-mobile-phone-md;
    }
}

.icon-mobile-phone-sm {
    &:before {
        content: $icon-mobile-phone-sm;
    }
}

.icon-money-lg {
    &:before {
        content: $icon-money-lg;
    }
}

.icon-money-md {
    &:before {
        content: $icon-money-md;
    }
}

.icon-money-sm {
    &:before {
        content: $icon-money-sm;
    }
}

.icon-order-lg {
    &:before {
        content: $icon-order-lg;
    }
}

.icon-order-md {
    &:before {
        content: $icon-order-md;
    }
}

.icon-order-sm {
    &:before {
        content: $icon-order-sm;
    }
}

.icon-paint-lg {
    &:before {
        content: $icon-paint-lg;
    }
}

.icon-paint-md {
    &:before {
        content: $icon-paint-md;
    }
}

.icon-paint-sm {
    &:before {
        content: $icon-paint-sm;
    }
}

.icon-pencil-lg {
    &:before {
        content: $icon-pencil-lg;
    }
}

.icon-pencil-md {
    &:before {
        content: $icon-pencil-md;
    }
}

.icon-pencil-sm {
    &:before {
        content: $icon-pencil-sm;
    }
}

.icon-person-lg {
    &:before {
        content: $icon-person-lg;
    }
}

.icon-person-md {
    &:before {
        content: $icon-person-md;
    }
}

.icon-person-sm {
    &:before {
        content: $icon-person-sm;
    }
}

.icon-phone-lg {
    &:before {
        content: $icon-phone-lg;
    }
}

.icon-phone-md {
    &:before {
        content: $icon-phone-md;
    }
}

.icon-phone-sm {
    &:before {
        content: $icon-phone-sm;
    }
}

.icon-phone2-lg {
    &:before {
        content: $icon-phone2-lg;
    }
}

.icon-phone2-md {
    &:before {
        content: $icon-phone2-md;
    }
}

.icon-phone2-sm {
    &:before {
        content: $icon-phone2-sm;
    }
}

.icon-plus-lg {
    &:before {
        content: $icon-plus-lg;
    }
}

.icon-plus-md {
    &:before {
        content: $icon-plus-md;
    }
}

.icon-plus-sm {
    &:before {
        content: $icon-plus-sm;
    }
}

.icon-puzzle-lg {
    &:before {
        content: $icon-puzzle-lg;
    }
}

.icon-puzzle-md {
    &:before {
        content: $icon-puzzle-md;
    }
}

.icon-puzzle-sm {
    &:before {
        content: $icon-puzzle-sm;
    }
}

.icon-question-lg {
    &:before {
        content: $icon-question-lg;
    }
}

.icon-question-md {
    &:before {
        content: $icon-question-md;
    }
}

.icon-question-sm {
    &:before {
        content: $icon-question-sm;
    }
}

.icon-rows-lg {
    &:before {
        content: $icon-rows-lg;
    }
}

.icon-rows-md {
    &:before {
        content: $icon-rows-md;
    }
}

.icon-rows-sm {
    &:before {
        content: $icon-rows-sm;
    }
}

.icon-share-lg {
    &:before {
        content: $icon-share-lg;
    }
}

.icon-share-md {
    &:before {
        content: $icon-share-md;
    }
}

.icon-share-sm {
    &:before {
        content: $icon-share-sm;
    }
}

.icon-slide-open-lg {
    &:before {
        content: $icon-slide-open-lg;
    }
}

.icon-slide-open-md {
    &:before {
        content: $icon-slide-open-md;
    }
}

.icon-slide-open-sm {
    &:before {
        content: $icon-slide-open-sm;
    }
}

.icon-speaker-lg {
    &:before {
        content: $icon-speaker-lg;
    }
}

.icon-speaker-md {
    &:before {
        content: $icon-speaker-md;
    }
}

.icon-speaker-sm {
    &:before {
        content: $icon-speaker-sm;
    }
}

.icon-speech-lg {
    &:before {
        content: $icon-speech-lg;
    }
}

.icon-speech-md {
    &:before {
        content: $icon-speech-md;
    }
}

.icon-speech-sm {
    &:before {
        content: $icon-speech-sm;
    }
}

.icon-speedo-lg {
    &:before {
        content: $icon-speedo-lg;
    }
}

.icon-speedo-md {
    &:before {
        content: $icon-speedo-md;
    }
}

.icon-speedo-sm {
    &:before {
        content: $icon-speedo-sm;
    }
}

.icon-star-lg {
    &:before {
        content: $icon-star-lg;
    }
}

.icon-star-md {
    &:before {
        content: $icon-star-md;
    }
}

.icon-star-sm {
    &:before {
        content: $icon-star-sm;
    }
}

.icon-switch-lg {
    &:before {
        content: $icon-switch-lg;
    }
}

.icon-switch-md {
    &:before {
        content: $icon-switch-md;
    }
}

.icon-switch-sm {
    &:before {
        content: $icon-switch-sm;
    }
}

.icon-reddit {
    &:before {
        content: $icon-reddit;
    }
}

.icon-tag-lg {
    &:before {
        content: $icon-tag-lg;
    }
}

.icon-tag-md {
    &:before {
        content: $icon-tag-md;
    }
}

.icon-tag-sm {
    &:before {
        content: $icon-tag-sm;
    }
}

.icon-tick-lg {
    &:before {
        content: $icon-tick-lg;
    }
}

.icon-tick-md {
    &:before {
        content: $icon-tick-md;
    }
}

.icon-tick-sm {
    &:before {
        content: $icon-tick-sm;
    }
}

.icon-tickbox-lg {
    &:before {
        content: $icon-tickbox-lg;
    }
}

.icon-tickbox-md {
    &:before {
        content: $icon-tickbox-md;
    }
}

.icon-tickbox-sm {
    &:before {
        content: $icon-tickbox-sm;
    }
}

.icon-unlock-lg {
    &:before {
        content: $icon-unlock-lg;
    }
}

.icon-unlock-md {
    &:before {
        content: $icon-unlock-md;
    }
}

.icon-unlock-sm {
    &:before {
        content: $icon-unlock-sm;
    }
}

.icon-star {
    &:before {
        content: $icon-star;
    }
}

.icon-twitter_sign {
    &:before {
        content: $icon-twitter_sign;
    }
}

.icon-facebook_sign {
    &:before {
        content: $icon-facebook_sign;
    }
}

.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}

.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}

.icon-pinterest {
    &:before {
        content: $icon-pinterest;
    }
}

.icon-pinterest_sign {
    &:before {
        content: $icon-pinterest_sign;
    }
}

.icon-google_plus_sign {
    &:before {
        content: $icon-google_plus_sign;
    }
}

.icon-google_plus {
    &:before {
        content: $icon-google_plus;
    }
}

.icon-youtube_sign {
    &:before {
        content: $icon-youtube_sign;
    }
}

.icon-youtube {
    &:before {
        content: $icon-youtube;
    }
}

.icon-youtube_play {
    &:before {
        content: $icon-youtube_play;
    }
}

.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}

.icon-tumblr {
    &:before {
        content: $icon-tumblr;
    }
}

.icon-tumblr_sign {
    &:before {
        content: $icon-tumblr_sign;
    }
}

.icon-reddit_round {
    &:before {
        content: $icon-reddit_round;
    }
}

.icon-reddit_square {
    &:before {
        content: $icon-reddit_square;
    }
}

.icon-pinterest_icon {
    &:before {
        content: $icon-pinterest_icon;
    }
}

.icon-seat-icon {
    &:before {
        content: $icon-seat-icon;
    }
}

.icon-door-icon {
    &:before {
        content: $icon-door-icon;
    }
}

.icon-drive-icon {
    &:before {
        content: $icon-drive-icon;
    }
}

.icon-fuel-icon {
    &:before {
        content: $icon-fuel-icon;
    }
}

.icon-safety-icon {
    &:before {
        content: $icon-safety-icon;
    }
}





