$csnicon-path: "";

@font-face {
  font-family: 'csnicons';
  src:  url('/fonts/csnicons.eot?exqob2');
  src:  url('/fonts/csnicons.eot?exqob2#iefix') format('embedded-opentype'),
    url('/fonts/csnicons.ttf?exqob2') format('truetype'),
    url('/fonts/csnicons.woff?exqob2') format('woff'),
    url('/fonts/csnicons.svg?exqob2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'csnicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger-lg:before {
  content: "\e900";
}
.icon-arrows-wide-lg:before {
  content: "\e901";
}
.icon-arrows-wide-md:before {
  content: "\e902";
}
.icon-arrows-wide-sm:before {
  content: "\e903";
}
.icon-article-lg:before {
  content: "\e904";
}
.icon-article-md:before {
  content: "\e905";
}
.icon-article-sm:before {
  content: "\e906";
}
.icon-bell-lg:before {
  content: "\e907";
}
.icon-bell-md:before {
  content: "\e908";
}
.icon-bell-sm:before {
  content: "\e909";
}
.icon-bin-lg:before {
  content: "\e90a";
}
.icon-bin-md:before {
  content: "\e90b";
}
.icon-bin-sm:before {
  content: "\e90c";
}
.icon-book-lg:before {
  content: "\e90d";
}
.icon-book-md:before {
  content: "\e90e";
}
.icon-book-sm:before {
  content: "\e90f";
}
.icon-calandar-lg:before {
  content: "\e910";
}
.icon-calandar-md:before {
  content: "\e911";
}
.icon-calandar-sm:before {
  content: "\e912";
}
.icon-camera-lg:before {
  content: "\e913";
}
.icon-camera-md:before {
  content: "\e914";
}
.icon-camera-sm:before {
  content: "\e915";
}
.icon-car-front-lg:before {
  content: "\e916";
}
.icon-car-front-md:before {
  content: "\e917";
}
.icon-car-front-sm:before {
  content: "\e918";
}
.icon-car-side-lg:before {
  content: "\e919";
}
.icon-car-side-md:before {
  content: "\e91a";
}
.icon-car-side-sm:before {
  content: "\e91b";
}
.icon-card-lg:before {
  content: "\e91c";
}
.icon-card-md:before {
  content: "\e91d";
}
.icon-card-sm:before {
  content: "\e91e";
}
.icon-cash-lg:before {
  content: "\e91f";
}
.icon-cash-md:before {
  content: "\e920";
}
.icon-cash-sm:before {
  content: "\e921";
}
.icon-chevron-down-lg:before {
  content: "\e922";
}
.icon-chevron-down-md:before {
  content: "\e923";
}
.icon-chevron-down-sm:before {
  content: "\e924";
}
.icon-chevron-left-lg:before {
  content: "\e925";
}
.icon-chevron-left-md:before {
  content: "\e926";
}
.icon-chevron-left-sm:before {
  content: "\e927";
}
.icon-chevron-right-lg:before {
  content: "\e928";
}
.icon-chevron-right-md:before {
  content: "\e929";
}
.icon-chevron-right-sm:before {
  content: "\e92a";
}
.icon-chevron-up-lg:before {
  content: "\e92b";
}
.icon-chevron-up-md:before {
  content: "\e92c";
}
.icon-chevron-up-sm:before {
  content: "\e92d";
}
.icon-circle-cross-lg:before {
  content: "\e92e";
}
.icon-circle-cross-md:before {
  content: "\e92f";
}
.icon-circle-cross-sm:before {
  content: "\e930";
}
.icon-circle-left-lg:before {
  content: "\e931";
}
.icon-circle-left-md:before {
  content: "\e932";
}
.icon-circle-left-sm:before {
  content: "\e933";
}
.icon-circle-minus-lg:before {
  content: "\e934";
}
.icon-circle-minus-md:before {
  content: "\e935";
}
.icon-circle-minus-sm:before {
  content: "\e936";
}
.icon-circle-play-lg:before {
  content: "\e937";
}
.icon-circle-play-md:before {
  content: "\e938";
}
.icon-circle-play-sm:before {
  content: "\e939";
}
.icon-circle-plus-lg:before {
  content: "\e93a";
}
.icon-circle-plus-md:before {
  content: "\e93b";
}
.icon-circle-plus-sm:before {
  content: "\e93c";
}
.icon-circle-right-lg:before {
  content: "\e93d";
}
.icon-circle-right-md:before {
  content: "\e93e";
}
.icon-circle-right-sm:before {
  content: "\e93f";
}
.icon-cirlce-right-lg:before {
  content: "\e940";
}
.icon-cirlce-right-md:before {
  content: "\e941";
}
.icon-clock-lg:before {
  content: "\e942";
}
.icon-clock-md:before {
  content: "\e943";
}
.icon-clock-sm:before {
  content: "\e944";
}
.icon-cog-lg:before {
  content: "\e945";
}
.icon-uniE946:before {
  content: "\e946";
}
.icon-uniE947:before {
  content: "\e947";
}
.icon-uniE948:before {
  content: "\e948";
}
.icon-uniE949:before {
  content: "\e949";
}
.icon-computer-lg:before {
  content: "\e94a";
}
.icon-computer-md:before {
  content: "\e94b";
}
.icon-computer-sm:before {
  content: "\e94c";
}
.icon-cross-lg:before {
  content: "\e94d";
}
.icon-cross-md:before {
  content: "\e94e";
}
.icon-cross-sm:before {
  content: "\e94f";
}
.icon-cycle-lg:before {
  content: "\e950";
}
.icon-cycle-md:before {
  content: "\e951";
}
.icon-cycle-sm:before {
  content: "\e952";
}
.icon-ellipse-lg:before {
  content: "\e953";
}
.icon-ellipse-md:before {
  content: "\e954";
}
.icon-ellipse-sm:before {
  content: "\e955";
}
.icon-engine-lg:before {
  content: "\e956";
}
.icon-engine-md:before {
  content: "\e957";
}
.icon-engine-sm:before {
  content: "\e958";
}
.icon-envelope-lg:before {
  content: "\e959";
}
.icon-envelope-md:before {
  content: "\e95a";
}
.icon-envelope-sm:before {
  content: "\e95b";
}
.icon-eye-lg:before {
  content: "\e95c";
}
.icon-eye-md:before {
  content: "\e95d";
}
.icon-eye-sm:before {
  content: "\e95e";
}
.icon-folder-find-lg:before {
  content: "\e95f";
}
.icon-folder-find-md:before {
  content: "\e960";
}
.icon-folder-find-sm:before {
  content: "\e961";
}
.icon-gear-lg:before {
  content: "\e962";
}
.icon-gear-md:before {
  content: "\e963";
}
.icon-gear-sm:before {
  content: "\e964";
}
.icon-hamburger-lg2:before {
  content: "\e965";
}
.icon-hamburger-md:before {
  content: "\e966";
}
.icon-hamburger-sm:before {
  content: "\e967";
}
.icon-hand-front-lg:before {
  content: "\e968";
}
.icon-hand-front-md:before {
  content: "\e969";
}
.icon-hand-front-sm:before {
  content: "\e96a";
}
.icon-handup-lg:before {
  content: "\e96b";
}
.icon-handup-md:before {
  content: "\e96c";
}
.icon-handup-sm:before {
  content: "\e96d";
}
.icon-heart-lg:before {
  content: "\e96e";
}
.icon-heart-md:before {
  content: "\e96f";
}
.icon-heart-minus-lg:before {
  content: "\e970";
}
.icon-heart-minus-md:before {
  content: "\e971";
}
.icon-heart-minus-sm:before {
  content: "\e972";
}
.icon-heart-plus-lg:before {
  content: "\e973";
}
.icon-heart-plus-md:before {
  content: "\e974";
}
.icon-heart-plus-sm:before {
  content: "\e975";
}
.icon-heart-sm:before {
  content: "\e976";
}
.icon-house-lg:before {
  content: "\e977";
}
.icon-house-md:before {
  content: "\e978";
}
.icon-house-sm:before {
  content: "\e979";
}
.icon-image-lg:before {
  content: "\e97a";
}
.icon-image-md:before {
  content: "\e97b";
}
.icon-image-sm:before {
  content: "\e97c";
}
.icon-inbox-lg:before {
  content: "\e97d";
}
.icon-inbox-md:before {
  content: "\e97e";
}
.icon-inbox-sm:before {
  content: "\e97f";
}
.icon-information-lg:before {
  content: "\e980";
}
.icon-information-md:before {
  content: "\e981";
}
.icon-information-sm:before {
  content: "\e982";
}
.icon-laptop-lg:before {
  content: "\e983";
}
.icon-laptop-md:before {
  content: "\e984";
}
.icon-laptop-sm:before {
  content: "\e985";
}
.icon-list-lg:before {
  content: "\e986";
}
.icon-list-md:before {
  content: "\e987";
}
.icon-list-sm:before {
  content: "\e988";
}
.icon-lock-lg:before {
  content: "\e989";
}
.icon-lock-md:before {
  content: "\e98a";
}
.icon-lock-sm:before {
  content: "\e98b";
}
.icon-magnifying-lg:before {
  content: "\e98c";
}
.icon-magnifying-md:before {
  content: "\e98d";
}
.icon-magnifying-sm:before {
  content: "\e98e";
}
.icon-marker-lg:before {
  content: "\e98f";
}
.icon-marker-md:before {
  content: "\e990";
}
.icon-marker-sm:before {
  content: "\e991";
}
.icon-mobile-phone-lg:before {
  content: "\e992";
}
.icon-mobile-phone-md:before {
  content: "\e993";
}
.icon-mobile-phone-sm:before {
  content: "\e994";
}
.icon-money-lg:before {
  content: "\e995";
}
.icon-money-md:before {
  content: "\e996";
}
.icon-money-sm:before {
  content: "\e997";
}
.icon-order-lg:before {
  content: "\e998";
}
.icon-order-md:before {
  content: "\e999";
}
.icon-order-sm:before {
  content: "\e99a";
}
.icon-paint-lg:before {
  content: "\e99b";
}
.icon-paint-md:before {
  content: "\e99c";
}
.icon-paint-sm:before {
  content: "\e99d";
}
.icon-pencil-lg:before {
  content: "\e99e";
}
.icon-pencil-md:before {
  content: "\e99f";
}
.icon-pencil-sm:before {
  content: "\e9a0";
}
.icon-person-lg:before {
  content: "\e9a1";
}
.icon-person-md:before {
  content: "\e9a2";
}
.icon-person-sm:before {
  content: "\e9a3";
}
.icon-phone-lg:before {
  content: "\e9a4";
}
.icon-phone-md:before {
  content: "\e9a5";
}
.icon-phone-sm:before {
  content: "\e9a6";
}
.icon-phone2-lg:before {
  content: "\e9a7";
}
.icon-phone2-md:before {
  content: "\e9a8";
}
.icon-phone2-sm:before {
  content: "\e9a9";
}
.icon-plus-lg:before {
  content: "\e9aa";
}
.icon-plus-md:before {
  content: "\e9ab";
}
.icon-plus-sm:before {
  content: "\e9ac";
}
.icon-puzzle-lg:before {
  content: "\e9ad";
}
.icon-puzzle-md:before {
  content: "\e9ae";
}
.icon-puzzle-sm:before {
  content: "\e9af";
}
.icon-question-lg:before {
  content: "\e9b0";
}
.icon-question-md:before {
  content: "\e9b1";
}
.icon-question-sm:before {
  content: "\e9b2";
}
.icon-rows-lg:before {
  content: "\e9b3";
}
.icon-rows-md:before {
  content: "\e9b4";
}
.icon-rows-sm:before {
  content: "\e9b5";
}
.icon-share-lg:before {
  content: "\e9b6";
}
.icon-share-md:before {
  content: "\e9b7";
}
.icon-share-sm:before {
  content: "\e9b8";
}
.icon-slide-open-lg:before {
  content: "\e9b9";
}
.icon-slide-open-md:before {
  content: "\e9ba";
}
.icon-slide-open-sm:before {
  content: "\e9bb";
}
.icon-speaker-lg:before {
  content: "\e9bc";
}
.icon-speaker-md:before {
  content: "\e9bd";
}
.icon-speaker-sm:before {
  content: "\e9be";
}
.icon-speech-lg:before {
  content: "\e9bf";
}
.icon-speech-md:before {
  content: "\e9c0";
}
.icon-speech-sm:before {
  content: "\e9c1";
}
.icon-speedo-lg:before {
  content: "\e9c2";
}
.icon-speedo-md:before {
  content: "\e9c3";
}
.icon-speedo-sm:before {
  content: "\e9c4";
}
.icon-star-lg:before {
  content: "\e9c5";
}
.icon-star-md:before {
  content: "\e9c6";
}
.icon-star-sm:before {
  content: "\e9c7";
}
.icon-switch-lg:before {
  content: "\e9c8";
}
.icon-switch-md:before {
  content: "\e9c9";
}
.icon-switch-sm:before {
  content: "\e9ca";
}
.icon-tag-lg:before {
  content: "\e9cc";
}
.icon-tag-md:before {
  content: "\e9cd";
}
.icon-tag-sm:before {
  content: "\e9ce";
}
.icon-tick-lg:before {
  content: "\e9cf";
}
.icon-tick-md:before {
  content: "\e9d0";
}
.icon-tick-sm:before {
  content: "\e9d1";
}
.icon-tickbox-lg:before {
  content: "\e9d2";
}
.icon-tickbox-md:before {
  content: "\e9d3";
}
.icon-tickbox-sm:before {
  content: "\e9d4";
}
.icon-unlock-lg:before {
  content: "\e9d5";
}
.icon-unlock-md:before {
  content: "\e9d6";
}
.icon-unlock-sm:before {
  content: "\e9d7";
}

