._c-modal {
    /* dimensions: spanning the background from edge to edge */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647; /* z-index needs to be >= elements on the site. */
    /* position: centering content */
    text-align: center;
    /* styling */
    cursor: pointer;
    background-color: #333;
    /* IE8 "hack" for nested _c-modals */
    background-color: rgba(0, 0, 0, 0.8);

    &[data-is-active="false"] {
        display: none;
    }

    &.loading {
        background-image: url($spinner--light);
        background-size: 200px 200px;
        background-position: center;
        background-repeat: no-repeat;
    }

    ._c-modal__close {
        /* position: centering vertical and horizontal */
        @extend %clearfix;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
        width: 72px;
        height: 72px;
        border-radius: 36px;
        border: 0;
        background-color: transparent;
        outline: 0;
        cursor: pointer;
        font-size: 0;

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            text-indent: 0;
            font-family: $font-family-icons;
            content: $icon-cross-lg;
            text-indent: 0;
            color: $cs-white;
            line-height: 66px;
            font-size: 44px;
        }
    }
}

._c-modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: calc(100vw - 160px);

}

@include modal("csn-modal");


