@model Csn.Retail.Editorial.Web.Features.Listings.Models.ListingsViewModel

<div class="wrapper--aside">
    <div class="aside ">
        <!-- Aside Section -->
        @{ Html.RenderPartial("~/Features/MediaMotiveAds/Views/_Mrec.cshtml"); }
        @{ Html.RenderPartial("~/Features/MediaMotiveAds/Views/_SponsoredLink.cshtml", Model); }
    </div>
</div>