@using Csn.Retail.Editorial.Web.Features.DisplayAds

<div class="wrapper--aside">
    <div class="aside ">
        <!-- Aside Section -->
        @{
            Html.RenderAction("Index", "DisplayAds", new DisplayAdsQuery() { AdType = DisplayAdsTypes.Aside } );
        }
    </div>
</div>