@using Csn.Retail.Editorial.Web.Features.MediaMotiveAds
@using Csn.Retail.Editorial.Web.Features.MediaMotiveAds.HtmlHelpers
@using Csn.Retail.Editorial.Web.Features.Shared.HtmlHelpers

<div class="wrapper--aside">
    <div class="aside ">
        <!-- Aside Section -->
        
        @if(Html.CurrentTenant().AdSource == "MediaMotive") {
            // MREC
            Html.RenderMediaMotiveAd(new MediaMotiveAdQuery() { AdSize = AdSize.MediumOrLargeRectangle, TileId = 3 });
        }

        @if (Html.CurrentTenant().AdSource == "GoogleAd")
        {
            <div id="div-gpt-ad-1468849624568-8" class="mediamotive-block mediamotive-mrec"></div>
        }
    </div>
</div>