@using Csn.Retail.Editorial.Web.Features.DisplayAds
@using Csn.Retail.Editorial.Web.Features.DisplayAds.HtmlHelpers

<div class="wrapper--aside">
    <div class="aside ">
        <!-- Aside Section -->
        @{
            Html.RenderDisplayAd(DisplayAdPlacements.ListingsAside);
        }
    </div>
</div>