@import "css/_globals.scss";

.iNavSearchResult {
    $spacing: 15px;

    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacing;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    & > a {
        position: relative;

        &:hover,
        &:visited,
        &:focus {
            text-decoration: none;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(194, 194, 194, 0.8);
        transition: opacity 0.3s ease-in-out;
    }

    &:hover::before {
        opacity: 1;
    }

    &__image-frame {
        padding-top: percentage((2/3)) - 1; // HAck becasue a 1 pixel line is showing b/c there may difference b/w aspect ratio from the browser and image
        position: relative;
        overflow: hidden;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &__image-label {
        border-radius: $cs-border-radius--small;
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: $font-size-small;
        line-height: 30px;
        color: $cs-white;
        padding: 0 15px;
        text-transform: uppercase;

        &--Sponsored {
            background-color: $cs-sponsored-green;
        }

        &--Promoted {
            background-color: $cs-purple;
        }

        &--Carpool {
            background-color: $cs-carpool-blue;
        }
    }

    &__image {
        @include img-responsive();
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__image-loader {
        background-color: $cs-white;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            background-color: rgba($cs-white, 0.7);
            background-image: url($spinner--dark);
            background-size: 200px 200px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__content-wrapper {
        @include clearfix;
        background-color: $cs-white;
        padding: 15px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        position: relative;

        a {
            text-decoration: none;
        }
    }

    &__heading {
        $heading-line-height: 1.3;
        $heading-height: $heading-line-height * 2;

        font-size: 20px;
        font-weight: $font-weight-600;
        line-height: $heading-line-height;
        color: $cs-dark-grey-2;
        height: $heading-height * 1em;
        overflow: hidden;
        margin-bottom: 10px;

        & > *:first-child {
            float: right;
            width: 100%;
            margin-left: -5px;
            line-height: $heading-line-height;
            font-weight: $font-weight-600;
        }

        &::before {
            content: "";
            float: left;
            width: 5px;
            height: $heading-height * 1em;
        }

        &::after {
            content: "\02026";
            box-sizing: content-box;
            float: right;
            position: relative;
            top: -1*$heading-line-height * 1em;
            left: 100%;
            width: 25%;
            margin-left: -25%;
            padding-right: 0px;
            padding-left: 5px;
            text-align: left;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white 5%, white);
        }
    }

    &__sub-heading {
        $subheading-line-height: 1.43;
        $subheading-height: $subheading-line-height * 2;


        font-size: 14px;
        font-weight: $font-weight-400;
        line-height: $subheading-line-height;
        color: $cs-light-grey-8;
        height: $subheading-height * 1em;
        overflow: hidden;

        & > *:first-child {
            float: right;
            width: 100%;
            margin-left: -5px;
            line-height: $subheading-line-height;
        }

        &::before {
            content: "";
            float: left;
            width: 5px;
            height: $subheading-height * 1em;
        }

        &::after {
            content: "\02026";
            box-sizing: content-box;
            float: right;
            position: relative;
            top: -1*$subheading-line-height * 1em;
            left: 100%;
            width: 15%;
            margin-left: -15%;
            padding-right: 0px;
            padding-left: 5px;
            text-align: left;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white 10%, white);
        }
    }

    &__date {
        font-size: 12px;
        margin-top: 15px;
        color: $cs-light-grey-8;
        float: left;
    }

    &__comment-count {
        font-size: 12px;
        margin-top: 15px;
        color: $cs-light-grey-8;
        float: right;

        &::before {
            content: $icon-speech-lg;
            font-family: $font-family-icons;
            margin-right: 5px;
        }

        &:hover,
        &:visited,
        &:focus {
            color: $cs-light-grey-8;
            text-decoration: none;
        }
    }

    &__type {
        font-size: 12px;
        font-weight: $font-weight-600;
        margin-top: 5px;
        margin-bottom: 10px;

        &--review,
        &--las-mejores-compras,
        &--lanzamientos {
            color: $cs-light-blue;
        }

        &--sponsored {
            color: $cs-sponsored-green;
        }

        &--advice,
        &--car-advice,
        &--compra-de-auto,
        &--educación-vial {
            color: $cs-accent-green;
        }

        &--video,
        &--comparativas,
        &--trámites {
            color: $cs-orange;
        }

        &--news,
        &--actualidad {
            color: $cs-red;
        }

        &--comparison {
            color: $cs-purple;
        }

        &--feature,
        &--consejos {
            color: $cs-pink;
        }

        &--pruebas, 
        &--test-drive,
        &--test-drives {
            color: $cs-carpool-blue;
        }
    }
}