// Page - Details

// ---------------------------------------------------------------------------
// Globals
@import "css/_globals.scss";

// ---------------------------------------------------------------------------
// Details Modules
@import "./modules/Hero/_hero.scss";
@import "./modules/Hero/_heroSlider.scss";
@import "./modules/Hero/_heroModalSlider.scss";
@import "./modules/Content/_article.scss";
@import "./modules/content/_aside.scss";
@import "./modules/content/_author.scss";
@import "./modules/content/ltm.scss";
@import "./modules/content/table";

// Module - Media Motive
@import "css/modules/MediaMotive/_mediamotive.scss";

// Module - Social Share
@import "css/modules/_share-social.scss";

// Module - Modal
@import "Js/modules/modal/modal.scss";

// Module - More Articles
@import 'Css/Modules/Widgets/MoreArticles/_moreArticles.scss';

// Footer overwrites
footer {
    padding-bottom: 112px;

    // Overwrite Brightcove row style
    .container .row {
        padding: 0;
        float: none;
    }
}