@using Newtonsoft.Json
@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel


@if (Model.MoreArticleData != null && Model.MoreArticleData.MoreArticleItems.Any())
{
    <script>
        var csn_editorial = csn_editorial || {};
        csn_editorial.moreArticles = @Html.Raw(JsonConvert.SerializeObject(Model.MoreArticleData)) || null;
    </script>
    <div class="more-articles-placeholder"></div>
}