@using Newtonsoft.Json
@model Csn.Retail.Editorial.Web.Features.Shared.Models.MoreArticleData


@if (Model != null && Model.Filters.Any())
{
    <script>
        var csn_editorial = csn_editorial || {};
        csn_editorial.moreArticles = @Html.Raw(JsonConvert.SerializeObject(Model)) || null;
    </script>
    <div class="more-articles-placeholder"></div>
}