// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #FF6400;


// Logo
$logo-header: 'images/equipmentsales/logo-equipmentsales.svg';
$logo-header-width: 160px; // max width - leaderboard
$logo-header-height: 70px;