// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #FF6400;


// Logo
$logo-header: 'images/equipmentsales/logo-equipmentsales.svg';
$logo-header-width: 235px; // max width = width(992) - leaderboard(728) - padding(30)
$logo-header-height: 90px; // hieght limits width b/c aspect ratio