@mixin cf {
    content:"";
    display:block;
    clear:both;
}


// Responsive image
//
// Keep images from scaling beyond the width of their parents.
@mixin img-responsive($display: block) {
    display: $display;
    width: 100%;
    max-width: 100%;
    height: auto;
}

//find matching height across different aspect ratios
//w' + w" + w'" = t @ t =1
@function  matchingAspectRatioHeight($aspectRatio, $aspectRatioList) {

        $ratio : 0;

        @each $i in $aspectRatioList {
            $ratio : $ratio  + $i;
        }

        @return  ($aspectRatio)* (1/$ratio)
}

// Convert px to em
@function pxtoem($target, $context) {
    @return ($target/$context)+0em;
}
// Convert em to px
@function emtopx($target, $context) {
    @return ($target*$context)+0px;
}

@function pow($number, $exponent) {
    $value: 1;

    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $number;
        }
    }
    @else if $exponent < 0 {
        @for $i from 1 through -$exponent {
            $value: $value / $number;
        }
    }

    @return $value;
}

// Type Scale
@function typeScale($scale, $i) {
    @return (1e3 * (pow($scale, $i))) / 1e3;
}

// Links
@mixin link($color: $cs-dark-blue, $hover: $cs-dark-blue, $visited: $cs-dark-blue, $active: $cs-dark-blue, $focus: $cs-dark-blue) {
    color: $color;

    &:hover {
        color: $hover;
    }

    &:visited {
        color: $visited;
    }

    &:active {
        color: $active;
    }

    &:focus {
        color: $focus;
    }
}

//Modal
@import "mixin-modal";