// Brightcove Video Player

.brightcove {
    display: block;
    position: relative;
    background-color: $cs-dark-grey-3;

    .brightcove__video-wrapper {
        padding-top: percentage(9/16); // 16:9
        .hero-single-video,
        .hero-video,
        .inline-video {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
        }

        video.video-js.hero-single-video,
        video.video-js.hero-video,
        video.video-js.inline-video {
            visibility: hidden;
        }
    }
}
