// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #FFA421;

// Logo
$logo-header : 'Images/Constructionsales/logo-constructionsales.svg';
$logo-header-width: 235px; // max width = width(992) - leaderboard(728) - padding(30)
$logo-header-height: 90px; // hieght limits width b/c aspect ratio

$logo-header--transparent: 'images/constructionsales/logo-constructionsales--white.svg';
$logo-header-width--transparent: 103px;
$logo-header-height--transparent: 40px; 