@{
/*using Csn.Retail.Editorial.Web.Features.MediaMotiveAds
@using Csn.Retail.Editorial.Web.Features.MediaMotiveAds.HtmlHelpers
@model Csn.Retail.Editorial.Web.Features.Listings.Models.ListingsViewModel

@if (Model.ShowSponsoredLinks)
{
    <div class="sponsored-text-links">
        <div class="sponsored-text-links__title">Sponsored Links</div>
        <div class="sponsored-text-links__ads">
            @{ Html.RenderMediaMotiveAd(new MediaMotiveAdQuery() { AdSize = AdSize.SponsoredLink, TileId = 9 }); }
            @{ Html.RenderMediaMotiveAd(new MediaMotiveAdQuery() { AdSize = AdSize.SponsoredLink, TileId = 10 }); }
            @{ Html.RenderMediaMotiveAd(new MediaMotiveAdQuery() { AdSize = AdSize.SponsoredLink, TileId = 11 }); }
            @{ Html.RenderMediaMotiveAd(new MediaMotiveAdQuery() { AdSize = AdSize.SponsoredLink, TileId = 12 }); }
            @{ Html.RenderMediaMotiveAd(new MediaMotiveAdQuery() { AdSize = AdSize.SponsoredLink, TileId = 13 }); }
        </div>
    </div>
}

This file should be deleted.

*/
