$spinner--dark: 'https://editorial.csnstatic.com/desktop/images/shared/spinner-dark.svg';
$spinner--light: 'https://editorial.csnstatic.com/desktop/images/shared/spinner-light.svg';
$image--mouse-scroll: 'https://editorial.csnstatic.com/desktop/images/shared/mouse-scroll.png';
$image--arrow-down: 'https://editorial.csnstatic.com/desktop/images/shared/arrow-down-shape.png';
