$spinner--dark: 'Images/Shared/spinner-dark.svg';
$spinner--light: 'Images/Shared/spinner-light.svg';
$image--mouse-scroll: 'images/shared/mouse-scroll.png';
$image--arrow-down: 'images/shared/arrow-down-shape.png';