@import "css/_globals.scss";
@import "iNav/Css/iNav.variables";

.iNavArticleCount {
    @include h4();
    line-height: $iNav-sort-height;
    margin-top: 30px;
    margin-bottom: 35px;
    display: inline-block;
    max-width: calc(100% - #{$iNav-sort-width} - #{$grid-gutter-width});

    @include breakpoint($screen-lg) {
        margin-top: 45px;
        margin-bottom: 45px;
        
    }
}

.noResults {
    $spacing: 20px;
    
    &__message {
        @include h4();
        line-height: $spacing;
        margin-top: 40px;
        margin-bottom: $spacing;
    }

    &__instructionMessage {
        font-size: $font-size-body;
        margin-top: $spacing;
        margin-bottom: $spacing;
    }
}