@import "css/_globals.scss";
@import "iNav/Css/iNav.variables";

.iNavArticleCount {
    $spacing: 20px;
    @include h4();
    line-height: $spacing;
    margin-top: 40px;
    margin-bottom: 45px;
    display: inline-block;
    max-width: calc(100% - #{$iNav-sort-width} - #{$grid-gutter-width});
}

.noResults {

    &__message {
        $spacing: 20px;
        @include h4();
        line-height: $spacing;
        margin-top: 40px;
        margin-bottom: $spacing;
    }

    &__instructionMessage {
        $spacing: 20px;
        font-size: $font-size-body;
        margin-top: $spacing;
        margin-bottom: $spacing;
    }
}