@import "css/_globals.scss";

.iNavArticleCount {
    $spacing: 20px;
    @include h4();
    line-height: $spacing;
    margin-top: 40px;
    margin-bottom: 45px;
}

.noResults {

    &__message {
        $spacing: 20px;
        @include h4();
        line-height: $spacing;
        margin-top: 40px;
        margin-bottom: $spacing;
    }

    &__instructionMessage {
        $spacing: 20px;
        font-size: $font-size-body;
        margin-top: $spacing;
        margin-bottom: $spacing;
    }
}