@import "css/_globals.scss";

.csn-carousel {
    position: relative;

    &__info-bar {
        position: relative;
    }

    &__title {
        font-family: $font-family-default;
        font-size: 32px;
        font-weight: $font-weight-600;
        color: $cs-dark-grey-2;
        margin-bottom: 20px;
        margin-top: 40px;

        & > a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__link {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;
        text-decoration: none;
        margin-right: 20px;

        &:hover,
        &:visited,
        &:focus {
            text-decoration: none;
        }
    }

    &__container {
        position: relative;
    }

    &--mrec {
        .csn-carousel__link {
            right: 370px;
        }

        .csn-carousel__placeholder {
            width: calc(100% - 370px);
            display: inline-block;
            vertical-align: middle;
        }

        .mediamotive-mrec {
            display: inline-block;
            vertical-align: middle;
            margin: auto 15px auto;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0,-50%);
        }
    }
}

.csn-carousel__placeholder--driver {
    margin-top: 80px;
}

