// ---------------------------------------------------------------------------
// Globals
@import "css/_globals.scss";

.article-disclaimer {
    font-size: $font-size-smaller;
    color: $cs-light-grey-2;

    &__heading {
        font-weight: bold;
    }
}