@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers

<div class="_c-modal" role="dialog" data-ajax-modal data-is-active="false">
    <button class="_c-modal__close" type="button">close</button>
    <div class="_c-modal__content">
        <div class="_c-modal__header">
        </div>
        <div class="_c-modal__inner">
        </div>
        <div class="_c-spinner" data-spinner data-is-active><span class="_c-spinner__icon">loading</span></div>
    </div>
</div>
