@model Csn.Retail.Editorial.Web.Features.DisplayAds.GoogleAd.Models.GoogleAdViewModel

<div id="@Model.AdSlotId"
     data-ad-network-code="@Model.AdNetworkCode"
     data-ad-unit-id="@Model.AdUnitId"
     data-ad-dimensions="@Model.Dimensions"
     class="googlead-block googlead-@Model.Description.ToLower()">
</div>