/* Application Breakpoints */

$screen-xs:                             480px;      // mobile landscape
$screen-sm:                             768px;      // tablet
$screen-md:                             992px;      // small desktop / labtop
$screen-lg:                             1200px;     // normal desktop
$screen-xl:                             1600px;     //
$screen-hd:                             1920px;     // full hd
$screen-xxl:                            2560px;     // imac screen


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

//** For `$screen-sm-min` and up.
$container-sm:                $screen-sm;

//** For `$screen-md-min` and up.
$container-md:                 $screen-md;

//** For `$screen-lg-min` and up.
$container-lg:                 $screen-lg;
