<div class="container">
    <div class="article-disclaimer">
        <h3 class="article-disclaimer__heading">Disclaimer</h3>
        <p>In most cases, motoring.com.au attends new vehicle launches at the invitation and expense of vehicle manufacturers and/or distributors.</p>
        <p>Editorial prices shown are a "price guide" only, based on information provided to us by the manufacturer. Pricing current at the time of writing editorial. Pricing prior to editorial dated 25 May 2009 may refer to RRP. Due to Clarity on Pricing legislation, RRP for those editorials now means "price guide". When purchasing a car, always confirm the single figure price with the seller of an actual vehicle.</p>
        <p>If the price does not contain the notation that it is "Drive Away No More to Pay", the price may not include additional costs, such as stamp duty and other government charges. Please confirm price and features with the seller of the vehicle.</p>
        <p>Opinions expressed with motoring.com.au editorial material are those of the writer and not necessarily Carsales.com Ltd. motoring.com.au editorial staff and contributors attend overseas and local events as guests of car manufacturers and importers.</p>
        <p>Click <a href="/info/terms-conditions/">here</a> for further information about our Terms & Conditions.</p>
    </div>
</div>
