@import "css/globals";

.article {
    padding-top: 30px;
    padding-right: 0;
    position: relative;
    float: left;
    width: calc(100% - (300px + 15px));

    @include breakpoint($screen-lg) {
        padding-top: 45px;
        padding-right: 15px;
    }

    .cf:after {
        @include cf;
    }

    .pos-r {
        position: relative;
    }

    &__heading {
        @include h1();
        color: $cs-black;
    }

    &__subheading {
        @include h2();
        margin-top: 0.5em;

        @include breakpoint($screen-lg) {
            margin-top: 1em;
        }
    }

    &__summary {
        color: $cs-light-grey-1;

        p {
            margin-top: 1.25em;
            @include rundown-text();
        }

        & > div {
            margin: 0;
        }
    }

    &__copy {
        color: $cs-light-grey-5;
        @include p();

        & > h1 {
            color: $cs-black;
        }

        & > h2, & > h3, & > h4, & > h5, & > h6 {
            color: $cs-dark-grey-2;
        }

        & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
            margin-top: 40px;
        }

        & > h1 {
            @include h1();
        }

        & > h2 {
            @include h2();
        }

        & > h3 {
            @include h3();
        }

        & > h4 {
            @include h4();
        }

        & > h5 {
            @include h4();
        }

        & > h6 {
            @include h4();
        }

        & > p {
            margin-top: 1.25em;
            @include p();

            strong {
                color: $cs-dark-grey-2;
            }
        }

        & > div {
            margin: 0;
        }

        ul {
            list-style-type: disc;
            margin-bottom: 0;
            padding-left: 1.5em;

            li {
                display: list-item;
            }
        }

        .teads-inread,
        .brightcove,
        .spec-module {
            margin-top: 1.25em !important;
            font-size: 20px;
        }
    }

    &__img {
        width: 100%;
        margin-top: 1.25em;
        @include p();
    }

    &__img-caption {
        font-size: $font-size-small;
        line-height: normal;
        margin: 7px auto;
        text-align: center;
        color: $cs-dark-grey-1;
    }

    &__type {
        @include button((round:true));
        color: $cs-white;
        display: inline-block;
        float: left;
        font-weight: 600;
        margin-bottom: 15px;
        text-transform: uppercase;

        @include breakpoint($screen-lg) {
            margin-bottom: 30px;
        }

        &--review {
            background-color: $cs-light-blue;
        }

        &--sponsored {
            background-color: $cs-sponsored-green;
            cursor: pointer;

            &::after {
                color: $cs-white;
                content: $icon-info-icon;
                font-family: $font-family-icons;
                font-size: 14px;
                margin-left: 3px;
            }
        }

        &--car-advice,
        &--riding-advice {
            background-color: $cs-accent-green;
        }

        &--video {
            background-color: $cs-orange;
        }

        &--news {
            background-color: $cs-red;
        }

        &--comparison {
            background-color: $cs-purple;
        }

        &--feature {
            background-color: $cs-pink;
        }

        &--motoracing {
            background-color: $cs-dark-grey-1;
        }
    }

    &__date {
        font-size: $font-size-small;
        display: inline-block;
        float: left;
        padding: 0 25px;
        line-height: 31px;
        color: $cs-light-grey-1;
        margin-bottom: 15px;

        @include breakpoint($screen-lg) {
            margin-bottom: 30px;
        }
    }

    &__dateAndTypeContainer {
        float: left;
    }

    &__share {
        &--top {
            float: right;
            margin-bottom: 5px;

            @include breakpoint($screen-lg) {
                margin-bottom: 20px;
            }

            .share-social__link {
                margin-top: -7.5px;
            }
        }

        &--bottom {
            margin-top: 35px;
        }
    }

    &__pricing {
        margin-top: 1em;
        display: inline-block;

        &-label {
            cursor: pointer;
            color: $cs-light-grey-1;
            font-size: $font-size-small;

            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
            }
        }

        &-price {
            @include h2();
        }
    }

    &__promotion {

        @if($article-promoted-image != "") {
            @include article-promoted-image();
        }
    }


    &__quote {
        @include blockquote();
        padding: 0 7.5%;
        color: $cs-black;
        margin-top: 1.25rem;
    }

    &__authors {
        border-radius: 6px;
        border: solid 1px $cs-light-grey-2;
        padding: 31px 40px;
        margin-top: 35px;
    }
}


// Single Image
.article-type--singleimage,
.article-type--doubleimage,
.article-type--video {
    position: relative;
    width: $screen-sm;
    margin: auto;

    @include breakpoint($screen-lg) {
        width: $screen-lg;
    }

    .aside {
        position: absolute;
        top: 0;
        padding-top: 0;
        left: calc(100% - (300px + 30px));
    }

    ._c-modal .slideshow__nav {
        display: none;
    }
}

.article-type--singleimage,
.article-type--doubleimage {
    .article {
        &__heading {
            position: absolute;
            top: 0;
            transform: translateY(-100%);
            padding: 150px 30px 25px 30px;
            color: $cs-white;
            width: 100%;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(252,252,252,0) 1%,rgba(0,0,0,0.85) 100%);
            z-index: 1;
            pointer-events: none;

            @include breakpoint($screen-lg) {
                width: calc(100% - 15px);
            }
        }

        &__subheading {
            margin-top: 0;
        }

        &__pricing {
            margin-bottom: 31px;
        }
    }
}


// Drop Cap
.article {
    &.review {
        .article__copy.drop-cap {
            &>p:first-child:first-letter {
                color: $cs-light-blue;
            }
        }
    }

    &.car-advice,&.riding-advice {
        .article__copy.drop-cap {
            &>p:first-child:first-letter {
                color: $cs-accent-green;
            }
        }
    }

    &.video {
        .article__copy.drop-cap {
            &>p:first-child:first-letter {
                color: $cs-orange;
            }
        }
    }

    &.news {
        .article__copy.drop-cap {
            &>p:first-child:first-letter {
                color: $cs-red;
            }
        }
    }

    &.comparison {
        .article__copy.drop-cap {
            &>p:first-child:first-letter {
                color: $cs-purple;
            }
        }
    }

    &.feature {
        .article__copy.drop-cap {
            &>p:first-child:first-letter {
                color: $cs-pink;
            }
        }
    }

    &__copy.drop-cap {
        &>p:first-child::after {
            @extend %clearfix;
        }

        &>p:first-child:first-letter {
            @include drop-cap-paragraph();
        }
    }
}

.article-disclaimer {
    font-size: $font-size-smaller;
    color: $cs-light-grey-2;

    &__heading {
        font-weight: bold;
    }
}