@import "css/globals";


// All Article types other than wide
.article-type:not(.article-type--wideimage) {

    $aside-width: 300px;
    $spacing: 30px;

    font-size: 0;

    .article {
        left: calc(50% - ((#{$aside-width} + #{$spacing})/2));
        display: inline-block;
        vertical-align: top;
        transform: translate(-50%);

        & .container {
            padding-left: 0;
            padding-right: 0;
            width: calc(#{$screen-md} - #{$aside-width} - #{$spacing*2});

            @include breakpoint($screen-lg) {
                width: calc(#{$screen-lg} - #{$aside-width} - #{$spacing*2});
            }
        }
    }
}

.article {
    padding-top: 30px;
    position: relative;

    @include breakpoint($screen-lg) {
        padding-top: 45px;
    }

    .cf:after {
        @include cf;
    }

    .pos-r {
        position: relative;
    }

    &__heading {
        @include h1();
        color: $cs-black;
    }

    &__subheading {
        @include h2();
        margin-top: 0.5em;

        @include breakpoint($screen-lg) {
            margin-top: 1em;
        }
    }

    &__summary {
        color: $cs-light-grey-1;

        p {
            margin-top: 1.25em;
            @include rundown-text();
        }

        & > div {
            margin: 0;
        }
    }

    &__copy .container {
        color: $cs-grey;
        @include p();

        &-fluid {
            padding: 0;
        }

        & > h1 {
            color: $cs-black;
        }

        & > h2, & > h3, & > h4, & > h5, & > h6 {
            color: $cs-dark-grey-1;
        }

        & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
            margin-top: 40px;
        }

        & > h1 {
            @include h1();
        }

        & > h2 {
            @include h2();
        }

        & > h3 {
            @include h3();
        }

        & > h4 {
            @include h4();
        }

        & > h5 {
            @include h4();
        }

        & > h6 {
            @include h4();
        }

        & > p {
            margin-top: 1.25em;
            @include p();
            /*& > br {
                display: none;
            }

            strong + br {
                display: inline;
            }*/
        }

        & > div {
            margin: 0;
        }

        ul {
            list-style-type: disc;
            margin-bottom: 0;
            padding-left: 1.5em;

            li {
                display: list-item;
            }
        }

        .teads-inread,
        .brightcove,
        .spec-module {
            margin-top: 1.25em !important;
            font-size: 20px;
        }
    }

    &__img {
        width: 100%;
        margin-top: 1.25em;
        @include p();

        &--wide {
            position: absolute;
            top: 50%;
            left: -50%;
            transform: translate(50%, -50%);
            width: 100%;
            max-width: 100%;
        }
    }

    &__img-frame {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin-top: 1.25em;


        &::before {
            content: '';
            display: block;
            padding-top: percentage(9/16);
        }

        &--wide {
            max-height: 450px;
        }

        .article__img {
            margin-top: 0;
        }
    }

    &__img-caption {
        font-size: $font-size-small;
        line-height: normal;
        margin: 7px auto;
        text-align: center;
        color: $cs-dark-grey-1;
    }

    &__type {
        @include button((round:true));
        color: $cs-white;
        display: inline-block;
        float: left;
        font-weight: 600;
        margin-bottom: 15px;
        text-transform: uppercase;

        @include breakpoint($screen-lg) {
            margin-bottom: 30px;
        }

        &--review {
            background-color: $cs-light-blue;
        }

        &--sponsored {
            background-color: $cs-sponsored-green;
            cursor: pointer;

            &::after {
                color: $cs-white;
                content: $icon-info-icon;
                font-family: $font-family-icons;
                font-size: 14px;
                margin-left: 3px;
            }
        }

        &--car-advice,
        &--riding-advice {
            background-color: $cs-accent-green;
        }

        &--video {
            background-color: $cs-orange;
        }

        &--news {
            background-color: $cs-red;
        }

        &--comparison {
            background-color: $cs-purple;
        }

        &--feature {
            background-color: $cs-pink;
        }

        &--motoracing {
            background-color: $cs-dark-grey-1;
        }
    }

    &__date {
        font-size: $font-size-small;
        display: inline-block;
        float: left;
        padding: 0 25px;
        line-height: 31px;
        color: $cs-light-grey-1;
        margin-bottom: 15px;

        @include breakpoint($screen-lg) {
            margin-bottom: 30px;
        }
    }

    &__dateAndTypeContainer {
        float: left;
    }

    &__share {
        &--top {
            float: right;
            margin-bottom: 5px;

            @include breakpoint($screen-lg) {
                margin-bottom: 20px;
            }

            .share-social__link {
                margin-top: -7.5px;
            }
        }

        &--bottom {
            margin-top: 35px;
        }
    }

    &__pricing {
        margin-top: 1em;
        display: inline-block;

        &-label {
            cursor: pointer;
            color: $cs-light-grey-1;
            font-size: $font-size-small;

            &:hover,
            &:active,
            &:focus {
                text-decoration: underline;
            }
        }

        &-price {
            @include h2();
        }
    }

    &__promotion {

        @if($article-promoted-image != "") {
            @include article-promoted-image();
        }
    }


    &__quote {
        @include blockquote();
        padding: 0 7.5%;
        color: $cs-black;
        margin-top: 1.25rem;
    }

    &__authors {
        border-radius: 6px;
        border: solid 1px $cs-light-grey-2;
        padding: 31px 40px;
        margin-top: 35px;
    }
}


// Single Image
.article-type--singleimage,
.article-type--doubleimage,
.article-type--video {
    position: relative;
    width: $screen-md;
    margin: auto;

    @include breakpoint($screen-lg) {
        width: $screen-lg;
    }

    .aside {
        padding-top: 0;
        left: 45px;
        transform: none;
    }

    ._c-modal .slideshow__nav {
        display: none;
    }
}

.article-type--video {
    &::before {
        content: '';
        display: block;
        padding-top: percentage(9/16);
    }
}


.article-type--singleimage,
.article-type--doubleimage {
    .article {
        z-index: 1;
        pointer-events: none;


        & > * {
            pointer-events: auto;
        }

        &::before {
            content: '';
            display: block;
            padding-top: percentage(2/3);
        }

        header {
            position: relative;
        }

        &__heading {
            position: absolute;
            transform: translateY(-100%);
            padding: 150px 30px 25px 30px;
            color: $cs-white;
            width: 100%;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(252,252,252,0) 1%,rgba(0,0,0,0.85) 100%);
            top: -46px + -30px; //Height of container above (button and padding)
            @include breakpoint($screen-lg) {
                top: -61px + -45px; //Height of container above (button and padding)
            }
        }

        &__subheading {
            margin-top: 0;
        }

        &__pricing {
            margin-bottom: 31px;
        }
    }
}

@import "articledropcap";

.article-disclaimer {
    font-size: $font-size-smaller;
    color: $cs-light-grey-2;

    &__heading {
        font-weight: bold;
    }
}