@import "css/globals";

// Module - Aside

.aside {
    $spacing: 90px;

    display: inline-block;
    vertical-align: top;
    width: $aside-width;
    left: calc(#{$screen-sm - $aside-width - ($grid-gutter-width/2)});
    
    padding-top: 30px;
    position: absolute;

    @include breakpoint($screen-md) {
        left: calc(#{$screen-sm - $aside-width + ($grid-gutter-width/2)});        
    }

    @include breakpoint($screen-lg) {
        padding-top: 45px;
        left: calc(#{$screen-lg - $aside-width - ($grid-gutter-width/2)});
    }
}

.article-type--singleimage,
.article-type--doubleimage,
.article-type--video {
    .aside {
        padding-top: 0;
        position: absolute;
        top: 0;
    }
}

.scrollmagic-pin-wrapper--aside {
    $width: 300px;
    $spacing: 90px;

    width: $width;
    display: inline-block;
    vertical-align: top;
    left: calc(50% - ((#{($screen-md - $width - $spacing)})/2));
    margin-left: -$width/2;
    position: relative;

    .aside{
        left: auto;
        margin-left: auto;
        
        @include breakpoint($screen-lg) {
            left: auto
        }
    }

    @include breakpoint($screen-lg) {
        left: calc(50% - ((#{($screen-lg - $width - $spacing)})/2));
    }
}


