.ltm {
    margin: 15px auto 30px;
    border: 1px solid $cs-lighter-grey;
    border-radius: $cs-border-radius;


    @include breakpoint($screen-lg) {
        margin: 30px auto 45px;
    }

    &__item {
        display: inline-block;
        padding: 0 30px;
        margin: 15px auto;

        &:nth-of-type(n+2) {
            border-left: 1px solid $cs-lighter-grey;
        }
    }

    &__heading {
        font-size: $font-size-h6;
        color: $cs-grey;

        @include breakpoint($screen-lg) {
            font-size: $font-size-h5;
        }
    }

    &__value {
        font-size: $font-size-h5;
        color: $cs-dark-grey;
        font-weight: $font-weight-400;

        @include breakpoint($screen-lg) {
            @include p();
        }
    }
}
