table {
    $thead-font-color: #000000;
    $tbody-font-color: #898989;

    width: 100%;
    margin-top: 1.25em;
    background-color: #fff;
    border-collapse: collapse;
    color: $tbody-font-color;

    thead {
        font-weight: bold;
        color: $thead-font-color;

        th {
            vertical-align: bottom;
        }
    }

    th,
    td {
        padding: 10px;
        vertical-align: top;

        &:first-child {
            padding-left: 25px;
        }
    }

    tbody tr:nth-of-type(odd) {
        background-color: rgba(241, 241, 241, 0.31);
    }

    th,
    td,
    thead th,
    tbody + tbody {
        border: 0;
    }
}
