@model IEnumerable<Csn.Retail.Editorial.Web.Features.Details.Models.MoreArticleItem>

<div class="more-articles">
    <div class="container">
        <div class="more-articles__filters">
            @* Loop through filters *@
            @foreach (var tag in Model)
            {
                <a href="@tag.Uri" class="more-articles__filter">@tag.Title</a>
            }
        </div>
        <div class="more-articles__frame lory-slider__frame">
            <ul class="more-articles__slides lory-slider__slides">
            </ul>
        </div>

        <div class="more-articles__nav">
            <button class="more-articles__button more-articles__button--show-hide">Show</button>
            <button class="more-articles__nav-button more-articles__nav-button--prev">Prev</button>
            <button class="more-articles__nav-button more-articles__nav-button--next" data-more-articles-url="/editorial/api/more-articles/?uri=@Html.Encode(Model.First().Uri)">Next</button>
        </div>
    </div>
</div>
