// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #009DDC;


// Logo
$logo-header: 'images/carpoint/logo-carpoint.svg';
$logo-header-width: 160px; // max width - leaderboard
$logo-header-height: 70px;