// ---------------------------------------------------------------------------
// Settings
@import "../../../../../shared/assets/css/variables/_variables.scss";


.editors-ratings {
     border-radius: 6px;
     border: solid 1px $cs-lightest-grey;
     padding: 30px 35px;
     max-width: 300px;
}

@import "./_expertRatings.scss";
@import "./_procon.scss";