@import "css/globals";
@import "./iNav.variables";

#iNav {
    width: $iNav-width;
    position: relative;
    z-index: 2;

}

.scrollmagic-pin-spacer--iNav {
    min-height: $iNav-header-height !important;
    height: $iNav-header-height !important;
}


.iNav--v1 {
    top: -15px;

    .iNav {
        background-color: $iNav-background-color;
        border-bottom: 1px solid $cs-light-grey-2;
        position: relative;
        box-shadow: 0 2px 3px 0 rgba(166, 166, 166, 0.36);
    }
}

.iNav--v2 {
    .iNav {
        .iNav__container {
            transition: background-color 0.333s;
            background-color: rgba($iNav-background-color, 0.1);
            border-radius: 4px;

            .iNav-category__list-wrapper {
                @media screen and (max-height: 730px) {
                    max-height: $category-container-height - ($spacing*2) - $cancel-bar-height - $category-header-height + 10px;
                }

                @media screen and (max-height: 610px) {
                    max-height: calc(100vh - #{($category-container-height - ($spacing*2) - $cancel-bar-height - $category-header-height + 10px + $iNav-hero-additional-height)});
                }

                .iNav-category__list {
                    @media screen and (max-height: 730px) {
                        max-height: $category-container-height - ($spacing*2) - $cancel-bar-height - $category-header-height;
                    }

                    @media screen and (max-height: 610px) {
                        max-height: calc(100vh - #{($category-container-height - ($spacing*2) - $cancel-bar-height - $category-header-height + 15px + $iNav-hero-additional-height)});
                    }
                }

                &:nth-of-type(n+2) {
                    .iNav-category__list {
                        @media screen and (max-height: 730px) {
                            max-height: $category-container-height - ($spacing*2) - $cancel-bar-height - $category-header-height + 15px - 40px;
                        }

                        @media screen and (max-height: 610px) {
                            max-height: calc(100vh - #{($category-container-height - ($spacing*2) - $cancel-bar-height + 15px + $iNav-hero-additional-height)});
                        }
                    }
                }
            }
        }
    }

    .scrollmagic-pin-spacer--iNav {
        &.isActive {
            .iNav {
                background-color: $iNav-background-color;
                border-bottom: 1px solid $cs-light-grey-2;
                position: relative;
                box-shadow: 0 2px 3px 0 rgba(166, 166, 166, 0.36);

                .iNav__container {
                    background-color: rgba($iNav-background-color, 0);
                }
            }
        }
    }
}

.iNav {
    transition: background-color 0.333s;

    &::after {
        content: '';
        opacity: 0;
        background-color: rgba(255,255,255,0.6);
        transition: opacity .3s;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
    }

    &--isActive {

        &::after {
            opacity: 1;
            pointer-events: auto;
        }
    }
    // Category container
    &__container {
        height: $iNav-header-height;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;

        @include breakpoint($screen-md) {
            width: calc(#{$screen-md});
        }

        @include breakpoint($screen-lg) {
            width: calc(#{$screen-lg});
        }
    }
}