@using Csn.Retail.Editorial.Web.Features.DisplayAds
@using Csn.Retail.Editorial.Web.Features.DisplayAds.HtmlHelpers

<header id="page-header" class="page-header" data-webm-section="page-header">
    <div class="container">
        @{ Html.RenderPartial("Partials/_SiteLogo"); }
        @{ Html.RenderDisplayAd(DisplayAdPlacements.Leaderboard); }
    </div>
</header>