<header id="page-header" class="page-header" data-webm-section="page-header">
    <div class="container">
        @{ Html.RenderPartial("Partials/_SiteLogo"); }
        @{ Html.RenderPartial("~/Features/MediaMotiveAds/Views/_Leaderboard.cshtml"); }
    </div>
</header>