@model Csn.Retail.Editorial.Web.Features.Details.Models.SocialMetaData


<div class="share-social">
    @* Because of style these show in reverse order *@
    <a class="share-social__link share-social__link--email" href="mailto:?subject=@Model.Title&amp;body=@Model.Url">
        <div class="share-social__link-icon icon-envelope-lg"></div>
        <div class="share-social__link-text">Email</div>
    </a>
    <a class="share-social__link share-social__link--reddit share-social__link--popup" href="http://www.reddit.com/submit?@Model.Url">
        <div class="share-social__link-icon icon-reddit"></div>
        <div class="share-social__link-text">Reddit</div>
    </a>
    <a class="share-social__link share-social__link--pinterest share-social__link--popup" href="http://pinterest.com/pin/create/button/?url=@Model.Url&amp;media=@Model.Image">
        <div class="share-social__link-icon icon-pinterest_icon"></div>
        <div class="share-social__link-text">Pintrest</div>
    </a>
    <a class="share-social__link share-social__link--facebook share-social__link--popup" href="http://www.facebook.com/sharer.php?u=@Model.Url">
        <div class="share-social__link-icon icon-facebook"></div>
        <div class="share-social__link-text">Facebook</div>
    </a>
    <a class="share-social__link share-social__link--google-plus share-social__link--popup" href="http://plus.google.com/share?url=@Model.Url">
        <div class="share-social__link-icon icon-google_plus"></div>
        <div class="share-social__link-text">Google Plus</div>
    </a>
    <a class="share-social__link share-social__link--twitter share-social__link--popup" href="https://twitter.com/intent/tweet?text=@Model.Title&amp;url=@Model.Url">
        <div class="share-social__link-icon icon-twitter"></div>
        <div class="share-social__link-text">Twitter</div>
    </a>
</div>