@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

@section Head {
}

@section Styles {
}


@section TopScripts {
}

<div class="top-panel">
    <p>This is the default template</p>
    
    @{ Html.RenderPartial("Partials/Hero/_Hero", Model.HeroSection); }
</div>
<div class="main-panel">
    <h1>@Model.Headline</h1>
    @{ Html.RenderPartial("Partials/_Main", Model); }
</div>
<div class="side-panel"></div>