@using Csn.Retail.Editorial.Web.Features.Shared.HtmlHelpers
@using Csn.Retail.Editorial.Web.Features.Shared.Proxies.EditorialApi
@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

@{
    var tenantName = Html.CurrentTenant().TenantName;
    var isWide = Model.ArticleTemplateType == ArticleTemplateType.Wide;
}

@section Head {
    @{ Html.RenderPartial("Partials/Head/_BasicSeoData", Model.SeoData); }
    @{ Html.RenderPartial("Partials/Head/_SocialMetaData", Model.SocialMetaData); }
}

@section Styles {
    @if (Model.ArticleTemplateType == ArticleTemplateType.Narrow)
    {
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
    }

    @Html.AssetCss("details-page--" + tenantName)
}

@section TopScripts {
    @Html.AssetJs("details.vendor", LoadType.Defer)
    @Html.AssetJs("details-page--" + tenantName, LoadType.Defer)
    @Html.AssetJs("csn.displayAds--" + tenantName, LoadType.Defer)
}

<div class="page-container">
    @{
        if (Html.CurrentTenant().TenantName != "redbook")
        {
            Html.RenderPartial("Partials/_Header");
        }
    }


    <article class="article-type article-type--@Model.HeroSection.Type.ToString().ToLower()">
        @{ Html.RenderPartial("Partials/Hero/_Hero", Model.HeroSection); }

        @{ Html.RenderPartial("Partials/_Main"); }

        @if (!isWide)
        {
            Html.RenderPartial("Partials/_Aside");
        }
    </article>

    @{ Html.RenderPartial("Partials/Modal/_Modal"); }
</div>


@section BottomScripts
{
    @{ Html.RenderPartial("Partials/Tracking/_CsnInsights", Model.InsightsData); }
    @{ Html.RenderPartial("Partials/Widgets/SpecModule/_SpecModuleData", Model); }
    @{ Html.RenderPartial("Partials/SeoSchema/_SeoSchemaMarkup", Model.SeoSchemaMarkup);}

    @if (Model.MoreArticleData != null)
    {
        Html.RenderPartial("Partials/Widgets/MoreArticles/_MoreArticleData", Model.MoreArticleData);
    }
    @if (Model.PolarNativeAdsData != null)
    {
        Html.RenderPartial("Partials/PolarNativeAds/_PolarNativeAds", Model.PolarNativeAdsData);
    }
}