@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@using Csn.Retail.Editorial.Web.Infrastructure.Extensions
@using React.Web.Mvc
@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

@{
    var tenantName = Html.CurrentTenant().Name.ToLower();
}

@section Head {
    @{ Html.RenderPartial("Partials/Tracking/_WebTrendsData", Model.WebTrendsTags); }
    @{ Html.RenderPartial("Partials/Head/_BasicSeoData", Model.SeoData); }
    @{ Html.RenderPartial("Partials/Head/_SocialMetaData", Model.SocialMetaData); }
}

@section Styles {
    @Html.AssetCss("details-page--" + tenantName)
}

@section TopScripts {
    @Html.AssetJs("details-page--" + tenantName, LoadType.Defer)
}

@{ Html.RenderPartial("_Header", Model.MediaMotiveData); }

<article class="article-type article-type--@Model.HeroSection.Type.ToString().ToLower()">
    @{ Html.RenderPartial("Partials/Hero/_Hero", Model.HeroSection); }
    <div class="container">
        @{ Html.RenderPartial("Partials/_Main"); }
        @{ Html.RenderPartial("Partials/_Aside"); }
    </div>
</article>
@{ Html.RenderPartial("Partials/Modal/_Modal"); }

@section BottomScripts
{
    @{ Html.RenderAction("WebMetricsScripts", "Tracking"); }
    @{ Html.RenderPartial("Partials/Tracking/_CsnInsights", Model.InsightsData); }
    @{ Html.RenderAction("HtmlTrackingDetails", "Tracking", new { Article = Model, PageType = "details" }); }
    @{ Html.RenderPartial("Partials/Widgets/SpecModule/_SpecModuleData", Model); }
    @if (Model.MoreArticleData != null)
    {
        Html.RenderPartial("Partials/Widgets/MoreArticles/_MoreArticleData", Model.MoreArticleData);
    }
    @if (Model.PolarNativeAdsData != null)
    {
        Html.RenderPartial("Partials/PolarNativeAds/_PolarNativeAds", Model.PolarNativeAdsData);
    }
    @{ Html.RenderPartial("Partials/Hotjar/_hotjarTracking"); }
    @{ Html.RenderPartial("Partials/MediaMotive/_MediaMotiveScripts"); }
    @{ Html.RenderPartial("Partials/MediaMotive/_Krux", Model.MediaMotiveData); }
}