@using Csn.Retail.Editorial.Web.Features.Shared.HtmlHelpers
@using Csn.Retail.Editorial.Web.Features.Shared.Proxies.EditorialApi
@using Csn.Retail.Editorial.Web.Infrastructure.AssetMappers
@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

@{
    var tenantName = Html.CurrentTenant().TenantName;
    var isWide = Model.ArticleTemplateType == ArticleTemplateType.Wide;
    var isNarrow = Model.ArticleTemplateType == ArticleTemplateType.Narrow;
}

@section Head {
    @{ Html.RenderPartial("Partials/Head/_BasicSeoData", Model.SeoData); }
    @{ Html.RenderPartial("Partials/Head/_SocialMetaData", Model.SocialMetaData); }
}

@section Styles {
    
    <noscript id="deferred-styles">
        <link rel="stylesheet" href="https://resource.csnstatic.com/carsales/globals/css/fonts-V1.base64.min.css">
        
        @if (isNarrow)
        {
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab">
        }
    </noscript>

    @Html.AssetCss("details-page--" + tenantName)
}

@section TopScripts {
    @Html.AssetJs("details.vendor", LoadType.Defer)
    @Html.AssetJs("details-page--" + tenantName, LoadType.Defer)
    @Html.AssetJs("csn.mediaMotive--" + tenantName, LoadType.Defer)
}

<div class="page-container">
    @{
        if (Html.CurrentTenant().TenantName != "redbook")
        {
            Html.RenderPartial("Partials/_Header");
        }
    }
    

    <article class="article-type article-type--@Model.HeroSection.Type.ToString().ToLower()">
        @{ Html.RenderPartial("Partials/Hero/_Hero", Model.HeroSection); }

        @{ Html.RenderPartial("Partials/_Main"); }

        @if (!isWide)
        {
            Html.RenderPartial("Partials/_Aside");
        }
    </article>

    @{ Html.RenderPartial("Partials/Modal/_Modal"); }
</div>


@section BottomScripts
{
    @{ Html.RenderAction("WebMetricsScripts", "Tracking"); }
    @{ Html.RenderPartial("Partials/Tracking/_CsnInsights", Model.InsightsData); }
    @{ Html.RenderAction("HtmlTrackingDetails", "Tracking", new { Article = Model, PageType = "details" }); }
    @{ Html.RenderPartial("Partials/Widgets/SpecModule/_SpecModuleData", Model); }
    @if (Model.MoreArticleData != null)
    {
        Html.RenderPartial("Partials/Widgets/MoreArticles/_MoreArticleData", Model.MoreArticleData);
    }
    @if (Model.PolarNativeAdsData != null)
    {
        Html.RenderPartial("Partials/PolarNativeAds/_PolarNativeAds", Model.PolarNativeAdsData);
    }
    @{ Html.RenderPartial("Partials/MediaMotive/_Krux", Model.MediaMotiveData); }
    
}