@model Csn.Retail.Editorial.Web.Features.Details.ArticleViewModel
    
@section Head {
}

@section Styles {
}


@section TopScripts {
}

<div class="main-panel">
    @{ Html.RenderPartial("Heroes/_Hero", @Model.HeroSection); }
    <h1>@Model.Headline</h1>
    <p>This is the single image template</p>
</div>
<div class="side-panel"></div>