// Vertical Specific Settings


// Colors - Vertical
$cs-primary: #007CC2;


// Logo
$logo-header: 'Images/Soloautos/logo-soloautos.svg';
$logo-header-width: 143px; // max width = width(992) - leaderboard(728) - padding(30)
$logo-header-height: 90px; // hieght limits width b/c aspect ratio

$logo-header--transparent: 'Images/Soloautos/logo-soloautos.svg'; // TODO: Update when available
$logo-header-width--transparent: 103px;
$logo-header-height--transparent: 40px;

