// Module - Hero

.hero {
    padding-left: 0;
    padding-right: 0;
    min-height: 0;
}

.hero__imageContainer {
    background-color: $cs-darkest-grey;
    position: relative;

    img {
        @include img-responsive();
    }
}

.hero--singleImage {

    @include breakpoint($screen-lg) {
        padding-left: 75px;
        padding-right: 44px;
    }
}

.hero--singleVideo {

    @include breakpoint($screen-lg) {
        padding-left: 75px;
        padding-right: 44px;
    }
}

.hero.hero--imageAndVideo {

    padding-top: percentage((2/3)*matchingAspectRatioHeight(3/2, (3/2, 16/9))); //Aspect ratio / number of images
    position: relative;
    overflow: hidden;

    .slideshow,
    .brightcove {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    // Move to there own blocks
    .slideshow {
        right: 0;
        width: percentage(matchingAspectRatioHeight(3/2, (3/2, 16/9))); //The intersection where 3:2 and 16:9 have the same height
    }
    .brightcove {
        left: 0;
        width: percentage(matchingAspectRatioHeight(16/9, (3/2, 16/9))); //The intersection where 3:2 and 16:9 have the same height
    }
}

@include breakpoint($screen-lg) {
    .hero.hero--imageAndVideo {
        padding-top: percentage((2/3)*matchingAspectRatioHeight(3/2, (3/2, 3/2, 16/9))); //Aspect ratio / number of images

        // Move to there own blocks
        .slideshow {
            width: 2*percentage(matchingAspectRatioHeight(3/2, (3/2, 3/2, 16/9))); //The intersection where 3:2 and 16:9 have the same height
        }
        .brightcove {
            width: percentage(matchingAspectRatioHeight(16/9, (3/2, 3/2, 16/9))); //The intersection where 3:2 and 16:9 have the same height
        }
    }
}


// TODO: can remove
body:not(.ie) .hero {
    ._c-slideshow {

    padding-top: 33.333333%;
    min-height: 400px;
    overflow: hidden;

	    &__slider {
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
	    }

        &__image {
            width: 100%;
        }

    }

}

