@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel


@{
    var dropCap = Model.UseDropCase ? "drop-cap" : "";
}

<div class="article__copy @dropCap">
    @foreach (var contentSection in Model.ContentSections)
    {
        // use convention based mapping for determining the view (based on section type)
        Html.RenderPartial($"Partials/ContentSections/_{contentSection.SectionType}", contentSection);
    }
</div>