@model Csn.Retail.Editorial.Web.Features.Details.Models.ArticleViewModel

<div class="container" >
    <div class="cf pos-r">
        <div class="article__dateAndTypeContainer">
            @{
                if (Model.IsSponsoredArticle)
                {
                    Html.RenderPartial("Partials/Content/_SponsoredArticleTab");
                }
                else
                {
                    @:<div class="article__type article__type--@Model.ArticleType.ToLower().Replace(' ', '-')">@Model.ArticleType</div>
                }
            }
            <div class="article__date">@Model.DateAvailable</div>
        </div>

        <div class="article__share article__share--top" data-webm-section="social-sharing-top">
            @{Html.RenderPartial("Partials/SocialNetworks/_SocialMediaLinks", Model.SocialMetaData);}
        </div>
    </div>
</div>