<div class="article__type article__type--sponsored" data-description="<h2>Sponsored & Advertorial Content</h2><p>In some cases, Carsales will work with advertisers to bring you relevant content that has been made possible by advertisers and their partners, these Ads will be marked 'Sponsored'. Carsales has reviewed the content to ensure it is relevant and of appropriate quality.</p><p><a href='https://help.carsales.com.au/hc/en-gb/articles/208468026-About-Ad-Content-personalisation' target='_blank'>Learn More</a></p>">
    Sponsored
</div>