<header id="page-header" class="page-header page-header--transparent container" data-webm-section="page-header">
    <div class="container">
        <a href="~/" class="page-header__logo" data-webm-clickvalue="site-icon">Carsales.com.au - Australia's No.1 Auto Website">Carsales.com.au - Australia's No.1 Auto Website</a>
    </div>
</header>
