@model Csn.Retail.Editorial.Web.Features.Details.Models.MediaMotiveData

@foreach (var mediamotivedata in Model.MediaMotiveItem)
{
    if (mediamotivedata.TileId == "Tile3")
    {
        var mediaMotiveDomain = Model.MediaMotiveDomain;
        var tileUri = mediamotivedata.TileUri;

        <div id="Tile3" class="mrec-block" data-krux-required="True" data-media-motive-url="@mediaMotiveDomain@mediamotivedata.TileUrls.JServerUrl@tileUri">
            <noscript>
                <a target="_blank" href="@mediaMotiveDomain@mediamotivedata.TileUrls.AdClickUrl@tileUri">
                    <img src="@mediaMotiveDomain@mediamotivedata.TileUrls.IServerUrl@tileUri" width="300" height="250" border="0" alt="Advertisement" />
                </a>
            </noscript>
        </div>
    }
}