@using Csn.Retail.Editorial.Web.Features.MediaMotiveAds
@model Csn.Retail.Editorial.Web.Features.Shared.Proxies.EditorialApi.MediaMotiveData

@if (Model.ShowSponsoredTextLinks)
{
<div class="sponsored-text-links">
    <div class="sponsored-text-links__title">Sponsored Links</div>
    <div class="sponsored-text-links__ads">
        @{ Html.RenderAction("Index", "MediaMotiveAds", new { query = new MediaMotiveAdQuery() { TileId = "Tile9", MediaMotiveData = Model } }); }
        @{ Html.RenderAction("Index", "MediaMotiveAds", new { query = new MediaMotiveAdQuery() { TileId = "Tile10", MediaMotiveData = Model } }); }
        @{ Html.RenderAction("Index", "MediaMotiveAds", new { query = new MediaMotiveAdQuery() { TileId = "Tile11", MediaMotiveData = Model } }); }
        @{ Html.RenderAction("Index", "MediaMotiveAds", new { query = new MediaMotiveAdQuery() { TileId = "Tile12", MediaMotiveData = Model } }); }
        @{ Html.RenderAction("Index", "MediaMotiveAds", new { query = new MediaMotiveAdQuery() { TileId = "Tile13", MediaMotiveData = Model } }); }
    </div>
</div>
}