@model Csn.Retail.Editorial.Web.Features.Shared.Models.MediaMotiveData

@foreach (var mediamotivedata in Model.MediaMotiveItem)
{
    if (mediamotivedata.TileId == "Tile20")
    {
        var mediaMotiveDomain = Model.MediaMotiveDomain;
        var tileUri = mediamotivedata.TileUri;

        <div class="container">
            <div id="@mediamotivedata.TileId" class="mediamotive-block mm-tracking-block" data-krux-required="True" data-media-motive-url="@mediaMotiveDomain@mediamotivedata.TileUrls.JServerUrl@tileUri">
                <noscript>
                    <a target="_blank" href="@mediaMotiveDomain@mediamotivedata.TileUrls.AdClickUrl@tileUri">
                        <img src="@mediaMotiveDomain@mediamotivedata.TileUrls.IServerUrl@tileUri" width="1" height="1" border="0" alt="Advertisement" />
                    </a>
                </noscript>
            </div>
        </div>
    }
}