@{
    Layout = "../ErrorTemplate.cshtml";
}

<p class="error-content__message">Lo sentimos, pero no podemos encontrar la página que está buscando.</p>
<p class="error-content__message">Es posible que desee encontrar más artículos <a href="/noticias/">aquí</a>.</p>