// Variables - Colours
// Basic
$cs-white: #FFFFFF;
$cs-black: #000000;
// Brand Colours
$cs-blue: #007CC2;
$cs-grey: #4D4D4D;
$cs-dark-grey: #333333;
$cs-orange: #FF8A2A;
$cs-green: #6CBA3D;
$cs-red: #EE3C27;
$cs-purple: purple;
$cs-pink: #E6176F;
// Support Colours
$cs-light-blue: #4CC8E8;
$cs-dark-blue: #1b83c4;
$cs-light-blue-grey: #D0D1CE;
// Canvas Colours
$cs-canvas-wall: #F2F2F2;
$cs-canvas-sky: #EBFAFC;
$cs-canvaas-sand: #FAF9F8;
// Accent Colours
$cs-accent-green: #5C9B1C;
$cs-accent-yellow: #FFDB00;
$cs-accent-orange: #FF5000;
// Sponsored
$cs-sponsored-green: #87D200;
// Greys
$cs-dark-grey-3: #262626;
$cs-dark-grey-2: #333333;
$cs-dark-grey-1: #424242;
$cs-grey: #828282;
$cs-light-grey-1: #999999;
$cs-light-grey-2: #CCCCCC;
$cs-light-grey-3: #F1F1F1;
$cs-light-grey-4: #FCFCFC;
$cs-light-grey-5: #666666;
$cs-light-grey-6: #EEEEEE;

// Social Media
$color-fb: #3B5998;
$color-twitter: #1DA1F2;
$color-google-plus: #D34836;
$color-pinterest: #BD081C;
$color-tumblr: #35465C;
$color-reddit: #FF4500;