// Variables - Colours

// Basic
$cs-white: #FFFFFF;
$cs-black: #000000;

// Brand Colours
$cs-blue: #4CC8E8;
$cs-grey: #4D4D4D;
$cs-orange: #FF8A2A;
$cs-green: #6CBA3D;
$cs-red: #EE3C27;
$cs-purple: purple;

// Support Colours
$cs-light-blue: #63CBE8;
$cs-dark-blue: #00468B;
$cs-light-blue-grey: #D0D1CE;

// Canvas Colours
$cs-canvas-wall: #F2F2F2;
$cs-canvas-sky: #EBFAFC;
$cs-canvaas-sand: #FAF9F8;

// Accent Colours
$cs-accent-green: #94D500;
$cs-accent-yellow: #FFDB00;
$cs-accent-orange: #FF5000;

// Greys
$cs-darkest-grey: #262626;
$cs-darker-grey: #393939;
$cs-dark-grey: #5D5D5D;
$cs-grey: #808080;
$cs-light-grey: #B9B9B9;
$cs-lighter-grey: #DBDBDB;
$cs-lightest-grey: #F2F2F2;

// From the Designs

// Colors
$cs-blue: #007CC2;
$cs-light-blue: #4CC8E8;

// Shades
$cs-dark-grey: #4A4A4A;
$cs-light-grey: #9B9B9B;
$cs-lighter-grey: #E9E9E9;
